Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

lefthook.yml:

glob_matcher: doublestar

pre-commit:
  parallel: true
  commands:
    js-lint:
      run: npx eslint {staged_files}
      glob: "**/*.{js,vue}"
    style-lint:
      run: npx stylelint {staged_files}
      glob: "**/*.{less,css,vue}"
    i18n-lint:
      run: npm run lint:i18n
      glob: "i18n/*.json"
    md-lint:
      run: npm run lint:md
      glob: "*.md"
    test:
      run: npx vitest run
      glob: "**/*.{js,vue}"

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    devmoji:
      run: npx devmoji -e --lint

build: release 3.15.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

Added .skin-citizen class for specificity
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.styles.less
Due: style-lint

Fix lint errors by using tabs
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.styles.less
Due: style-lint

Fix weird spacing with tooltip & added !important overrides
  skinStyles/extensions/UserProfileV2/ext.userProfileV2.less
Due: style-lint

Update ext.userProfileV2.less
  skinStyles/extensions/UserProfileV2/ext.userProfileV2.less
Due: style-lint

Localisation updates from https://translatewiki.net.
  i18n/he.json
  i18n/lb.json
  i18n/sms.json
  i18n/zh-hans.json
Due: i18n-lint

Update skinStyles/extensions/UserProfileV2/ext.userProfileV2.less
  skinStyles/extensions/UserProfileV2/ext.userProfileV2.less
Due: style-lint

feat(UserProfileV2): ✨ fix tooltip spacing and update styles
  skinStyles/extensions/UserProfileV2/ext.userProfileV2.less
Due: style-lint

fix(commandPalette): 🐛 use scrollHeight to prevent ResizeObserver shrink loop
  resources/skins.citizen.commandPalette/components/App.vue
Due: js-lint, style-lint, test

fix(commandPalette): 🐛 improve body height animation and scrolling
  resources/skins.citizen.commandPalette/components/App.vue
Due: js-lint, style-lint, test

chore(deps): 🔗 remove unused pinia dependency
  package-lock.json
  package.json
Due: none

Localisation updates from https://translatewiki.net.
  i18n/et.json
  i18n/it.json
Due: i18n-lint

Localisation updates from https://translatewiki.net.
  i18n/it.json
  i18n/ko.json
  i18n/sh-latn.json
  i18n/skr-arab.json
Due: i18n-lint

fix(mixins): 🐛 invalid `hsl()` syntax
  resources/mixins.less
Due: style-lint

feat(Codex): ✨ set border-radius on Codex/OOUI message block
  resources/skins.citizen.codex.styles/CdxMessage.less
  skin.json
  skinStyles/ooui/oojs-ui-core.less
Due: style-lint

feat(share): replace icon
  resources/skins.citizen.styles/components/IconAnimation.less
  templates/Icon__share.mustache
  templates/Share.mustache
Due: style-lint

feat(share): ✨ working popup
  resources/skins.citizen.scripts/share.js
  resources/skins.citizen.share/App.vue
  resources/skins.citizen.share/init.js
  skin.json
  templates/Share.mustache
Due: js-lint, style-lint, test

feat(share): ✨ copy link functionality
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

feat(share): ✨ more options
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

feat(share): ✨ social media buttons
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

feat(share): ✨ proper truncation
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

fix(share): 🐛 lint
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

fix(share): 🐛 more lint issues
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

feat(share): ✨ override sticky header icon
  resources/skins.citizen.share/App.vue
  resources/skins.citizen.styles/assets/images/share.svg
  resources/skins.citizen.styles/icons.less
Due: js-lint, style-lint, test

feat(share): ✨ only use host and pathname
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

Localisation updates from https://translatewiki.net.
  i18n/ru.json
Due: i18n-lint

feat(share): ✨ better ux if clicked from the sticky header
  resources/skins.citizen.scripts/share.js
Due: js-lint, test

feat(share): ✨ " -n
  includes/Components/CitizenComponentPageTools.php
  includes/Components/CitizenComponentStickyHeader.php
  includes/SkinCitizen.php
  skin.json
Due: none

feat(share): ✨ include protocol
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

fix(toc): 🐛 allow ToC heading to wrap
  resources/skins.citizen.styles/components/TableOfContents.less
Due: style-lint

chore: set up context7 claim
  context7.json
Due: none
