Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

lefthook.yml:

glob_matcher: doublestar

pre-commit:
  parallel: true
  commands:
    js-lint:
      run: npx eslint {staged_files}
      glob: "**/*.{js,vue}"
    style-lint:
      run: npx stylelint {staged_files}
      glob: "**/*.{less,css,vue}"
    i18n-lint:
      run: npm run lint:i18n
      glob: "i18n/*.json"
    md-lint:
      run: npm run lint:md
      glob: "*.md"
    test:
      run: npx vitest run
      glob: "**/*.{js,vue}"

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    devmoji:
      run: npx devmoji -e --lint

fix(commandPalette): 🐛 remember rows opened with a middle click in Recent
  resources/skins.citizen.commandPalette/components/CommandPaletteGalleryItem.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteListItem.vue
  tests/vitest/commandPalette/components/CommandPaletteGalleryItem.test.js
  tests/vitest/commandPalette/components/CommandPaletteListItem.test.js
Due: js-lint, style-lint, test

perf(commandPalette): ⚡️ build only the Recent rows the palette shows
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/providers/RecentItemsProvider.js
  resources/skins.citizen.commandPalette/services/recentItems.js
  resources/skins.citizen.commandPalette/utils/formatTimestamp.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/providers/RecentItemsProvider.test.js
  tests/vitest/commandPalette/services/recentItems.test.js
  tests/vitest/commandPalette/utils/formatTimestamp.test.js
Due: js-lint, test

perf(commandPalette): ⚡️ check where a go landed once the page is idle
  resources/skins.citizen.commandPalette/services/recentItems.js
  resources/skins.citizen.scripts/goLanding.js
  resources/skins.citizen.scripts/skin.js
  tests/vitest/commandPalette/services/recentItems.test.js
  tests/vitest/skins.citizen.scripts/goLanding.test.js
  tests/vitest/skins.citizen.scripts/skin.test.js
Due: js-lint, test

refactor(commandPalette): ♻️ draw each kind of Recent row in its own function
  resources/skins.citizen.commandPalette/providers/RecentItemsProvider.js
  resources/skins.citizen.commandPalette/utils/recentEntry.js
  resources/skins.citizen.scripts/goLanding.js
  tests/vitest/commandPalette/utils/recentEntry.test.js
Due: js-lint, test

refactor(commandPalette): ♻️ let a mode choose how Recent remembers its rows
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/services/defineMode.js
  resources/skins.citizen.commandPalette/services/recentItems.js
  resources/skins.citizen.commandPalette/types.js
  resources/skins.citizen.commandPalette/utils/formatTimestamp.js
  resources/skins.citizen.commandPalette/utils/recentEntry.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/services/defineMode.test.js
  tests/vitest/commandPalette/services/recentItems.test.js
  tests/vitest/commandPalette/utils/recentEntry.test.js
Due: js-lint, test

fix(commandPalette): 🐛 never overwrite a newer Recent history
  resources/skins.citizen.commandPalette/services/recentItems.js
  resources/skins.citizen.commandPalette/utils/recentEntry.js
  tests/vitest/commandPalette/services/recentItems.test.js
  tests/vitest/commandPalette/utils/recentEntry.test.js
  tests/vitest/mocks/commandPaletteIcons.js
Due: js-lint, test

feat(commandPalette): ✨ show who edited and when, user buttons and file thumbnails in Recent
  resources/skins.citizen.commandPalette/modes/file.js
  resources/skins.citizen.commandPalette/modes/history.js
  resources/skins.citizen.commandPalette/modes/user.js
  resources/skins.citizen.commandPalette/types.js
  resources/skins.citizen.commandPalette/utils/recentEntry.js
  tests/vitest/commandPalette/modes/file.test.js
  tests/vitest/commandPalette/modes/history.test.js
  tests/vitest/commandPalette/modes/user.test.js
  tests/vitest/commandPalette/utils/recentEntry.test.js
Due: js-lint, test

refactor(commandPalette): ♻️ share the time, user and file helpers
  resources/skins.citizen.commandPalette/modes/file.js
  resources/skins.citizen.commandPalette/modes/history.js
  resources/skins.citizen.commandPalette/modes/user.js
  resources/skins.citizen.commandPalette/utils/fileMedia.js
  resources/skins.citizen.commandPalette/utils/formatTimestamp.js
  resources/skins.citizen.commandPalette/utils/userActions.js
  skin.json
  tests/vitest/commandPalette/utils/fileMedia.test.js
  tests/vitest/commandPalette/utils/formatTimestamp.test.js
  tests/vitest/commandPalette/utils/userActions.test.js
  tests/vitest/mocks/commandPaletteIcons.js
Due: js-lint, test

feat(commandPalette): ✨ show the page a go landed on in Recent
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/services/recentItems.js
  resources/skins.citizen.scripts/goLanding.js
  resources/skins.citizen.scripts/skin.js
  skin.json
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/services/recentItems.test.js
  tests/vitest/mocks/mw.js
  tests/vitest/skins.citizen.scripts/goLanding.test.js
  tsconfig.json
Due: js-lint, test

build: release 3.25.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

fix(commandPalette): 🐛 format history and Recent dates in the interface language
  resources/skins.citizen.commandPalette/utils/formatTimestamp.js
  tests/vitest/commandPalette/utils/formatTimestamp.test.js
Due: js-lint, test

fix(commandPalette): 🐛 show file upload dates in the interface language
  resources/skins.citizen.commandPalette/modes/file.js
Due: js-lint, test

Localisation updates from https://translatewiki.net.
  i18n/he.json
Due: i18n-lint

refactor(commandPalette): ♻️ drop an unused eslint-disable in fetchJson
  resources/skins.citizen.commandPalette/utils/fetch.js
Due: js-lint, test

docs: deploy main @ b7299df98d1eb5e6b97849840b6907e23324ed1c b7299df98d1eb5e6b97849840b6907e23324ed1c
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ c1ca0608a23698cabd7983f156cefca23318fc4e c1ca0608a23698cabd7983f156cefca23318fc4e
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ da81683352efd1fe41a60c1165344e976eeef150 da81683352efd1fe41a60c1165344e976eeef150
  llms-full.txt
  llms.txt
Due: none

style(file): 🎨 allow #filetoc to wrap for long localizations
  skinStyles/mediawiki/action/mediawiki.action.view.filepage.less
Due: style-lint

Localisation updates from https://translatewiki.net.
  i18n/tr.json
  i18n/vi.json
Due: i18n-lint

fix(file): 🐛 make #filetoc scrollable on narrow viewports
  resources/skins.citizen.scripts/overflowElements/index.js
  skinStyles/mediawiki/action/mediawiki.action.view.filepage.less
Due: js-lint, style-lint, test

docs(showcase): 📚️ add Utaite Wiki and 창팝위키
  docs/data/showcase-metadata.json
  docs/data/showcase-shots.json
  docs/data/showcase.json
Due: none

chore(showcase): 🔧 hide Mailchimp's signup pop-up in screenshots
  docs/scripts/showcase/capture.js
Due: js-lint, test

chore(showcase): 🔧 refresh the screenshots
  docs/data/showcase-metadata.json
  docs/data/showcase-shots.json
Due: none

fix(overflow): 🐛 tolerate subpixel rounding when detecting scroll end
  resources/skins.citizen.scripts/overflowElements/state.js
Due: js-lint, test

test(overflow): 🚨 cover the 1px scroll-end tolerance
  resources/skins.citizen.scripts/overflowElements/state.js
  tests/vitest/skins.citizen.scripts/overflowState.test.js
Due: js-lint, test
