Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

js-lint:
  run: npx eslint {staged_files}

style-lint:
  run: npx stylelint {staged_files}

i18n-lint:
  run: npm run lint:i18n

md-lint:
  run: npm run lint:md

test:
  run: npx vitest run

feat(commandPalette): ✨ opt help overlay and SMW mode into compact rows
  resources/skins.citizen.commandPalette.smw/init.js
  resources/skins.citizen.commandPalette/components/CommandPaletteHelpView.vue
  resources/skins.citizen.commandPalette/modes/help.js
  skin.json
  tests/vitest/commandPalette.smw/smw.test.js
  tests/vitest/mocks/commandPaletteIcons.js
Due: js-lint, style-lint, test

feat(commandPalette): ✨ suggest Category in SMW mode
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette.smw/init.js
  skin.json
  tests/vitest/commandPalette.smw/smw.test.js
Due: js-lint, i18n-lint, test

docs(agents): 📚️ require plain language in commit subject lines
  AGENTS.md
Due: md-lint

feat(preferences): ✨ show skeleton and preload menu on hover or focus
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.scripts/preferences.js
  resources/skins.citizen.scripts/skin.js
  resources/skins.citizen.styles/components/Preferences.less
  resources/skins.citizen.styles/skin.less
  skin.json
  templates/Preferences.mustache
  tests/vitest/skins.citizen.scripts/preferences.test.js
Due: js-lint, style-lint, i18n-lint, test

feat(commandPalette): ✨ show Backspace hints via keybinding registry
  AGENTS.md
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.commandPalette/composables/useKeyboardBindings.js
  skin.json
  tests/vitest/commandPalette/composables/useKeyboard.test.js
  tests/vitest/commandPalette/composables/useKeyboardBindings.test.js
Due: js-lint, i18n-lint, md-lint, test

feat(commandPalette): ✨ rename Remove tag hint to Edit tag
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  skin.json
  tests/vitest/commandPalette/composables/useKeyboard.test.js
Due: js-lint, i18n-lint, test

docs(commandPalette): 📚️ rewrite tag docs in plain language
  docs/src/customization/command-palette.md
Due: md-lint

feat(commandPalette): ✨ add revision history mode
  docs/src/customization/command-palette.md
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/components/CommandPaletteListItemContent.vue
  resources/skins.citizen.commandPalette/init.js
  resources/skins.citizen.commandPalette/modes/history.js
  skin.json
  tests/vitest/commandPalette/modes/history.test.js
  tests/vitest/mocks/commandPaletteIcons.js
Due: js-lint, style-lint, i18n-lint, md-lint, test

refactor(commandPalette): ♻️ rewrite history section parser without regex
  resources/skins.citizen.commandPalette/modes/history.js
Due: js-lint, test

docs(agents): 📚️ document defensive JS fallback for cache-window deploys
  AGENTS.md
Due: md-lint

feat(scripts): ✨ add bindIntentPrefetch shared primitive
  resources/skins.citizen.scripts/intentPrefetch.js
  skin.json
  tests/vitest/skins.citizen.scripts/intentPrefetch.test.js
Due: js-lint, test

refactor(preferences): ♻️ use shared bindIntentPrefetch helper
  resources/skins.citizen.scripts/preferences.js
Due: js-lint, test

feat(commandPalette): ✨ defer bundle load until user signals intent
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/init.js
  resources/skins.citizen.scripts/commandPalette.js
  resources/skins.citizen.scripts/search.js
  resources/skins.citizen.scripts/skin.js
  skin.json
  tests/vitest/mocks/mediawikiPageReady.js
  tests/vitest/setup.js
  tests/vitest/skins.citizen.scripts/commandPalette.test.js
  tests/vitest/skins.citizen.scripts/search.test.js
Due: js-lint, style-lint, i18n-lint, test

feat(commandPalette): ✨ preview revisions in-place via Instant Diffs
  docs/.vitepress/config.ts
  docs/src/config/extensions.md
  docs/src/customization/command-palette.md
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteListItem.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteListItemContent.vue
  resources/skins.citizen.commandPalette/modes/history.js
  resources/skins.citizen.commandPalette/services/instantDiffs.js
  resources/skins.citizen.commandPalette/types.js
  skin.json
  tests/vitest/commandPalette/components/CommandPaletteListItemContent.test.js
  tests/vitest/commandPalette/modes/history.test.js
  tests/vitest/commandPalette/services/instantDiffs.test.js
Due: js-lint, style-lint, i18n-lint, md-lint, test

fix(ooui): 🐛 suppress focus ring on dialog focus traps
  skinStyles/ooui/oojs-ui-windows.less
Due: style-lint

fix(print): hide sticky header
  resources/skins.citizen.styles/common/print.less
Due: style-lint

fix(print): 🐛 hide sticky header
  resources/skins.citizen.styles/common/print.less
Due: style-lint

feat(commandPalette): ✨ add useGridNavigation composable
  resources/skins.citizen.commandPalette/composables/useGridNavigation.js
  resources/skins.citizen.commandPalette/composables/useListNavigation.js
  skin.json
  tests/vitest/commandPalette/composables/useGridNavigation.test.js
Due: js-lint, test

feat(commandPalette): ✨ add gallery container and tile components
  resources/skins.citizen.commandPalette/components/CommandPaletteGallery.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteGalleryItem.vue
  skin.json
  tests/vitest/commandPalette/components/CommandPaletteGallery.test.js
  tests/vitest/commandPalette/components/CommandPaletteGalleryItem.test.js
Due: js-lint, style-lint, test

feat(commandPalette): ✨ swap between list and grid layouts per mode
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
Due: js-lint, style-lint, test

feat(commandPalette): ✨ add file and media mode
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/init.js
  resources/skins.citizen.commandPalette/modes/file.js
  skin.json
  tests/vitest/commandPalette/modes/file.test.js
Due: js-lint, i18n-lint, test

refactor(commandPalette): ♻️ drop redundant media-search query action
  i18n/en.json
  i18n/qqq.json
  includes/Hooks/ResourceLoaderHooks.php
  resources/skins.citizen.commandPalette/init.js
  resources/skins.citizen.commandPalette/utils/appendQueryActions.js
  skin.json
  tests/vitest/commandPalette/utils/appendQueryActions.test.js
  tests/vitest/mocks/commandPaletteConfig.js
Due: js-lint, i18n-lint, test

feat(commandPalette): ✨ add copy-to-clipboard affordance with keyboard shortcut
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteDetailPanel.vue
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  skin.json
Due: js-lint, style-lint, i18n-lint, test

docs(commandPalette): 📚️ document the file mode
  docs/src/config/extensions.md
  docs/src/customization/command-palette.md
Due: md-lint

feat(commandPalette): ✨ tint copy success checkmark with success color
  resources/skins.citizen.commandPalette/components/CommandPaletteDetailPanel.vue
Due: js-lint, style-lint, test

Path conditions:
  js-lint: any of: **/*.{js,vue}
  style-lint: any of: **/*.{less,css,vue}
  i18n-lint: any of: i18n/*.json
  md-lint: any of: *.md
  test: any of: **/*.{js,vue}
