Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

js-lint:
  run: npx eslint {staged_files}

style-lint:
  run: npx stylelint {staged_files}

i18n-lint:
  run: npm run lint:i18n

md-lint:
  run: npm run lint:md

test:
  run: npx vitest run

docs: 📚️ switch search to Algolia DocSearch
  .github/workflows/ci-docs.yml
  docs/.vitepress/config.ts
Due: none

docs: 📚️ add sitemap configuration for VitePress
  docs/.vitepress/config.ts
Due: none

docs: 📚️ include base path in sitemap hostname
  docs/.vitepress/config.ts
Due: none

feat(commandPalette): ✨ add data-driven keyboardHints computed to useKeyboard
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
Due: js-lint, test

feat(commandPalette): ✨ replace Pinia store with composable + DI architecture
  docs/src/customization/command-palette.md
  resources/skins.citizen.commandPalette/commands/action.js
  resources/skins.citizen.commandPalette/commands/example-simple.js
  resources/skins.citizen.commandPalette/commands/example-subquery.js
  resources/skins.citizen.commandPalette/commands/user.js
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHeader.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteList.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteListItem.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteListItemActions.vue
  resources/skins.citizen.commandPalette/components/CommandPalettePresults.vue
  resources/skins.citizen.commandPalette/composables/useActionNavigation.js
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.commandPalette/composables/useListNavigation.js
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/init.js
  resources/skins.citizen.commandPalette/providers/CommandProvider.js
  resources/skins.citizen.commandPalette/providers/QueryActionProvider.js
  resources/skins.citizen.commandPalette/providers/RecentItemsProvider.js
  resources/skins.citizen.commandPalette/providers/RelatedArticlesProvider.js
  resources/skins.citizen.commandPalette/providers/SearchProvider.js
  resources/skins.citizen.commandPalette/providers/createProvider.js
  resources/skins.citizen.commandPalette/searchClients/MwRestSearchClient.js
  resources/skins.citizen.commandPalette/searchClients/SearchClientFactory.js
  resources/skins.citizen.commandPalette/services/commandRegistry.js
  resources/skins.citizen.commandPalette/services/searchClient.js
  resources/skins.citizen.commandPalette/stores/searchStore.js
  resources/skins.citizen.commandPalette/types.js
  resources/skins.citizen.commandPalette/utils/appendQueryActions.js
  resources/skins.citizen.commandPalette/utils/fetch.js
  skin.json
Due: js-lint, style-lint, md-lint, test

refactor(commandPalette): ♻️ replace keyhint prop drilling with data-driven hints
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteFooter.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteKeyboardHints.vue
Due: js-lint, style-lint, test

refactor(commandPalette): ♻️ teach CommandPaletteList to render sections
  resources/skins.citizen.commandPalette/components/CommandPaletteList.vue
Due: js-lint, style-lint, test

test(commandPalette): 🚨 update orchestration tests for section data model
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
Due: js-lint, test

refactor(commandPalette): ♻️ reduce cognitive complexity flagged by SonarQube
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/providers/CommandProvider.js
Due: js-lint, test

test(commandPalette): 🚨 add keyboardHints computed tests
  tests/vitest/commandPalette/composables/useKeyboard.test.js
Due: js-lint, test

test(commandPalette): 🚨 add comprehensive test suite
  tests/vitest/commandPalette/composables/useKeyboard.test.js
  tests/vitest/commandPalette/composables/useListNavigation.test.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/providers/CommandProvider.test.js
  tests/vitest/commandPalette/providers/SearchProvider.test.js
  tests/vitest/commandPalette/providers/createProvider.test.js
  tests/vitest/commandPalette/services/commandRegistry.test.js
  tests/vitest/commandPalette/services/recentItems.test.js
  tests/vitest/commandPalette/services/searchClient.test.js
  tests/vitest/commandPalette/utils/appendQueryActions.test.js
  tests/vitest/mocks/commandPaletteConfig.js
  tests/vitest/mocks/commandPaletteIcons.js
  tests/vitest/mocks/mw.js
  tests/vitest/setup.js
Due: js-lint, test

refactor(commandPalette): ♻️ delete Presults, wire sectioned list in App
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPalettePresults.vue
  skin.json
Due: js-lint, style-lint, test

Localisation updates from https://translatewiki.net.
  i18n/ar.json
  i18n/br.json
  i18n/ce.json
  i18n/de.json
  i18n/es.json
  i18n/et.json
  i18n/fa.json
  i18n/fr.json
  i18n/gl.json
  i18n/he.json
  i18n/ia.json
  i18n/id.json
  i18n/it.json
  i18n/ja.json
  i18n/kk-cyrl.json
  i18n/ko.json
  i18n/lb.json
  i18n/mk.json
  i18n/nl.json
  i18n/pl.json
  i18n/ru.json
  i18n/sv.json
  i18n/vi.json
  i18n/zh-hans.json
  i18n/zh-hant.json
Due: i18n-lint

docs(AGENTS): 📚️ add documentation update convention
  AGENTS.md
Due: md-lint

refactor(commandPalette): ♻️ rename to paletteRegistry, PaletteCommandProvider, and modes/
  resources/skins.citizen.commandPalette/init.js
  resources/skins.citizen.commandPalette/modes/action.js
  resources/skins.citizen.commandPalette/modes/namespace.js
  resources/skins.citizen.commandPalette/modes/user.js
  resources/skins.citizen.commandPalette/providers/PaletteCommandProvider.js
  resources/skins.citizen.commandPalette/services/commandRegistry.js
  resources/skins.citizen.commandPalette/services/paletteRegistry.js
  resources/skins.citizen.commandPalette/types.js
  skin.json
  tests/vitest/commandPalette/providers/PaletteCommandProvider.test.js
  tests/vitest/commandPalette/services/paletteRegistry.test.js
Due: js-lint, test

feat(commandPalette): ✨ add mode switching with visual header and transitions
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHeader.vue
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.scripts/search.js
  tests/vitest/commandPalette/composables/useKeyboard.test.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
Due: js-lint, style-lint, i18n-lint, test

docs(commandPalette): 📚️ update command palette docs for mode/command distinction
  docs/src/customization/command-palette.md
Due: md-lint

feat(commandPalette): ✨ add useTokenizedInput composable
  resources/skins.citizen.commandPalette/composables/useTokenizedInput.js
  tests/vitest/commandPalette/composables/useTokenizedInput.test.js
Due: js-lint, test

feat(commandPalette): ✨ add token pattern infrastructure and namespace detection
  resources/skins.citizen.commandPalette/init.js
  resources/skins.citizen.commandPalette/modes/namespace.js
  resources/skins.citizen.commandPalette/services/paletteRegistry.js
  resources/skins.citizen.commandPalette/types.js
  tests/vitest/commandPalette/services/paletteRegistry.test.js
Due: js-lint, test

feat(commandPalette): ✨ add chip rendering and tokenized input UI integration
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHeader.vue
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  skin.json
Due: js-lint, style-lint, test

feat(commandPalette): ✨ thread tokens into mode results and improve token pattern infra
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHeader.vue
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/composables/useTokenizedInput.js
  resources/skins.citizen.commandPalette/init.js
  resources/skins.citizen.commandPalette/services/paletteRegistry.js
  resources/skins.citizen.commandPalette/types.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/composables/useTokenizedInput.test.js
  tests/vitest/commandPalette/services/paletteRegistry.test.js
Due: js-lint, style-lint, test

feat(commandPalette): ✨ add SMW Ask query mode
  i18n/en.json
  i18n/qqq.json
  includes/Hooks/ResourceLoaderHooks.php
  resources/skins.citizen.commandPalette.smw/icons.json
  resources/skins.citizen.commandPalette.smw/init.js
  resources/skins.citizen.commandPalette/components/App.vue
  skin.json
  tests/vitest/commandPalette.smw/smw.test.js
  tests/vitest/mocks/commandPaletteConfig.js
Due: js-lint, style-lint, i18n-lint, test

feat(commandPalette): ✨ add empty and no-results states to SMW mode
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette.smw/init.js
  skin.json
  tests/vitest/commandPalette.smw/smw.test.js
Due: js-lint, i18n-lint, test

feat(commandPalette): ✨ add per-mode state config for empty and no-results UI
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteEmptyState.vue
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/types.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
Due: js-lint, style-lint, test

feat(commandPalette): ✨ add empty and no-results states to user mode
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/modes/user.js
  skin.json
Due: js-lint, i18n-lint, test

Path conditions:
  js-lint: any of: **/*.{js,vue}
  style-lint: any of: **/*.{less,css,vue}
  i18n-lint: any of: i18n/*.json
  md-lint: any of: *.md
  test: any of: **/*.{js,vue}
