Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

js-lint:
  run: npx eslint {staged_files}

style-lint:
  run: npx stylelint {staged_files}

i18n-lint:
  run: npm run lint:i18n

md-lint:
  run: npm run lint:md

test:
  run: npx vitest run

docs(showcase): Add Wikven Static Site Generator
  docs/src/community/showcase.md
Due: md-lint

Localisation updates from https://translatewiki.net.
  i18n/ce.json
  i18n/de.json
  i18n/es.json
  i18n/et.json
  i18n/fa.json
  i18n/fi.json
  i18n/fr.json
  i18n/gl.json
  i18n/he.json
  i18n/hi.json
  i18n/ia.json
  i18n/it.json
  i18n/ja.json
  i18n/ko.json
  i18n/lb.json
  i18n/mk.json
  i18n/ne.json
  i18n/nl.json
  i18n/pa.json
  i18n/pl.json
  i18n/ru.json
  i18n/skr-arab.json
  i18n/sl.json
  i18n/sr-ec.json
  i18n/sr-el.json
  i18n/sv.json
  i18n/tr.json
  i18n/vi.json
  i18n/zh-hans.json
  i18n/zh-hant.json
Due: i18n-lint

docs(showcase): 📚️ add Wikven Static Site Generator (#1807)
  docs/src/community/showcase.md
Due: md-lint

fix(sections): 🐛 collapse hatnotes and cards fully
  resources/skins.citizen.styles/components/Sections.less
Due: style-lint

refactor(sections): ♻️ hold section content in its own element
  includes/Components/CitizenComponentBodyContent.php
  resources/compat/3.22.less
  resources/skins.citizen.styles/components/Sections.less
  tests/phpunit/Unit/Components/CitizenComponentBodyContentTest.php
  tests/vitest/skins.citizen.scripts/sections.test.js
Due: js-lint, style-lint, test

fix(core): 🐛 lift bordered content boxes one step off the page
  resources/skins.citizen.styles/skinning/elements.less
  skinStyles/extensions/AccountInfo/ext.AccountInfo.special.less
  skinStyles/extensions/Capiunto/capiunto.infobox.main.less
  skinStyles/extensions/CiteThisPage/ext.citeThisPage.less
  skinStyles/extensions/SemanticMediaWiki/ext.smw.styles.less
  skinStyles/extensions/SemanticMediaWiki/smw.jsonview.less
Due: style-lint

fix(spacing): 🐛 scale content spacing to the reading text size
  resources/skins.citizen.styles/common/common.less
  resources/skins.citizen.styles/common/hacks.less
  resources/skins.citizen.styles/common/typography.less
  resources/skins.citizen.styles/components/OverflowElements.less
  resources/skins.citizen.styles/skinning/content.media-common.less
  resources/skins.citizen.styles/skinning/content.tables.less
  resources/skins.citizen.styles/skinning/elements.less
  resources/skins.citizen.styles/tokens-citizen.less
Due: style-lint

fix(typography): 🐛 scale heading spacing to the reading text size
  resources/skins.citizen.styles/common/content.less
  resources/skins.citizen.styles/skinning/elements.less
  resources/skins.citizen.styles/tokens-citizen.less
Due: style-lint

fix(sections): 🐛 keep heading spacing steady when a section collapses
  resources/skins.citizen.styles/components/Sections.less
Due: style-lint

fix(CiteThisPage): 🐛 correct the heading class in the citation box selector
  skinStyles/extensions/CiteThisPage/ext.citeThisPage.less
Due: style-lint

feat(sections): ✨ move the collapse control to the end of the heading
  resources/skins.citizen.scripts/sections.js
  resources/skins.citizen.styles/components/Sections.less
  skinStyles/extensions/DiscussionTools/ext.discussionTools.init.styles.less
  tests/vitest/skins.citizen.scripts/sections.test.js
Due: js-lint, style-lint, test

fix(commandPalette): 🐛 stop recent results remembering how they were opened
  resources/skins.citizen.commandPalette/services/recentItems.js
  tests/vitest/commandPalette/services/recentItems.test.js
Due: js-lint, test

fix(commandPalette): 🐛 open a result in a new tab with Ctrl+Enter
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.commandPalette/composables/usePendingActivation.js
  resources/skins.citizen.commandPalette/composables/useResultRouter.js
  resources/skins.citizen.commandPalette/services/recentItems.js
  resources/skins.citizen.commandPalette/types.js
  tests/vitest/commandPalette/composables/useKeyboard.test.js
  tests/vitest/commandPalette/composables/useKeyboardModifiers.test.js
  tests/vitest/commandPalette/composables/usePendingActivation.test.js
  tests/vitest/commandPalette/composables/useResultRouter.test.js
  tests/vitest/commandPalette/services/recentItems.test.js
Due: js-lint, style-lint, test

build: release 3.22.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

perf: ⚡️ load Vue once and reuse it across every menu that needs it
  AGENTS.md
  resources/skins.citizen.scripts/commandPalette.js
  resources/skins.citizen.scripts/intentPrefetch.js
  resources/skins.citizen.scripts/notifications.js
  resources/skins.citizen.scripts/preferences.js
  resources/skins.citizen.scripts/share.js
  resources/skins.citizen.scripts/vueBatch.js
  skin.json
  tests/vitest/skins.citizen.scripts/intentPrefetch.test.js
  tests/vitest/skins.citizen.scripts/notifications.test.js
  tests/vitest/skins.citizen.scripts/preferences.test.js
  tests/vitest/skins.citizen.scripts/vueBatch.test.js
Due: js-lint, md-lint, test

refactor(codex): ♻️ declare Codex components on the module that uses them
  AGENTS.md
  resources/skins.citizen.commandPalette/components/CommandPaletteDetailPanel.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteEmptyState.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHeader.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHelpModeSummary.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteImage.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteListItemActions.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteListItemContent.vue
  resources/skins.citizen.notifications/components/App.vue
  resources/skins.citizen.notifications/components/PanelFooter.vue
  resources/skins.citizen.notifications/components/WikiList.vue
  resources/skins.citizen.preferences/App.vue
  resources/skins.citizen.preferences/RadioGroup.vue
  resources/skins.citizen.preferences/ThemePicker.vue
  resources/skins.citizen.share/App.vue
  skin.json
  tests/vitest/commandPalette/components/CommandPaletteGallery.test.js
  tests/vitest/commandPalette/components/CommandPaletteGalleryItem.test.js
  tests/vitest/commandPalette/components/CommandPaletteHeader.test.js
  tests/vitest/commandPalette/components/CommandPaletteImage.test.js
  tests/vitest/commandPalette/components/CommandPaletteListItemContent.test.js
  tests/vitest/mocks/codex.js
  tests/vitest/setup.js
  tests/vitest/skins.citizen.notifications/App.test.js
  tests/vitest/skins.citizen.notifications/PanelFooter.test.js
  tests/vitest/skins.citizen.notifications/WikiList.test.js
  tests/vitest/skins.citizen.preferences/App.test.js
  tests/vitest/skins.citizen.preferences/RadioGroup.test.js
  tests/vitest/skins.citizen.preferences/ThemePicker.test.js
  tests/vitest/skins.citizen.share/App.test.js
Due: js-lint, style-lint, md-lint, test

chore(commandPalette): 🔧 type-check the JSDoc annotations
  .github/workflows/ci.yml
  AGENTS.md
  package-lock.json
  package.json
  resources/.eslintrc.json
  resources/skins.citizen.commandPalette/composables/useListNavigation.js
  resources/skins.citizen.commandPalette/composables/usePendingActivation.js
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/composables/useResultRouter.js
  resources/skins.citizen.commandPalette/config.json.d.ts
  resources/skins.citizen.commandPalette/icons.json.d.ts
  resources/skins.citizen.commandPalette/init.js
  resources/skins.citizen.commandPalette/modes/action.js
  resources/skins.citizen.commandPalette/modes/category.js
  resources/skins.citizen.commandPalette/modes/file.js
  resources/skins.citizen.commandPalette/modes/history.js
  resources/skins.citizen.commandPalette/modes/namespace.js
  resources/skins.citizen.commandPalette/modes/user.js
  resources/skins.citizen.commandPalette/providers/RelatedArticlesProvider.js
  resources/skins.citizen.commandPalette/providers/createProvider.js
  resources/skins.citizen.commandPalette/services/instantDiffs.js
  resources/skins.citizen.commandPalette/services/paletteRegistry.js
  resources/skins.citizen.commandPalette/types.js
  resources/types/ambient.d.ts
  resources/types/globals.d.ts
  resources/types/vue-sfc.d.ts
  tsconfig.json
Due: js-lint, md-lint, test

docs: deploy main @ fc88eef01ced287473934d7474a37af61d105080 fc88eef01ced287473934d7474a37af61d105080
  llms-full.txt
  llms.txt
Due: none

chore(commandPalette): 🔧 enable the strict flags that already pass
  AGENTS.md
  tsconfig.json
Due: md-lint

chore(commandPalette): 🔧 check for null and unknown catch values
  AGENTS.md
  resources/skins.citizen.commandPalette/composables/useOperationLifecycle.js
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/composables/useTokenizedInput.js
  resources/skins.citizen.commandPalette/modes/category.js
  resources/skins.citizen.commandPalette/modes/file.js
  resources/skins.citizen.commandPalette/modes/help.js
  resources/skins.citizen.commandPalette/modes/history.js
  resources/skins.citizen.commandPalette/modes/namespace.js
  resources/skins.citizen.commandPalette/providers/PaletteCommandProvider.js
  resources/skins.citizen.commandPalette/providers/SearchProvider.js
  resources/skins.citizen.commandPalette/services/searchClient.js
  resources/skins.citizen.commandPalette/types.js
  resources/skins.citizen.commandPalette/utils/isAbortError.js
  skin.json
  tsconfig.json
Due: js-lint, md-lint, test

fix(commandPalette): 🐛 say what the mode callback arrays contain
  resources/skins.citizen.commandPalette/types.js
Due: js-lint, test

fix(commandPalette): 🐛 survive a handler with malformed triggers
  resources/skins.citizen.commandPalette/services/paletteRegistry.js
  tests/vitest/commandPalette/services/paletteRegistry.test.js
Due: js-lint, test

Path conditions:
  js-lint: any of: **/*.{js,vue}
  style-lint: any of: **/*.{less,css,vue}
  i18n-lint: any of: i18n/*.json
  md-lint: any of: *.md
  test: any of: **/*.{js,vue}
