Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

js-lint:
  run: npx eslint {staged_files}

style-lint:
  run: npx stylelint {staged_files}

i18n-lint:
  run: npm run lint:i18n

md-lint:
  run: npm run lint:md

test:
  run: npx vitest run

refactor(preview): ♻️ remove the post-3.18 transition shims
  i18n/en.json
  i18n/gl.json
  i18n/ia.json
  i18n/ko.json
  i18n/nl.json
  i18n/qqq.json
  i18n/ru.json
  i18n/tr.json
  i18n/zh-hans.json
  i18n/zh-hant.json
  includes/Hooks/SkinHooks.php
  includes/PreviewChannel.php
  resources/skins.citizen.codex.styles/CdxButton.less
  resources/skins.citizen.tokens.new/background-color.less
  resources/skins.citizen.tokens.new/border-color.less
  resources/skins.citizen.tokens.new/box-shadow.less
  resources/skins.citizen.tokens.new/color.less
  resources/skins.citizen.tokens.new/font.less
  resources/skins.citizen.tokens.new/misc.less
  resources/skins.citizen.tokens.new/opacity.less
  resources/skins.citizen.tokens.new/primitives-citizen.less
  resources/skins.citizen.tokens.new/primitives-codex.less
  resources/skins.citizen.tokens.new/surface.less
  resources/skins.citizen.tokens.new/syntax-color.less
  resources/skins.citizen.tokens.new/tokens.less
  scripts/codex-audit.mjs
  skin.json
  tests/phpunit/Unit/PreviewChannelTest.php
  tests/phpunit/integration/Hooks/SkinHooksTest.php
Due: style-lint, i18n-lint

perf(overflowElements): ⚡️ defer table measurement until scrolled into view
  resources/skins.citizen.scripts/overflowElements/index.js
  resources/skins.citizen.scripts/overflowElements/stickyHeader.js
  tests/vitest/skins.citizen.scripts/overflowElements.test.js
Due: js-lint, test

test(overflowElements): 🚨 cover mixed resize batches and repeated intersection
  tests/vitest/skins.citizen.scripts/overflowElements.test.js
Due: js-lint, test

perf(overflowElements): ⚡️ defer table measurement until scrolled into view (#1659)
  resources/skins.citizen.scripts/overflowElements/index.js
  resources/skins.citizen.scripts/overflowElements/stickyHeader.js
  tests/vitest/skins.citizen.scripts/overflowElements.test.js
Due: js-lint, test

perf(scripts): ⚡️ defer observer setup and the GPU probe until after first paint
  resources/skins.citizen.scripts/skin.js
  tests/vitest/skins.citizen.scripts/skin.test.js
Due: js-lint, test

refactor(scripts): ♻️ remove the unused resizeObserver module
  resources/skins.citizen.scripts/resizeObserver.js
  skin.json
Due: js-lint, test

perf(scripts): ⚡️ defer observer setup and the GPU probe until after first paint (#1660)
  resources/skins.citizen.scripts/resizeObserver.js
  resources/skins.citizen.scripts/skin.js
  skin.json
  tests/vitest/skins.citizen.scripts/skin.test.js
Due: js-lint, test

fix(overflowElements): 🐛 disconnect stale observers when content is replaced
  resources/skins.citizen.scripts/overflowElements/index.js
  tests/vitest/skins.citizen.scripts/overflowElements.test.js
Due: js-lint, test

perf(tableOfContents): ⚡️ keep section activation from forcing page reflows
  resources/skins.citizen.scripts/setupObservers.js
  resources/skins.citizen.scripts/tableOfContents.js
  tests/vitest/skins.citizen.scripts/setupObservers.test.js
  tests/vitest/skins.citizen.scripts/tableOfContents.test.js
Due: js-lint, test

fix(main-page): 🐛 render the main page header after the content
  includes/SkinCitizen.php
  templates/skin.mustache
Due: none

refactor(main-page): ♻️ drop the main page header CSS reorder
  resources/skins.citizen.styles/common/content.less
Due: style-lint

fix(sections): 🐛 support collapsible sections on Parsoid pages
  includes/Components/CitizenComponentBodyContent.php
  resources/skins.citizen.scripts/sections.js
  resources/skins.citizen.styles/assets/images/cdxIconCollapse.svg
  resources/skins.citizen.styles/components/Sections.less
  tests/phpunit/Unit/Components/CitizenComponentBodyContentTest.php
  tests/vitest/skins.citizen.scripts/sections.test.js
Due: js-lint, style-lint, test

docs: deploy main @ bb4685d11ed120e3fadadebf8e3f034712c82bd4 bb4685d11ed120e3fadadebf8e3f034712c82bd4
  llms-full.txt
  llms.txt
Due: none

refactor(sections): ♻️ render the section collapse indicator with CSS
  includes/Components/CitizenComponentBodyContent.php
  resources/skins.citizen.styles/components/Sections.less
  tests/phpunit/Unit/Components/CitizenComponentBodyContentTest.php
Due: style-lint

refactor(sections): ♻️ drop the cached-HTML indicator compat rule
  resources/skins.citizen.styles/components/Sections.less
Due: style-lint

feat(sections): ✨ nest section markup with headings inside like Parsoid
  includes/Components/CitizenComponentBodyContent.php
  resources/skins.citizen.scripts/sections.js
  resources/skins.citizen.styles/components/Sections.less
  tests/phpunit/Unit/Components/CitizenComponentBodyContentTest.php
  tests/vitest/skins.citizen.scripts/sections.test.js
Due: js-lint, style-lint, test

refactor(sections): ♻️ drop the fallback for the old section markup
  resources/skins.citizen.scripts/sections.js
  resources/skins.citizen.styles/components/Sections.less
  tests/vitest/skins.citizen.scripts/sections.test.js
Due: js-lint, style-lint, test

perf(tableOfContents): ⚡️ load the table of contents script only on pages that have one
  includes/SkinCitizen.php
  resources/skins.citizen.scripts/setupObservers.js
  resources/skins.citizen.toc/index.js
  resources/skins.citizen.toc/sectionObserver.js
  resources/skins.citizen.toc/tableOfContents.js
  resources/skins.citizen.toc/tableOfContentsSections.js
  skin.json
  tests/vitest/setup.js
  tests/vitest/skins.citizen.scripts/setupObservers.test.js
  tests/vitest/skins.citizen.toc/index.test.js
  tests/vitest/skins.citizen.toc/sectionObserver.test.js
  tests/vitest/skins.citizen.toc/tableOfContents.test.js
  tests/vitest/skins.citizen.toc/tableOfContentsSections.test.js
Due: js-lint, test

test: 🚨 replace deprecated assertArraySubmapSame with assertArrayContains
  tests/phpunit/integration/Hooks/ResourceLoaderHooksTest.php
Due: none

feat(overflow): ✨ keep floated content floating when wrapped
  docs/src/customization/utility-classes.md
  resources/mixins.less
  resources/skins.citizen.scripts/overflowElements/float.js
  resources/skins.citizen.scripts/overflowElements/index.js
  resources/skins.citizen.scripts/overflowElements/wrapper.js
  resources/skins.citizen.styles/common/hacks.less
  resources/skins.citizen.styles/components/OverflowElements.less
  skin.json
  tests/vitest/skins.citizen.scripts/overflowElements.test.js
Due: js-lint, style-lint, md-lint, test

refactor(media): ♻️ reuse the shared float mixin for image floats
  resources/mixins.less
  resources/skins.citizen.styles/skinning/content.media-common.less
Due: style-lint

docs(overflow): 📚️ add a dedicated overflow handling page
  docs/.vitepress/config.ts
  docs/src/customization/utility-classes.md
  docs/src/features/overflow.md
Due: md-lint

Path conditions:
  js-lint: any of: **/*.{js,vue}
  style-lint: any of: **/*.{less,css,vue}
  i18n-lint: any of: i18n/*.json
  md-lint: any of: *.md
  test: any of: **/*.{js,vue}
