Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

lefthook.yml:

glob_matcher: doublestar

pre-commit:
  parallel: true
  commands:
    js-lint:
      run: npx eslint {staged_files}
      glob: "**/*.{js,vue}"
    style-lint:
      run: npx stylelint {staged_files}
      glob: "**/*.{less,css,vue}"
    i18n-lint:
      run: npm run lint:i18n
      glob: "i18n/*.json"
    md-lint:
      run: npm run lint:md
      glob: "*.md"
    test:
      run: npx vitest run
      glob: "**/*.{js,vue}"

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    devmoji:
      run: npx devmoji -e --lint

ci: 👷 run lint and tests when a Vue file changes
  .github/workflows/ci.yml
Due: none

fix(overflowElements): 🐛 let Enter submit forms that contain a scrollable table
  resources/skins.citizen.scripts/overflowElements/index.js
  resources/skins.citizen.scripts/overflowElements/wrapper.js
  tests/vitest/skins.citizen.scripts/overflowElements.test.js
Due: js-lint, test

feat(preferences): ✨ show color options as a segmented track of icons
  docs/src/features/preferences.md
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.preferences/App.vue
  resources/skins.citizen.preferences/RadioGroup.vue
  resources/skins.citizen.preferences/SegmentedPicker.vue
  resources/skins.citizen.preferences/defaultConfig.js
  resources/skins.citizen.preferences/types.js
  skin.json
  tests/vitest/mocks/preferencesIcons.js
  tests/vitest/skins.citizen.preferences/App.test.js
  tests/vitest/skins.citizen.preferences/RadioGroup.test.js
  tests/vitest/skins.citizen.preferences/SegmentedPicker.test.js
  tests/vitest/skins.citizen.preferences/defaultConfig.test.js
Due: js-lint, style-lint, i18n-lint, md-lint, test

feat(commandPalette): ✨ search for text that starts with a trigger character
  docs/src/features/command-palette.md
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/composables/useTokenizedInput.js
  resources/skins.citizen.commandPalette/providers/PaletteCommandProvider.js
  resources/skins.citizen.commandPalette/providers/createProvider.js
  skin.json
  tests/vitest/commandPalette/composables/useKeyboard.test.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/composables/useTokenizedInput.test.js
  tests/vitest/commandPalette/providers/PaletteCommandProvider.test.js
  tests/vitest/commandPalette/providers/createProvider.test.js
Due: js-lint, style-lint, i18n-lint, md-lint, test

feat(ManageWiki): ✨ add icons to the module tabs
  includes/Menu/MenuItemDecorator.php
  includes/Menu/NavigationMenuTransformer.php
  skin.json
  tests/phpunit/Unit/Menu/MenuItemDecoratorTest.php
  tests/phpunit/Unit/Menu/NavigationMenuTransformerTest.php
Due: none

fix(toc): 🐛 stop section labels piling up in the contents control
  resources/skins.citizen.toc/sectionLabel.js
  tests/vitest/skins.citizen.toc/sectionLabel.test.js
Due: js-lint, test

docs: deploy main @ 5ee64e561e181b6c057f792895e43f9f9b0588cd 5ee64e561e181b6c057f792895e43f9f9b0588cd
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 13249726dabfb1a65f0477813cb26c5dedf1d760 13249726dabfb1a65f0477813cb26c5dedf1d760
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ b9c1d44fa645f8bdb30f3de03ac409064972c264 b9c1d44fa645f8bdb30f3de03ac409064972c264
  llms-full.txt
  llms.txt
Due: none

refactor(pageAside): ♻️ render the aside from its panel container
  i18n/en.json
  i18n/qqq.json
  includes/Components/CitizenComponentPageSidebar.php
  includes/SkinCitizen.php
  resources/skins.citizen.styles/components/PageAside.less
  resources/skins.citizen.styles/components/Pagetools.less
  skin.json
  templates/PageAside.mustache
  templates/PageSidebar.mustache
  templates/skin.mustache
  tests/phpunit/Unit/Components/CitizenAsidePanelLastModifiedTest.php
  tests/phpunit/Unit/Components/CitizenComponentPageSidebarTest.php
Due: style-lint, i18n-lint

refactor(pageAside): ♻️ add the aside panel contract and a Last modified panel
  includes/Components/CitizenAsidePanel.php
  includes/Components/CitizenAsidePanelLastModified.php
  tests/phpunit/Unit/Components/CitizenAsidePanelLastModifiedTest.php
Due: none

refactor(pageAside): ♻️ make the table of contents an aside panel
  includes/Components/CitizenAsidePanelTableOfContents.php
  includes/Components/CitizenComponentTableOfContents.php
  includes/SkinCitizen.php
  resources/skins.citizen.toc/tableOfContentsSections.js
  templates/TableOfContents.mustache
  tests/phpunit/Unit/Components/CitizenAsidePanelTableOfContentsTest.php
  tests/vitest/skins.citizen.toc/tableOfContents.test.js
Due: js-lint, test

refactor(pageAside): ♻️ add the aside container
  includes/Components/CitizenComponentPageAside.php
  tests/phpunit/Unit/Components/CitizenComponentPageAsideTest.php
Due: none

refactor(pageAside): ♻️ rename the stylesheet to match its component
  resources/skins.citizen.styles/components/PageAside.less
  resources/skins.citizen.styles/skin.less
Due: style-lint

docs: deploy main @ b573b710b3f7e0c60b5f764b7fb008b3607ea295 b573b710b3f7e0c60b5f764b7fb008b3607ea295
  llms-full.txt
  llms.txt
Due: none

fix(pageAside): 🐛 keep the side column off the main page
  includes/SkinCitizen.php
  tests/phpunit/integration/SkinCitizenTest.php
Due: none

build: release 3.23.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

docs: deploy main @ 8bf40aa6d3b9fb7140375e55b9291c45d86a732e 8bf40aa6d3b9fb7140375e55b9291c45d86a732e
  llms-full.txt
  llms.txt
Due: none

chore(showcase): refresh wiki article counts
  docs/data/showcase-metadata.json
Due: none

Localisation updates from https://translatewiki.net.
  i18n/br.json
  i18n/ce.json
  i18n/de.json
  i18n/es.json
  i18n/et.json
  i18n/fa.json
  i18n/fr.json
  i18n/gl.json
  i18n/he.json
  i18n/hi.json
  i18n/ia.json
  i18n/id.json
  i18n/it.json
  i18n/ja.json
  i18n/ko.json
  i18n/lb.json
  i18n/mk.json
  i18n/nl.json
  i18n/pl.json
  i18n/ps.json
  i18n/ru.json
  i18n/skr-arab.json
  i18n/sl.json
  i18n/so.json
  i18n/sv.json
  i18n/tr.json
  i18n/vi.json
  i18n/zh-hans.json
  i18n/zh-hant.json
Due: i18n-lint

docs(upgrading): 📚️ simplify some of the section text
  docs/src/guide/upgrading.md
Due: md-lint
