Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

lefthook.yml:

glob_matcher: doublestar

pre-commit:
  parallel: true
  commands:
    js-lint:
      run: npx eslint {staged_files}
      glob: "**/*.{js,vue}"
    style-lint:
      run: npx stylelint {staged_files}
      glob: "**/*.{less,css,vue}"
    i18n-lint:
      run: npm run lint:i18n
      glob: "i18n/*.json"
    md-lint:
      run: npm run lint:md
      glob: "*.md"
    test:
      run: npx vitest run
      glob: "**/*.{js,vue}"

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    devmoji:
      run: npx devmoji -e --lint

perf(fonts): ⚡️ use the device's own Roboto instead of downloading it
  docs/src/customization/theming.md
  resources/skins.citizen.styles/fonts.less
Due: style-lint, md-lint

fix(fonts): 🐛 refresh the Roboto Flex subsets and their unicode ranges
  resources/skins.citizen.styles/fonts.less
  resources/skins.citizen.styles/fonts/RobotoFlex_cyrillic-ext.woff2
  resources/skins.citizen.styles/fonts/RobotoFlex_cyrillic.woff2
  resources/skins.citizen.styles/fonts/RobotoFlex_greek.woff2
  resources/skins.citizen.styles/fonts/RobotoFlex_latin-ext.woff2
  resources/skins.citizen.styles/fonts/RobotoFlex_latin.woff2
  resources/skins.citizen.styles/fonts/RobotoFlex_vietnamese.woff2
Due: style-lint

build: release 3.23.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

docs: deploy main @ 41c2594e682065c06c6e5e8ba49e57c058c84665 41c2594e682065c06c6e5e8ba49e57c058c84665
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 50aef3e3b40d88e9f29635626c2773cbf8ec70f0 50aef3e3b40d88e9f29635626c2773cbf8ec70f0
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ a4f818701b35f76c7513e2f2533eeef652e54bce a4f818701b35f76c7513e2f2533eeef652e54bce
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 47d697f49647af560d563cfc6286d08f84727fae 47d697f49647af560d563cfc6286d08f84727fae
  llms-full.txt
  llms.txt
Due: none

Localisation updates from https://translatewiki.net.
  i18n/he.json
Due: i18n-lint

docs(showcase): 📚️ add Official DOORS Wiki
  docs/src/community/showcase.md
Due: md-lint

Localisation updates from https://translatewiki.net.
  i18n/he.json
  i18n/zh-hans.json
Due: i18n-lint

docs: deploy main @ a179a86548a7a8ad19f260218f47901d71bd47c3 a179a86548a7a8ad19f260218f47901d71bd47c3
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ afe9498100a38985420015c1607971e4f0a10122 afe9498100a38985420015c1607971e4f0a10122
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ eeba5fee519f17abb2d2d3340e782039039c7e94 eeba5fee519f17abb2d2d3340e782039039c7e94
  llms-full.txt
  llms.txt
Due: none

fix(lists): 🐛 stop long list numbers from being cut off
  resources/skins.citizen.styles/skinning/elements.less
Due: style-lint

feat(commandPalette): ✨ browse Bucket data with a drill-down mode
  docs/src/features/command-palette.md
  i18n/en.json
  i18n/qqq.json
  includes/Hooks/ResourceLoaderHooks.php
  resources/skins.citizen.commandPalette.bucket/apiClient.js
  resources/skins.citizen.commandPalette.bucket/catalog.js
  resources/skins.citizen.commandPalette.bucket/config.json.d.ts
  resources/skins.citizen.commandPalette.bucket/icons.json
  resources/skins.citizen.commandPalette.bucket/icons.json.d.ts
  resources/skins.citizen.commandPalette.bucket/init.js
  resources/skins.citizen.commandPalette.bucket/luaQuery.js
  resources/skins.citizen.commandPalette/init.js
  skin.json
  tests/vitest/commandPalette.bucket/bucket.test.js
  tests/vitest/commandPalette.bucket/catalog.test.js
  tests/vitest/commandPalette.bucket/luaQuery.test.js
  tests/vitest/mocks/commandPaletteConfig.js
  tests/vitest/mocks/commandPaletteIcons.js
  tsconfig.json
Due: js-lint, i18n-lint, md-lint, test

docs: 📚️ add showcase to the top navigation
  docs/.vitepress/config.ts
Due: none

feat(showcase): ✨ show wikis as a filterable screenshot gallery
  docs/.oxlintrc.json
  docs/.vitepress/constants.ts
  docs/.vitepress/theme/components/ShowcaseGrid.vue
  docs/.vitepress/theme/data/showcase.data.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/styles.less
  docs/.vitepress/theme/utils/showcase.ts
  docs/data/showcase.json
  docs/src/community/showcase.md
  docs/tests/ShowcaseGrid.spec.ts
  docs/tests/showcase.spec.ts
Due: js-lint, style-lint, md-lint, test

feat(showcase): ✨ keep the gallery current from each wiki's own API
  docs/data/showcase-metadata.json
  docs/data/showcase-shots.json
  docs/package-lock.json
  docs/package.json
  docs/scripts/showcase/capture.js
  docs/scripts/showcase/gc.js
  docs/scripts/showcase/lib.js
  docs/scripts/showcase/metadata.js
  docs/tests/showcaseCapture.spec.ts
  docs/tests/showcaseLib.spec.ts
Due: js-lint, test

ci(showcase): 👷 refresh the showcase on a schedule
  .github/actions/setup-wrangler/action.yml
  .github/workflows/showcase-capture.yml
  .github/workflows/showcase-gc.yml
  .github/workflows/showcase-metadata.yml
Due: none

docs(showcase): 📚️ explain how to add a wiki
  .github/ISSUE_TEMPLATE/showcase_submission.yml
  docs/src/contribute/index.md
Due: md-lint

chore: 🔧 ignore local env files and screenshot captures
  .gitignore
Due: none

docs(showcase): 📚️ rebuild the showcase as a screenshot gallery (#1905)
  .github/ISSUE_TEMPLATE/showcase_submission.yml
  .github/actions/setup-wrangler/action.yml
  .github/workflows/showcase-capture.yml
  .github/workflows/showcase-gc.yml
  .github/workflows/showcase-metadata.yml
  .gitignore
  docs/.oxlintrc.json
  docs/.vitepress/constants.ts
  docs/.vitepress/theme/components/ShowcaseGrid.vue
  docs/.vitepress/theme/data/showcase.data.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/styles.less
  docs/.vitepress/theme/utils/showcase.ts
  docs/data/showcase-metadata.json
  docs/data/showcase-shots.json
  docs/data/showcase.json
  docs/package-lock.json
  docs/package.json
  docs/scripts/showcase/capture.js
  docs/scripts/showcase/gc.js
  docs/scripts/showcase/lib.js
  docs/scripts/showcase/metadata.js
  docs/src/community/showcase.md
  docs/src/contribute/index.md
  docs/tests/ShowcaseGrid.spec.ts
  docs/tests/showcase.spec.ts
  docs/tests/showcaseCapture.spec.ts
  docs/tests/showcaseLib.spec.ts
Due: js-lint, style-lint, md-lint, test

fix(preferences): 🐛 smooth the color split on theme swatches
  resources/skins.citizen.preferences/ThemePicker.vue
Due: js-lint, style-lint, test

docs: deploy main @ 10e6fd91cb99369b2bc2e6861723ead920ce9e67 10e6fd91cb99369b2bc2e6861723ead920ce9e67
  llms-full.txt
  llms.txt
Due: none

ci: 👷 run lint and tests when a Vue file changes
  .github/workflows/ci.yml
Due: none
