Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

js-lint:
  run: npx eslint {staged_files}

style-lint:
  run: npx stylelint {staged_files}

i18n-lint:
  run: npm run lint:i18n

md-lint:
  run: npm run lint:md

test:
  run: npx vitest run

docs: 📚️ group the class and hook references under a new Reference section
  docs/.vitepress/config.ts
  docs/src/reference/classes.md
  docs/src/reference/hooks.md
Due: md-lint

Localisation updates from https://translatewiki.net.
  i18n/gl.json
  i18n/it.json
  i18n/ko.json
  i18n/lb.json
  i18n/pa.json
  i18n/ru.json
  i18n/zh-hans.json
Due: i18n-lint

fix(VisualEditor): 🐛 categoryEdit styling improvements
  resources/skins.citizen.styles/skinning/interface.category.less
  skinStyles/extensions/VisualEditor/ext.visualEditor.desktopArticleTarget.init.less
Due: style-lint

docs: deploy main @ ca1b6bf901071bd2265087c4eba7461c9312bf15 ca1b6bf901071bd2265087c4eba7461c9312bf15
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ c861e450fd31da0016855333e970b1cef017139a c861e450fd31da0016855333e970b1cef017139a
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 0d641d7f6f84488cbb71451b81efea4a05817654 0d641d7f6f84488cbb71451b81efea4a05817654
  llms-full.txt
  llms.txt
Due: none

ci(docs): 👷 📚️ make docs site origin configurable
  docs/.vitepress/config.ts
Due: none

ci(docs): 👷 📚️ deploy docs site to Cloudflare Pages
  .github/workflows/docs-deploy.yml
Due: none

ci(docs): 👷 📚️ add preview deployments for docs PRs
  .github/workflows/ci-docs.yml
Due: none

docs: 📚️ update docs site links to mwcitizen.skin
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  README.md
Due: md-lint

ci(docs): 👷 📚️ redirect the old docs base path to the new URLs
  docs/src/public/_redirects
Due: none

docs(contribute): 📚️ document docs PR preview links
  docs/src/contribute/index.md
Due: md-lint

docs: deploy main @ 9c5421d9017f674f716f3947e7c58b04994a9a80 9c5421d9017f674f716f3947e7c58b04994a9a80
  llms-full.txt
  llms.txt
Due: none

Localisation updates from https://translatewiki.net.
  i18n/nl.json
Due: i18n-lint

build: release 3.19.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

Localisation updates from https://translatewiki.net.
  i18n/lb.json
Due: i18n-lint

fix(sections): 🐛 hide standalone images and tables when collapsed
  resources/skins.citizen.scripts/sections.js
  resources/skins.citizen.styles/components/Sections.less
Due: js-lint, style-lint, test

fix(sections): 🐛 make collapsing sections keyboard accessible
  resources/skins.citizen.scripts/sections.js
  resources/skins.citizen.styles/components/Sections.less
  tests/vitest/skins.citizen.scripts/sections.test.js
Due: js-lint, style-lint, test

fix(sections): 🐛 keep sections collapsible after the content re-renders
  resources/skins.citizen.scripts/sections.js
  tests/vitest/skins.citizen.scripts/sections.test.js
Due: js-lint, test

test(sections): 🚨 cover content rendered into an already-bound root
  tests/vitest/skins.citizen.scripts/sections.test.js
Due: js-lint, test

feat: ✨ add a skip link to jump straight to page content
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.styles/common/print.less
  resources/skins.citizen.styles/components/JumpLink.less
  resources/skins.citizen.styles/skin.less
  skin.json
  templates/skin.mustache
Due: style-lint, i18n-lint

fix(drawer): 🐛 avoid a second banner landmark
  templates/Drawer.mustache
Due: none

fix(toc): 🐛 give the table of contents an accessible name
  templates/TableOfContents.mustache
Due: none

fix(toc): 🐛 restore the missing Back to top tooltip
  templates/TableOfContents.mustache
Due: none

Path conditions:
  js-lint: any of: **/*.{js,vue}
  style-lint: any of: **/*.{less,css,vue}
  i18n-lint: any of: i18n/*.json
  md-lint: any of: *.md
  test: any of: **/*.{js,vue}
