Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

lefthook.yml:

glob_matcher: doublestar

pre-commit:
  parallel: true
  commands:
    js-lint:
      run: npx eslint {staged_files}
      glob: "**/*.{js,vue}"
    style-lint:
      run: npx stylelint {staged_files}
      glob: "**/*.{less,css,vue}"
    i18n-lint:
      run: npm run lint:i18n
      glob: "i18n/*.json"
    md-lint:
      run: npm run lint:md
      glob: "*.md"
    test:
      run: npx vitest run
      glob: "**/*.{js,vue}"

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    devmoji:
      run: npx devmoji -e --lint

use Codex mixin style for collapse icon
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.styles.less
Due: style-lint

Fix lint errors by using tabs
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.styles.less
Due: style-lint

article feedback v5 extension support
  skin.json
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.dashboard.styles.less
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.styles.less
Due: style-lint

fix lint error with single quotes
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.styles.less
Due: style-lint

Added .skin-citizen class for specificity
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.styles.less
Due: style-lint

Remove unused styles for article feedback feature marker
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.dashboard.styles.less
Due: style-lint

import mediawiki.skin.variables.less
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.styles.less
Due: style-lint

feat(ArticleFeedbackv5): ✨ Fix and clean up styles
  skin.json
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.dashboard.less
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.less
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.styles.less
Due: style-lint

feat(ArticleFeedbackv5): ✨ add custom styles (#1544)
  skin.json
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.dashboard.less
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.less
Due: style-lint

build: release 3.16.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

chore(agents): 🔧 record co-author lookup in finalize-release skill
  .agents/skills/finalize-release/SKILL.md
Due: md-lint

docs(theming): 📚️ link to River's guide on Dev Tools
  docs/src/customization/theming.md
Due: md-lint

fix(search): 🐛 read prefill from search trigger element, not click target
  resources/skins.citizen.scripts/search.js
  tests/vitest/skins.citizen.scripts/search.test.js
Due: js-lint, test

refactor(stylelint): ♻️ add overscroll-behavior to ignored properties
  .stylelintrc.json
Due: none

docs(performance-mode): 📚️ clarify how wikis can adapt their styles and scripts
  docs/src/customization/theming.md
  docs/src/features/performance-mode.md
Due: md-lint

Localisation updates from https://translatewiki.net.
  i18n/fr.json
  i18n/gl.json
  i18n/ia.json
  i18n/it.json
  i18n/ko.json
  i18n/lb.json
  i18n/nl.json
  i18n/ru.json
  i18n/sr-ec.json
  i18n/sr-el.json
Due: i18n-lint

fix(tokens): 🐛 restore px on remaining zero header position tokens
  resources/skins.citizen.styles/tokens-citizen.less
Due: style-lint

build: release 3.16.1
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

refactor(footer): ♻️ forward-compat polyfill for MediaWiki 1.47 footer menus
  includes/SkinCitizen.php
  tests/phpunit/Unit/SkinCitizenFooterPolyfillTest.php
Due: none

refactor(footer): ♻️ switch site footer to modern menu data source
  includes/Components/CitizenComponentFooter.php
  includes/SkinCitizen.php
  templates/Footer.mustache
  tests/phpunit/Unit/Components/CitizenComponentFooterTest.php
Due: none

fix(footer): 🐛 drop placeholder label for unrecognized page info items
  includes/Components/CitizenComponentPageFooter.php
  includes/SkinCitizen.php
  tests/phpunit/Unit/Components/CitizenComponentPageFooterTest.php
Due: none

feat(footer): ✨ declare footer menu support for MediaWiki 1.47
  skin.json
Due: none

feat(footer): ✨ forward-compat for MediaWiki 1.47 footer menu migration (#1557)
  includes/Components/CitizenComponentFooter.php
  includes/Components/CitizenComponentPageFooter.php
  includes/SkinCitizen.php
  skin.json
  templates/Footer.mustache
  tests/phpunit/Unit/Components/CitizenComponentFooterTest.php
  tests/phpunit/Unit/Components/CitizenComponentPageFooterTest.php
  tests/phpunit/Unit/SkinCitizenFooterPolyfillTest.php
Due: none

Localisation updates from https://translatewiki.net.
  i18n/fr.json
  i18n/ru.json
  i18n/tr.json
Due: i18n-lint
