Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

js-lint:
  run: npx eslint {staged_files}

style-lint:
  run: npx stylelint {staged_files}

i18n-lint:
  run: npm run lint:i18n

md-lint:
  run: npm run lint:md

test:
  run: npx vitest run

fix(share): 🐛 only flip copy-success state when the copy actually worked
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

fix(share): 🐛 label the dialog so screen readers announce it pre-mount
  resources/skins.citizen.share/App.vue
  templates/Share.mustache
Due: js-lint, style-lint, test

feat(share): ✨ customizable share panel with Web Share API fallback (#1533)
  AGENTS.md
  docs/.vitepress/config.ts
  docs/src/config/index.md
  docs/src/customization/share.md
  i18n/en.json
  i18n/qqq.json
  includes/Components/CitizenComponentPageTools.php
  includes/Components/CitizenComponentStickyHeader.php
  includes/Hooks/ResourceLoaderHooks.php
  includes/OnWikiJsonReader.php
  includes/PreferencesConfigProvider.php
  includes/ShareConfigProvider.php
  includes/SkinCitizen.php
  resources/skins.citizen.scripts/share.js
  resources/skins.citizen.scripts/skin.js
  resources/skins.citizen.scripts/triggerNativeShare.js
  resources/skins.citizen.share/App.vue
  resources/skins.citizen.share/config.json
  resources/skins.citizen.share/init.js
  resources/skins.citizen.styles/components/Share.less
  resources/skins.citizen.styles/skin.less
  skin.json
  templates/Share.mustache
  tests/phpunit/integration/PreferencesConfigProviderTest.php
  tests/phpunit/integration/ShareConfigProviderTest.php
  tests/vitest/skins.citizen.scripts/share.test.js
Due: js-lint, style-lint, i18n-lint, md-lint, test

feat(docs): ✨ 📚️ versioned documentation site
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/VersionSwitcher.vue
  docs/.vitepress/theme/index.ts
  docs/package-lock.json
  docs/package.json
  docs/tests/VersionSwitcher.spec.ts
  docs/vitest.config.ts
Due: js-lint, style-lint, test

ci: 👷 add workflows and generator for versioned docs deploys
  .github/scripts/generate-versions-json.mjs
  .github/scripts/generate-versions-json.test.mjs
  .github/workflows/ci-docs.yml
  .github/workflows/deploy-version-docs.yml
Due: none

ci: initialize gh-pages branch
  README.md
Due: md-lint

refactor(docs): ♻️ 📚️ align version switcher dropdown with Resources menu
  docs/.vitepress/theme/components/VersionSwitcher.vue
  docs/tests/VersionSwitcher.spec.ts
Due: js-lint, style-lint, test

ci(docs): 👷 📚️ split lint + deploy into separate workflows
  .github/workflows/ci-docs.yml
  .github/workflows/deploy-version-docs.yml
  .github/workflows/docs-deploy.yml
Due: none

docs: 📚️ promote Features and split out reusable styling docs
  docs/.vitepress/config.ts
  docs/package-lock.json
  docs/package.json
  docs/src/config/index.md
  docs/src/customization/hooks.md
  docs/src/customization/recipes.md
  docs/src/customization/theming.md
  docs/src/customization/utility-classes.md
  docs/src/features/command-palette.md
  docs/src/features/performance-mode.md
  docs/src/features/preferences.md
  docs/src/features/share.md
  docs/src/guide/introduction.md
Due: md-lint

docs: 📚️ generate llms.txt and add markdown copy/download buttons
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.ts
  docs/package-lock.json
  docs/package.json
Due: none

Localisation updates from https://translatewiki.net.
  i18n/ce.json
  i18n/de.json
  i18n/es.json
  i18n/et.json
  i18n/fi.json
  i18n/fr.json
  i18n/gl.json
  i18n/he.json
  i18n/hi.json
  i18n/ia.json
  i18n/it.json
  i18n/ja.json
  i18n/ko.json
  i18n/lb.json
  i18n/mk.json
  i18n/nl.json
  i18n/pl.json
  i18n/qqq.json
  i18n/ru.json
  i18n/sl.json
  i18n/sr-ec.json
  i18n/sv.json
  i18n/te.json
  i18n/tr.json
  i18n/vi.json
  i18n/zh-hans.json
  i18n/zh-hant.json
Due: i18n-lint

build(deps-dev): 📦️ pin eslint-plugin-mediawiki to 0.8.2
  package-lock.json
  package.json
Due: none

feat(share): ✨ integrate Extension:UrlShortener with the share panel
  docs/src/config/extensions.md
  docs/src/features/share.md
  i18n/en.json
  i18n/qqq.json
  includes/Hooks/ResourceLoaderHooks.php
  resources/skins.citizen.share/App.vue
  resources/skins.citizen.share/composables/useDialogResizeAnimation.js
  resources/skins.citizen.share/composables/useUrlShortener.js
  resources/skins.citizen.share/config.json
  resources/skins.citizen.share/iconStyle.js
  resources/skins.citizen.share/init.js
  resources/skins.citizen.styles/components/Share.less
  skin.json
  tests/vitest/mocks/shareIcons.js
  tests/vitest/setup.js
  tests/vitest/skins.citizen.share/App.test.js
  tests/vitest/skins.citizen.share/useDialogResizeAnimation.test.js
  tests/vitest/skins.citizen.share/useUrlShortener.test.js
Due: js-lint, style-lint, i18n-lint, md-lint, test

docs(features): 📚️ align pages to a shared structure
  docs/src/features/command-palette.md
  docs/src/features/performance-mode.md
  docs/src/features/preferences.md
  docs/src/features/share.md
Due: md-lint

docs(features): 📚️ polish prose and catch up with code changes
  docs/src/features/command-palette.md
  docs/src/features/performance-mode.md
  docs/src/features/preferences.md
  docs/src/features/share.md
Due: md-lint

feat(docs): ✨ 📚️ show h3 headings in the page outline
  docs/.vitepress/config.ts
Due: none

Added .skin-citizen class for specificity
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.styles.less
Due: style-lint

fix lint error with single quotes
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.styles.less
Due: style-lint

Remove unused styles for article feedback feature marker
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.dashboard.styles.less
Due: style-lint

import mediawiki.skin.variables.less
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.styles.less
Due: style-lint

Path conditions:
  js-lint: any of: **/*.{js,vue}
  style-lint: any of: **/*.{less,css,vue}
  i18n-lint: any of: i18n/*.json
  md-lint: any of: *.md
  test: any of: **/*.{js,vue}
