Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

js-lint:
  run: npx eslint {staged_files}

style-lint:
  run: npx stylelint {staged_files}

i18n-lint:
  run: npm run lint:i18n

md-lint:
  run: npm run lint:md

test:
  run: npx vitest run

refactor(menu): ♻️ give menu item decoration its own class
  includes/Hooks/SkinHooks.php
  includes/Menu/MenuItemDecorator.php
  tests/phpunit/Unit/Menu/MenuItemDecoratorTest.php
Due: none

Localisation updates from https://translatewiki.net.
  i18n/fr.json
  i18n/gl.json
  i18n/he.json
  i18n/hi.json
  i18n/ia.json
  i18n/ja.json
  i18n/ko.json
  i18n/lb.json
  i18n/nl.json
  i18n/pt-br.json
  i18n/ru.json
  i18n/skr-arab.json
  i18n/sl.json
  i18n/sr-ec.json
  i18n/tr.json
  i18n/uk.json
  i18n/zh-hans.json
  i18n/zh-hant.json
Due: i18n-lint

fix(docs): 🐛 📚️ restore the copy button hover state
  docs/.vitepress/theme/components/CopyCode.vue
Due: js-lint, style-lint, test

fix(docs): 🐛 📚️ add file extensions to relative imports
  docs/.vitepress/theme/components/ChangelogByTag.vue
  docs/.vitepress/theme/components/ChangelogsList.vue
  docs/.vitepress/theme/components/ContributorList.vue
  docs/.vitepress/theme/data/changelogs.data.ts
  docs/.vitepress/theme/data/release.data.ts
  docs/.vitepress/theme/utils/formatChangelog.ts
Due: js-lint, style-lint, test

build(deps-dev): 📦️ update js-yaml to patched versions in /docs
  docs/package-lock.json
Due: none

ci(docs): 👷 📚️ fail the build when a page fails to render
  docs/package.json
  docs/scripts/build.js
  docs/scripts/ssr-errors.js
  docs/tests/ssrErrors.spec.ts
Due: js-lint, test

fix(menu): 🐛 respect $wgUploadNavigationUrl and upload permissions
  docs/src/customization/recipes.md
  includes/Hooks/SkinHooks.php
  tests/phpunit/integration/Hooks/SkinHooksTest.php
Due: md-lint

docs: deploy main @ fae6b036c910ffcc02d790947b44192d6c6a04d7 fae6b036c910ffcc02d790947b44192d6c6a04d7
  llms-full.txt
  llms.txt
Due: none

fix(DiscussionTools): 🐛 show the subscribe button beside the edit links
  resources/mixins.less
  skinStyles/extensions/DiscussionTools/ext.discussionTools.init.styles.less
Due: style-lint

feat(core): ✨ add upload file page styles
  skin.json
  skinStyles/mediawiki/special/mediawiki.special.upload.styles.less
Due: style-lint

refactor: ♻️ remove unused import
  skinStyles/mediawiki/special/mediawiki.special.upload.styles.less
Due: style-lint

feat: ✨ redesign source file panel and clean up styles
  skinStyles/mediawiki/special/mediawiki.special.upload.styles.less
Due: style-lint

feat(core): ✨ add upload file page styles (#1784)
  skin.json
  skinStyles/mediawiki/special/mediawiki.special.upload.styles.less
Due: style-lint

fix(ArticleFeedbackv5): 🐛 make the whole Yes/No button clickable
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.less
Due: style-lint

fix(ArticleFeedbackv5): 🐛 show hover and focus states on the back button
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.less
Due: style-lint

docs: deploy main @ a031785016c9b097bcca517de837e5e28b248afa a031785016c9b097bcca517de837e5e28b248afa
  llms-full.txt
  llms.txt
Due: none

docs(extensions): 📚️ clarify when MobileFrontend is not recommended
  docs/src/config/extensions.md
Due: md-lint

fix(commandPalette): 🐛 only activate results that match the typed query
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteGallery.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHeader.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteList.vue
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.commandPalette/composables/usePendingActivation.js
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/utils/appendQueryActions.js
  skin.json
  tests/vitest/commandPalette/composables/useKeyboard.test.js
  tests/vitest/commandPalette/composables/usePendingActivation.test.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/utils/appendQueryActions.test.js
Due: js-lint, style-lint, test

fix(commandPalette): 🐛 abort in-flight requests from zero-debounce providers
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
Due: js-lint, test

fix(commandPalette): 🐛 cancel command handler requests on a new keystroke
  resources/skins.citizen.commandPalette/providers/PaletteCommandProvider.js
  tests/vitest/commandPalette/providers/PaletteCommandProvider.test.js
Due: js-lint, test

refactor(commandPalette): ♻️ drop the result type badge
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteListItem.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteListItemContent.vue
  resources/skins.citizen.commandPalette/types.js
  skin.json
  tests/vitest/commandPalette/components/CommandPaletteListItemContent.test.js
Due: js-lint, style-lint, i18n-lint, test

fix(commandPalette): 🐛 hide redirect labels that repeat the page title
  resources/skins.citizen.commandPalette/services/searchClient.js
  tests/vitest/commandPalette/services/searchClient.test.js
Due: js-lint, test

Path conditions:
  js-lint: any of: **/*.{js,vue}
  style-lint: any of: **/*.{less,css,vue}
  i18n-lint: any of: i18n/*.json
  md-lint: any of: *.md
  test: any of: **/*.{js,vue}
