Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

lefthook.yml:

glob_matcher: doublestar

pre-commit:
  parallel: true
  commands:
    js-lint:
      run: npx eslint {staged_files}
      glob: "**/*.{js,vue}"
    style-lint:
      run: npx stylelint {staged_files}
      glob: "**/*.{less,css,vue}"
    i18n-lint:
      run: npm run lint:i18n
      glob: "i18n/*.json"
    md-lint:
      run: npm run lint:md
      glob: "*.md"
    test:
      run: npx vitest run
      glob: "**/*.{js,vue}"

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    devmoji:
      run: npx devmoji -e --lint

docs(showcase): 📚️ add Dragdown Wiki
  docs/data/showcase.json
Due: none

chore(showcase): 🔧 refresh wiki article counts and screenshots
  docs/data/showcase-metadata.json
  docs/data/showcase-shots.json
Due: none

fix(fonts): 🐛 add Cyrillic subsets for the Roboto Mono webfont
  resources/skins.citizen.styles/fonts.less
  resources/skins.citizen.styles/fonts/RobotoMono_cyrillic-ext.woff2
  resources/skins.citizen.styles/fonts/RobotoMono_cyrillic.woff2
Due: style-lint

docs(showcase): 📚️ add seven wikis and refresh the screenshots
  docs/data/showcase-metadata.json
  docs/data/showcase-shots.json
  docs/data/showcase.json
Due: none

feat(tableOfContents): ✨ put the section toggle on the outline's rail
  resources/skins.citizen.styles/components/TableOfContents.less
Due: style-lint

build: release 3.24.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

docs(showcase): 📚️ add 后室中文数据库
  docs/data/showcase-metadata.json
  docs/data/showcase-shots.json
  docs/data/showcase.json
Due: none

feat(commandPalette): ✨ add Clear all button to recent searches list
  i18n/en.json
  i18n/qqq.json
  i18n/ru.json
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/composables/useResultRouter.js
  resources/skins.citizen.commandPalette/services/recentItems.js
  skin.json
Due: js-lint, i18n-lint, test

refactor(commandPalette): ♻️ validate the result source before clearing recent history
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
Due: js-lint, test

Localisation updates from https://translatewiki.net.
  i18n/gl.json
  i18n/mk.json
  i18n/ne.json
  i18n/nl.json
  i18n/qqq.json
  i18n/skr-arab.json
  i18n/tr.json
  i18n/zh-hans.json
Due: i18n-lint

docs: deploy main @ cf2c9ed069c5457da74cd80b24b0939f1dca54be cf2c9ed069c5457da74cd80b24b0939f1dca54be
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ bd4ae02e80b4d812569bce749cb0b0d9d9452643 bd4ae02e80b4d812569bce749cb0b0d9d9452643
  llms-full.txt
  llms.txt
Due: none

fix(tests): 🐛 make the codex.js mock resolver work on Windows
  tests/vitest/setup.js
Due: js-lint, test

docs: deploy main @ e9b0f20fdceef51411d2db7d827320e0d53563f9 e9b0f20fdceef51411d2db7d827320e0d53563f9
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 4a052e9b88cdfa1f4a58a1e0af4e47874e166955 4a052e9b88cdfa1f4a58a1e0af4e47874e166955
  llms-full.txt
  llms.txt
Due: none

docs(showcase): 📚️ add Wiki Lớp Học Mật Ngữ
  docs/data/showcase-metadata.json
  docs/data/showcase-shots.json
  docs/data/showcase.json
Due: none

fix(accessKeys): 🐛 make access keys work on non-Latin keyboard layouts in Chrome
  resources/skins.citizen.scripts/accessKeyFallback.js
  resources/skins.citizen.scripts/keyboardLayout.js
  resources/skins.citizen.scripts/skin.js
  skin.json
  tests/vitest/skins.citizen.scripts/accessKeyFallback.test.js
  tsconfig.json
Due: js-lint, test

fix(pageTools): 🐛 show the page actions menu in Safari on phones
  resources/compat/3.24.less
  resources/skins.citizen.scripts/pageTools.js
  resources/skins.citizen.styles/components/Pagetools.less
  templates/PageTools.mustache
  tests/vitest/skins.citizen.scripts/pageTools.test.js
Due: js-lint, style-lint, test

fix(preferences): 🐛 toggle a switch when its label is clicked
  resources/skins.citizen.preferences/App.vue
  tests/vitest/skins.citizen.preferences/App.test.js
Due: js-lint, style-lint, test

docs: deploy main @ 8e48bc3da1524710ebca3e3d0550dfcd151b7986 8e48bc3da1524710ebca3e3d0550dfcd151b7986
  llms-full.txt
  llms.txt
Due: none

feat(commandPalette): ✨ leave the page you are on out of Recent
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
Due: js-lint, test

feat(commandPalette): ✨ show up to eight entries in Recent
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/services/recentItems.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/services/recentItems.test.js
Due: js-lint, test

Localisation updates from https://translatewiki.net.
  i18n/et.json
  i18n/id.json
  i18n/skr-arab.json
Due: i18n-lint

fix(commandPalette): 🐛 treat every name of a special page as the same page
  includes/Hooks/ResourceLoaderHooks.php
  resources/skins.citizen.commandPalette/modes/action.js
  resources/skins.citizen.commandPalette/services/searchClient.js
  resources/skins.citizen.commandPalette/specialPages.json.d.ts
  resources/skins.citizen.commandPalette/utils/appendQueryActions.js
  resources/skins.citizen.commandPalette/utils/destinationKey.js
  resources/skins.citizen.commandPalette/utils/resolveSpecialPage.js
  skin.json
  tests/phpunit/integration/Hooks/ResourceLoaderHooksTest.php
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/modes/action.test.js
  tests/vitest/commandPalette/services/recentItems.test.js
  tests/vitest/commandPalette/services/searchClient.test.js
  tests/vitest/commandPalette/utils/appendQueryActions.test.js
  tests/vitest/commandPalette/utils/destinationKey.test.js
  tests/vitest/mocks/commandPaletteSpecialPages.js
  tests/vitest/mocks/mwTitle.js
  tests/vitest/setup.js
Due: js-lint, test
