Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

js-lint:
  run: npx eslint {staged_files}

style-lint:
  run: npx stylelint {staged_files}

i18n-lint:
  run: npm run lint:i18n

md-lint:
  run: npm run lint:md

test:
  run: npx vitest run

test(compat): 🚨 compile every compat style file in CI
  tests/phpunit/integration/ResourceLoader/CompatSliceCompileTest.php
Due: none

docs(agents): 📚️ document the compat workflow for breaking HTML changes
  .agents/skills/finalize-release/SKILL.md
  AGENTS.md
  resources/compat/README.md
Due: md-lint

docs(guide): 📚️ add an upgrade guide for the compat flag
  docs/.vitepress/config.ts
  docs/src/config/index.md
  docs/src/guide/upgrading.md
Due: md-lint

test(compat): 🚨 build the module test on a real ResourceLoader context
  resources/compat/README.md
  tests/phpunit/integration/ResourceLoader/CompatSkinModuleTest.php
  tests/phpunit/integration/ResourceLoader/CompatSliceCompileTest.php
Due: md-lint

feat(compat): ✨ keep cached pages rendering after a skin upgrade (#1719)
  .agents/skills/finalize-release/SKILL.md
  .github/workflows/ci.yml
  AGENTS.md
  docs/.vitepress/config.ts
  docs/src/config/index.md
  docs/src/guide/upgrading.md
  i18n/en.json
  i18n/qqq.json
  includes/CompatSlices.php
  includes/ResourceLoader/CompatSkinModule.php
  includes/SkinCitizen.php
  package.json
  resources/compat/README.md
  resources/compat/stubs.json
  scripts/compat-lint.mjs
  skin.json
  tests/phpunit/Unit/CompatSlicesTest.php
  tests/phpunit/integration/ResourceLoader/CompatSkinModuleTest.php
  tests/phpunit/integration/ResourceLoader/CompatSliceCompileTest.php
  tests/phpunit/integration/SkinCitizenTest.php
  tests/vitest/compatLint/compatLint.test.js
Due: js-lint, i18n-lint, md-lint, test

docs(guide): 📚️ rewrite the upgrade guide as a procedure
  docs/.vitepress/config.ts
  docs/src/config/index.md
  docs/src/guide/upgrading.md
Due: md-lint

ci(docs): 👷 📚️ skip preview deploy on Dependabot PRs
  .github/workflows/ci-docs.yml
Due: none

docs: deploy main @ 3a18519422c9b63953206313a235745130c8de49 3a18519422c9b63953206313a235745130c8de49
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 2f7dab1526282edd4afdcc45a2024b7d96295555 2f7dab1526282edd4afdcc45a2024b7d96295555
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 720fc360c4693961b0d877e66cb580f8c9af8a2e 720fc360c4693961b0d877e66cb580f8c9af8a2e
  llms-full.txt
  llms.txt
Due: none

Localisation updates from https://translatewiki.net.
  i18n/gl.json
  i18n/it.json
  i18n/lb.json
  i18n/nl.json
  i18n/ru.json
  i18n/skr-arab.json
  i18n/uk.json
  i18n/zh-hans.json
Due: i18n-lint

docs(showcase): 📚️ add The Petit Planet Wiki
  docs/src/community/showcase.md
Due: md-lint

Localisation updates from https://translatewiki.net.
  i18n/fa.json
  i18n/lb.json
  i18n/tr.json
Due: i18n-lint

fix(commandPalette): 🐛 restore palette loading after a broken style import
  resources/skins.citizen.commandPalette/components/CommandPaletteEmptyState.vue
Due: js-lint, style-lint, test

docs: deploy main @ 114ec6c579394ff289153a521a6abedbae534b4e 114ec6c579394ff289153a521a6abedbae534b4e
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 715395eeab8ccfbff02c77cae0a3e0405c1b124f 715395eeab8ccfbff02c77cae0a3e0405c1b124f
  llms-full.txt
  llms.txt
Due: none

fix(search): 🐛 trigger shortcuts on the character typed, not the key position
  resources/skins.citizen.scripts/keyboardLayout.js
  resources/skins.citizen.scripts/search.js
  skin.json
  tests/vitest/skins.citizen.scripts/keyboardLayout.test.js
  tests/vitest/skins.citizen.scripts/search.test.js
Due: js-lint, test

fix(commandPalette): 🐛 keep the palette usable with input methods and AltGr
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  skin.json
  tests/vitest/commandPalette/composables/useKeyboard.test.js
Due: js-lint, test

fix(commandPalette): 🐛 stop reopening from discarding the query, and keep focus in
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.scripts/commandPalette.js
  tests/vitest/commandPalette/composables/useKeyboard.test.js
  tests/vitest/skins.citizen.scripts/commandPalette.test.js
Due: js-lint, style-lint, test

fix(search): 🐛 advertise the / shortcut in the search button tooltip
  i18n/en.json
  i18n/qqq.json
  skin.json
Due: i18n-lint

fix(commandPalette): 🐛 announce search results to screen readers
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteEmptyState.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteGallery.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHeader.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteList.vue
  skin.json
  tests/vitest/commandPalette/components/CommandPaletteHeader.test.js
Due: js-lint, style-lint, i18n-lint, test

fix(commandPalette): 🐛 follow the reading direction when navigating with arrows
  docs/src/features/command-palette.md
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.commandPalette/composables/useKeyboardBindings.js
  resources/skins.citizen.commandPalette/types.js
  resources/skins.citizen.styles/components/KeyboardHint.less
  tests/vitest/commandPalette/composables/useKeyboard.test.js
  tests/vitest/commandPalette/composables/useKeyboardBindings.test.js
Due: js-lint, style-lint, md-lint, test

test(commandPalette): 🚨 pin the dispatcher's modifier policy as a table
  tests/vitest/commandPalette/composables/useKeyboardModifiers.test.js
Due: js-lint, test

test(commandPalette): 🚨 extend the modifier table to the untested combinations
  tests/vitest/commandPalette/composables/useKeyboardModifiers.test.js
Due: js-lint, test

refactor(commandPalette): ♻️ let keybindings declare the modifiers they claim
  docs/src/features/command-palette.md
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.commandPalette/composables/useKeyboardBindings.js
  resources/skins.citizen.commandPalette/types.js
  tests/vitest/commandPalette/composables/useKeyboardBindings.test.js
Due: js-lint, md-lint, test

Path conditions:
  js-lint: any of: **/*.{js,vue}
  style-lint: any of: **/*.{less,css,vue}
  i18n-lint: any of: i18n/*.json
  md-lint: any of: *.md
  test: any of: **/*.{js,vue}
