Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

lefthook.yml:

glob_matcher: doublestar

pre-commit:
  parallel: true
  commands:
    js-lint:
      run: npx eslint {staged_files}
      glob: "**/*.{js,vue}"
    style-lint:
      run: npx stylelint {staged_files}
      glob: "**/*.{less,css,vue}"
    i18n-lint:
      run: npm run lint:i18n
      glob: "i18n/*.json"
    md-lint:
      run: npm run lint:md
      glob: "*.md"
    test:
      run: npx vitest run
      glob: "**/*.{js,vue}"

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    devmoji:
      run: npx devmoji -e --lint

fix(pagetools): 🐛 stop dropdown cards being announced as landmarks
  templates/PageTools__languages.mustache
  templates/PageTools__more.mustache
Due: none

fix(skin): 🐛 drop an aria-labelledby that assistive tech ignores
  templates/skin.mustache
Due: none

fix(menu): 🐛 name the navigation landmarks for screen readers
  templates/Menu.mustache
Due: none

ci(sonar): 👷 stop flagging LESS imports as misplaced CSS imports
  sonar-project.properties
Due: none

fix(toc): 🐛 give the table of contents an accessible name
  templates/TableOfContents.mustache
Due: none

fix(drawer): 🐛 avoid a second banner landmark
  templates/Drawer.mustache
Due: none

fix(toc): 🐛 restore the missing Back to top tooltip
  templates/TableOfContents.mustache
Due: none

feat: ✨ add a skip link to jump straight to page content
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.styles/common/print.less
  resources/skins.citizen.styles/components/JumpLink.less
  resources/skins.citizen.styles/skin.less
  skin.json
  templates/skin.mustache
Due: style-lint, i18n-lint

refactor(dropdown): ♻️ support wiring up and tearing down a single menu
  resources/skins.citizen.scripts/dropdown.js
  tests/vitest/skins.citizen.scripts/dropdown.test.js
Due: js-lint, test

fix(sticky-header): 🐛 keep cloned menus dismissable and up to date
  resources/skins.citizen.scripts/setupObservers.js
  resources/skins.citizen.scripts/stickyHeader.js
  tests/vitest/skins.citizen.scripts/stickyHeader.test.js
Due: js-lint, test

docs: deploy main @ 0fadbedc7f4a6dae361ef59a9aac6357e07d7007 0fadbedc7f4a6dae361ef59a9aac6357e07d7007
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ d15c085d19b8a7306ef1e8107061d88bf638ac3b d15c085d19b8a7306ef1e8107061d88bf638ac3b
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 52249fcc9301ef31041dac0301b8baf6438722c4 52249fcc9301ef31041dac0301b8baf6438722c4
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 61de4bbd2b6b0bc7d76c56519b86a24cfcdd6ef5 61de4bbd2b6b0bc7d76c56519b86a24cfcdd6ef5
  llms-full.txt
  llms.txt
Due: none

fix(tokens): 🐛 stop Codex icons and buttons rendering dark in dark mode
  resources/skins.citizen.styles/common/features.less
  resources/skins.citizen.tokens.new/dark-overrides.less
  resources/skins.citizen.tokens/tokens-codex.less
  resources/skins.citizen.tokens/tokens-theme-dark.less
Due: style-lint

fix(tokens): 🐛 restore the pressed icon shade on the default theme
  resources/skins.citizen.tokens/tokens-codex.less
Due: style-lint

fix(skinStyles): 🐛 point dangling variable references at real tokens
  skinStyles/extensions/AccountInfo/ext.AccountInfo.special.less
  skinStyles/extensions/CodeEditor/ext.codeEditor.ace.less
  skinStyles/extensions/Flow/ext.flow.ui.less
  skinStyles/extensions/MediaSearch/mediasearch.styles.less
  skinStyles/extensions/SemanticMediaWiki/ext.smw.vtabs.styles.less
  skinStyles/extensions/TemplateData/ext.templateDataGenerator.editTemplatePage.less
  skinStyles/extensions/Wikibase/jquery.wikibase.toolbar.styles.less
  skinStyles/jquery/datatables.less
  skinStyles/jquery/jsonview.less
  skinStyles/lib/leaflet/leaflet.less
  skinStyles/mediawiki/action/mediawiki.action.history.styles.less
Due: style-lint

refactor(tokens): ♻️ normalize the syntax grey token to gray
  resources/skins.citizen.tokens.new/syntax-color.less
  resources/skins.citizen.tokens/tokens-theme-base.less
  resources/skins.citizen.tokens/tokens-theme-dark.less
  resources/variables.less
  skinStyles/extensions/CodeMirror/codemirror.mediawiki.less
  skinStyles/extensions/CodeMirror/ext.CodeMirror.lib.less
  skinStyles/extensions/SyntaxHighlight_GeSHi/ext.pygments.less
Due: style-lint

fix(overflow): 🐛 stop the page shifting when tables and scroll boxes load
  docs/src/features/overflow.md
  resources/skins.citizen.styles/components/OverflowElements.less
  resources/skins.citizen.styles/skinning/content.tables.less
Due: style-lint, md-lint

fix(overflow): 🐛 keep sticky headers aligned and working inside tabs
  docs/src/features/overflow.md
  docs/src/reference/classes.md
  resources/skins.citizen.scripts/overflowElements/index.js
  resources/skins.citizen.scripts/overflowElements/state.js
  resources/skins.citizen.scripts/overflowElements/stickyHeader.js
  resources/skins.citizen.scripts/overflowElements/stickyRows.js
  resources/skins.citizen.styles/components/OverflowElements.less
  skin.json
  tests/vitest/skins.citizen.scripts/overflowElements.test.js
  tests/vitest/skins.citizen.scripts/overflowState.test.js
Due: js-lint, style-lint, md-lint, test

build: release 3.19.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

feat(compat): ✨ keep cached pages rendering after a skin upgrade
  i18n/en.json
  i18n/qqq.json
  includes/CompatSlices.php
  includes/ResourceLoader/CompatSkinModule.php
  includes/SkinCitizen.php
  resources/compat/stubs.json
  skin.json
  tests/phpunit/Unit/CompatSlicesTest.php
  tests/phpunit/integration/ResourceLoader/CompatSkinModuleTest.php
  tests/phpunit/integration/SkinCitizenTest.php
Due: i18n-lint

ci(compat): 👷 fail the build when compat styles outlive their window
  .github/workflows/ci.yml
  package.json
  scripts/compat-lint.mjs
  tests/vitest/compatLint/compatLint.test.js
Due: js-lint, test
