Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

lefthook.yml:

glob_matcher: doublestar

pre-commit:
  parallel: true
  commands:
    js-lint:
      run: npx eslint {staged_files}
      glob: "**/*.{js,vue}"
    style-lint:
      run: npx stylelint {staged_files}
      glob: "**/*.{less,css,vue}"
    i18n-lint:
      run: npm run lint:i18n
      glob: "i18n/*.json"
    md-lint:
      run: npm run lint:md
      glob: "*.md"
    test:
      run: npx vitest run
      glob: "**/*.{js,vue}"

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    devmoji:
      run: npx devmoji -e --lint

fix(commandPalette): 🐛 survive a handler with malformed triggers
  resources/skins.citizen.commandPalette/services/paletteRegistry.js
  tests/vitest/commandPalette/services/paletteRegistry.test.js
Due: js-lint, test

docs: deploy main @ baf275372230919c61cabe41ab86f8da8cb14f9f baf275372230919c61cabe41ab86f8da8cb14f9f
  llms-full.txt
  llms.txt
Due: none

fix(dropdown): 🐛 stop one Escape closing both a select and the dropdown
  resources/skins.citizen.scripts/dropdown.js
  tests/vitest/skins.citizen.scripts/dropdown.test.js
Due: js-lint, test

Update showcase.md
  docs/src/community/showcase.md
Due: md-lint

Localisation updates from https://translatewiki.net.
  i18n/ar.json
  i18n/fr.json
  i18n/gl.json
  i18n/nl.json
  i18n/ps.json
  i18n/so.json
  i18n/tr.json
  i18n/zh-hant.json
Due: i18n-lint

docs(showcase): 📚️ remove Petit Planet wiki
  docs/src/community/showcase.md
Due: md-lint

docs: deploy main @ cefcc1d4322a0dcf59659873c88262efc6130ca1 cefcc1d4322a0dcf59659873c88262efc6130ca1
  llms-full.txt
  llms.txt
Due: none

fix(templates): 🐛 separate icon button link attributes
  templates/IconButtonLink.mustache
Due: none

docs: deploy main @ 3f57816b1a24a30018316e48094e8e05359ea33f 3f57816b1a24a30018316e48094e8e05359ea33f
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ d0b8a656449feca9208ecae41133dd0edac05c43 d0b8a656449feca9208ecae41133dd0edac05c43
  llms-full.txt
  llms.txt
Due: none

docs(showcase): 📚️ add Vocawiki
  docs/src/community/showcase.md
Due: md-lint

Remove unused CodeMirror visualEditor entry
  skin.json
Due: none

Delete skinStyles/extensions/CodeMirror/ext.CodeMirror.visualEditor.less
  skinStyles/extensions/CodeMirror/ext.CodeMirror.visualEditor.less
Due: style-lint

refactor(CodeMirror): ♻️ drop unused VE styles
  skin.json
  skinStyles/extensions/CodeMirror/ext.CodeMirror.visualEditor.less
Due: style-lint

test(pwa): 🚨 guard the app manifest module's service wiring
  tests/phpunit/Unit/SkinJsonServiceWiringTest.php
Due: none

fix(pwa): 🐛 stop refetching the logos on every manifest request
  includes/Api/ApiWebappManifest.php
  skin.json
  tests/phpunit/Unit/Api/ApiWebappManifestTest.php
  tests/phpunit/integration/Api/ApiWebappManifestTest.php
Due: none

feat(sections): ✨ hide the edit buttons when a section is collapsed
  resources/skins.citizen.styles/components/Sections.less
Due: style-lint

fix(VisualEditor): 🐛 correct background color for sticky header in template dialog
  skinStyles/extensions/VisualEditor/ext.visualEditor.mwtransclusion.less
Due: style-lint

feat(VisualEditor): ✨ tighten spacing for template editor
  skinStyles/extensions/VisualEditor/ext.visualEditor.mwtransclusion.less
Due: style-lint

fix(VisualEditor): 🐛 fix toolbar z-index for MW 1.46
  skinStyles/extensions/VisualEditor/ext.visualEditor.core.less
Due: style-lint

feat(preferences): ✨ show text and width options as a segmented track
  docs/src/features/preferences.md
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.preferences/App.vue
  resources/skins.citizen.preferences/SegmentedPicker.vue
  resources/skins.citizen.preferences/defaultConfig.js
  resources/skins.citizen.preferences/types.js
  skin.json
  tests/vitest/skins.citizen.preferences/App.test.js
  tests/vitest/skins.citizen.preferences/SegmentedPicker.test.js
Due: js-lint, style-lint, i18n-lint, md-lint, test

refactor(preferences): ♻️ move the theme readout into its label row
  resources/skins.citizen.preferences/App.vue
  resources/skins.citizen.preferences/ThemePicker.vue
  tests/vitest/skins.citizen.preferences/ThemePicker.test.js
Due: js-lint, style-lint, test

docs(preferences): 📚️ list the built-in preferences and restructure the page
  .github/workflows/docs-deploy.yml
  docs/.gitignore
  docs/.vitepress/config.ts
  docs/package.json
  docs/scripts/generate-preferences-reference.js
  docs/src/config/index.md
  docs/src/customization/theming.md
  docs/src/features/preferences.md
  docs/src/reference/hooks.md
  docs/tests/generatePreferencesReference.spec.ts
  docs/tsconfig.json
  resources/skins.citizen.preferences/defaultConfig.js
Due: js-lint, md-lint, test

fix: add heart icon for compat with WikiLove
  skin.json
Due: none
