Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

js-lint:
  run: npx eslint {staged_files}

style-lint:
  run: npx stylelint {staged_files}

i18n-lint:
  run: npm run lint:i18n

md-lint:
  run: npm run lint:md

test:
  run: npx vitest run

docs(showcase): 📚️ add Pleasant Goat Wiki
  docs/src/community/showcase.md
Due: md-lint

perf(core): ⚡️ stop sticky header toggles from recalculating the whole page
  resources/mixins.less
  resources/skins.citizen.scripts/stickyHeader.js
  resources/skins.citizen.styles/common/common.less
  resources/skins.citizen.styles/common/features.less
  resources/skins.citizen.styles/components/JumpLink.less
  resources/skins.citizen.styles/components/OverflowElements.less
  resources/skins.citizen.styles/components/TableOfContents.less
  resources/skins.citizen.styles/tokens-citizen.less
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.dashboard.less
  skinStyles/extensions/SearchDigest/ext.searchdigest.styles.less
  skinStyles/extensions/SemanticResultFormats/datatables/ext.srf.datatables.v2.format.less
  skinStyles/extensions/VisualEditor/ext.visualEditor.desktopArticleTarget.init.less
  tests/vitest/skins.citizen.scripts/stickyHeader.test.js
Due: js-lint, style-lint, test

docs(agents): 📚️ add code comment convention
  AGENTS.md
Due: md-lint

perf(core): ⚡️ lighten the frosted glass blur to keep scrolling smooth
  resources/skins.citizen.tokens.new/misc.less
  resources/skins.citizen.tokens/tokens-theme-base.less
Due: style-lint

fix(notifications): 🐛 open the panel without a loading flash
  includes/Hooks/SkinHooks.php
  resources/skins.citizen.notifications/components/App.vue
  resources/skins.citizen.notifications/index.js
  resources/skins.citizen.notifications/notifications.less
  resources/skins.citizen.scripts/notifications.js
  resources/skins.citizen.styles/components/Notifications.less
  resources/skins.citizen.styles/skin.less
  skin.json
  templates/Notifications.mustache
  tests/vitest/skins.citizen.notifications/App.test.js
  tests/vitest/skins.citizen.scripts/notifications.test.js
Due: js-lint, style-lint, test

test(notifications): 🚨 cover the placeholder count and the mount race
  includes/SkinCitizen.php
  tests/phpunit/integration/Hooks/SkinHooksTest.php
  tests/vitest/skins.citizen.scripts/notifications.test.js
Due: js-lint, test

fix(notifications): 🐛 keep the footer reachable when the panel fails to load
  includes/Hooks/SkinHooks.php
  resources/skins.citizen.notifications/components/App.vue
  resources/skins.citizen.scripts/notifications.js
  resources/skins.citizen.styles/components/Notifications.less
  templates/Notifications.mustache
  tests/vitest/skins.citizen.scripts/notifications.test.js
Due: js-lint, style-lint, test

perf(notifications): ⚡️ stop paying twice to open the notification panel
  resources/skins.citizen.notifications/components/App.vue
  resources/skins.citizen.notifications/sources/echo.js
  tests/vitest/skins.citizen.notifications/App.test.js
  tests/vitest/skins.citizen.notifications/echoSource.test.js
Due: js-lint, style-lint, test

fix(SemanticResultFormats): 🐛 restore distance filter and timeline styles
  skin.json
  tests/phpunit/Unit/SkinJsonSkinStylesTest.php
Due: none

refactor(sections): ♻️ remove an unreachable heading check in the section builder
  includes/Components/CitizenComponentBodyContent.php
  tests/phpunit/Unit/Components/CitizenComponentBodyContentTest.php
Due: none

fix(commandPalette): 🐛 cancel stale SMW suggestion requests too
  docs/src/features/command-palette.md
  resources/skins.citizen.commandPalette.smw/init.js
  resources/skins.citizen.commandPalette/types.js
  tests/vitest/commandPalette.smw/smw.test.js
Due: js-lint, md-lint, test

fix(commandPalette): 🐛 cancel stale SMW queries where MediaWiki supports it
  resources/skins.citizen.commandPalette.smw/init.js
  resources/skins.citizen.commandPalette/types.js
  tests/vitest/commandPalette.smw/smw.test.js
Due: js-lint, test

chore: 🔧 remove two static analysis suppressions that no longer apply
  includes/Components/CitizenComponentBodyContent.php
Due: none

build: release 3.20.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

docs(commandPalette): 📚️ sync type definitions with the shipped contract
  resources/skins.citizen.commandPalette/components/CommandPaletteGalleryItem.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteListItem.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteListItemActions.vue
  resources/skins.citizen.commandPalette/modes/namespace.js
  resources/skins.citizen.commandPalette/services/recentItems.js
  resources/skins.citizen.commandPalette/types.js
  resources/skins.citizen.commandPalette/utils/providerActions.js
Due: js-lint, style-lint, test

refactor(menu): ♻️ give menu item decoration its own class
  includes/Hooks/SkinHooks.php
  includes/Menu/MenuItemDecorator.php
  tests/phpunit/Unit/Menu/MenuItemDecoratorTest.php
Due: none

refactor(menu): ♻️ move navigation menu decoration out of the hooks class
  includes/Hooks/SkinHooks.php
  includes/Menu/NavigationMenuTransformer.php
  includes/SkinCitizen.php
  skin.json
  tests/phpunit/Unit/Menu/NavigationMenuTransformerTest.php
  tests/phpunit/integration/Hooks/SkinHooksTest.php
  tests/phpunit/integration/SkinCitizenPreferenceDefaultsTest.php
  tests/phpunit/integration/SkinCitizenTest.php
Due: none

test(core): 🚨 guard the skin service wiring against reordering
  tests/phpunit/Unit/SkinJsonServiceWiringTest.php
Due: none

Path conditions:
  js-lint: any of: **/*.{js,vue}
  style-lint: any of: **/*.{less,css,vue}
  i18n-lint: any of: i18n/*.json
  md-lint: any of: *.md
  test: any of: **/*.{js,vue}
