Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

js-lint:
  run: npx eslint {staged_files}

style-lint:
  run: npx stylelint {staged_files}

i18n-lint:
  run: npm run lint:i18n

md-lint:
  run: npm run lint:md

test:
  run: npx vitest run

refactor(commandPalette): ♻️ let keybindings declare the modifiers they claim
  docs/src/features/command-palette.md
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.commandPalette/composables/useKeyboardBindings.js
  resources/skins.citizen.commandPalette/types.js
  tests/vitest/commandPalette/composables/useKeyboardBindings.test.js
Due: js-lint, md-lint, test

test(commandPalette): 🚨 extend the modifier table to the untested combinations
  tests/vitest/commandPalette/composables/useKeyboardModifiers.test.js
Due: js-lint, test

test(commandPalette): 🚨 pin the dispatcher's modifier policy as a table
  tests/vitest/commandPalette/composables/useKeyboardModifiers.test.js
Due: js-lint, test

chore: 🔧 ignore the playwright-cli working directory
  .gitignore
Due: none

fix(commandPalette): 🐛 recognize namespace aliases when tagging a search
  resources/skins.citizen.commandPalette/modes/namespace.js
  tests/vitest/commandPalette/composables/useTokenizedInput.test.js
  tests/vitest/commandPalette/modes/namespace.test.js
Due: js-lint, test

fix(notifications): 🐛 show notifications from other wikis
  resources/skins.citizen.notifications/components/App.vue
  resources/skins.citizen.notifications/components/NotificationItem.vue
  resources/skins.citizen.notifications/sources/echo.js
  tests/vitest/skins.citizen.notifications/App.test.js
  tests/vitest/skins.citizen.notifications/echoSource.test.js
Due: js-lint, style-lint, test

feat(notifications): ✨ show only unread notifications in one list
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.notifications/components/App.vue
  resources/skins.citizen.notifications/components/NotificationItem.vue
  resources/skins.citizen.notifications/index.js
  resources/skins.citizen.notifications/sources/echo.js
  skin.json
  tests/vitest/skins.citizen.notifications/App.test.js
  tests/vitest/skins.citizen.notifications/echoSource.test.js
Due: js-lint, style-lint, i18n-lint, test

feat(notifications): ✨ read other wikis' notifications from the panel
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.notifications/components/App.vue
  resources/skins.citizen.notifications/components/NotificationItem.vue
  resources/skins.citizen.notifications/components/WikiList.vue
  resources/skins.citizen.notifications/index.js
  resources/skins.citizen.notifications/relativeTime.js
  resources/skins.citizen.notifications/sources/echo.js
  skin.json
  tests/vitest/skins.citizen.notifications/App.test.js
  tests/vitest/skins.citizen.notifications/WikiList.test.js
  tests/vitest/skins.citizen.notifications/echoSource.test.js
Due: js-lint, style-lint, i18n-lint, test

feat(preferences): ✨ set defaults and hide entries from the preferences JSON
  docs/src/config/index.md
  docs/src/customization/recipes.md
  docs/src/customization/theming.md
  docs/src/features/preferences.md
  includes/Hooks/ResourceLoaderHooks.php
  includes/PreferencesConfigProvider.php
  includes/SkinCitizen.php
  resources/skins.citizen.preferences/App.vue
  resources/skins.citizen.preferences/init.js
  resources/skins.citizen.preferences/types.js
  skin.json
  tests/phpunit/Unit/PreferencesConfigProviderTest.php
  tests/phpunit/integration/SkinCitizenPreferenceDefaultsTest.php
  tests/phpunit/integration/SkinCitizenTest.php
  tests/vitest/skins.citizen.preferences/App.test.js
  tests/vitest/skins.citizen.preferences/init.test.js
Due: js-lint, style-lint, md-lint, test

perf(commandPalette): ⚡️ open the palette faster after hovering the search button
  AGENTS.md
  resources/skins.citizen.scripts/commandPalette.js
  resources/skins.citizen.scripts/intentPrefetch.js
  tests/vitest/skins.citizen.scripts/commandPalette.test.js
  tests/vitest/skins.citizen.scripts/intentPrefetch.test.js
Due: js-lint, md-lint, test

refactor(commandPalette): ♻️ drop the unread prefill option from the mount call
  resources/skins.citizen.scripts/commandPalette.js
  tests/vitest/skins.citizen.scripts/commandPalette.test.js
Due: js-lint, test

perf(commandPalette): ⚡️ show search results sooner while typing
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/providers/SearchProvider.js
  resources/skins.citizen.commandPalette/providers/createProvider.js
  resources/skins.citizen.commandPalette/types.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/providers/createProvider.test.js
Due: js-lint, test

build(deps-dev): 📦️ update mediawiki/mediawiki-codesniffer requirement from 51.0.0 to 52.0.0
  composer.json
Due: none

chore: 🔧 wrap a line flagged by the 120-character sniff
  includes/SkinCitizen.php
Due: none

feat(notifications): ✨ show each notification's icon in the panel
  resources/skins.citizen.notifications/components/App.vue
  resources/skins.citizen.notifications/components/NotificationItem.vue
  resources/skins.citizen.notifications/notifications.less
  templates/Notifications.mustache
  tests/vitest/skins.citizen.notifications/NotificationItem.test.js
Due: js-lint, style-lint, test

feat(notifications): ✨ group the panel actions in a footer
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.notifications/components/App.vue
  resources/skins.citizen.notifications/components/NotificationItem.vue
  resources/skins.citizen.notifications/components/NotificationList.vue
  resources/skins.citizen.notifications/components/PanelFooter.vue
  resources/skins.citizen.notifications/components/WikiList.vue
  resources/skins.citizen.notifications/notifications.less
  skin.json
  tests/vitest/mocks/notificationsIcons.js
  tests/vitest/skins.citizen.notifications/App.test.js
  tests/vitest/skins.citizen.notifications/PanelFooter.test.js
Due: js-lint, style-lint, i18n-lint, test

fix(notifications): 🐛 expand the panel to full width on small screens
  resources/skins.citizen.notifications/notifications.less
Due: style-lint

fix(header): 🐛 close the gap above sticky table headers when the navigation auto-hides
  resources/skins.citizen.styles/common/features.less
Due: style-lint

docs: deploy main @ c910330358626eb321519a629652e460eefc83bb c910330358626eb321519a629652e460eefc83bb
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 23c1ecfeb0c668124b6d580b1e3757a5a767d2eb 23c1ecfeb0c668124b6d580b1e3757a5a767d2eb
  llms-full.txt
  llms.txt
Due: none

fix(toc): 🐛 keep the table of contents from vanishing while scrolling in Firefox
  resources/skins.citizen.styles/components/PageSidebar.less
Due: style-lint

perf(core): ⚡️ keep icons from re-rendering on every scroll frame
  resources/skins.citizen.styles/components/Menu.less
  resources/skins.citizen.styles/components/TableOfContents.less
Due: style-lint

Path conditions:
  js-lint: any of: **/*.{js,vue}
  style-lint: any of: **/*.{less,css,vue}
  i18n-lint: any of: i18n/*.json
  md-lint: any of: *.md
  test: any of: **/*.{js,vue}
