Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

js-lint:
  run: npx eslint {staged_files}

style-lint:
  run: npx stylelint {staged_files}

i18n-lint:
  run: npm run lint:i18n

md-lint:
  run: npm run lint:md

test:
  run: npx vitest run

feat(fonts): ✨ ship Roboto Mono webfont
  resources/skins.citizen.styles/fonts.less
  resources/skins.citizen.styles/fonts/RobotoMono_latin-ext.woff2
  resources/skins.citizen.styles/fonts/RobotoMono_latin.woff2
Due: style-lint

Localisation updates from https://translatewiki.net.
  i18n/ko.json
  i18n/zh-hans.json
Due: i18n-lint

feat(a11y): ✨ respect the reduce-transparency preference
  resources/skins.citizen.styles/common/features.less
Due: style-lint

perf(dropdown): ⚡️ drop blur on mobile dismiss overlay
  resources/skins.citizen.styles/components/Dropdown.less
Due: style-lint

feat(menu): ✨ polish open and close animation
  resources/skins.citizen.styles/components/Drawer.less
  resources/skins.citizen.styles/components/Dropdown.less
  resources/skins.citizen.styles/components/Menu.less
  resources/skins.citizen.styles/components/Pagetools.less
  resources/skins.citizen.styles/components/Search.less
  resources/skins.citizen.styles/components/StickyHeader.less
  resources/skins.citizen.styles/components/TableOfContents.less
  resources/skins.citizen.styles/tokens-citizen.less
Due: style-lint

feat(commandPalette): ✨ polish entrance and exit animation
  resources/skins.citizen.commandPalette/components/App.vue
Due: js-lint, style-lint, test

perf(commandPalette): ⚡️ drop blur on dismiss backdrop
  resources/skins.citizen.commandPalette/components/App.vue
Due: js-lint, style-lint, test

refactor(menu): ♻️ centralize card expand direction in the cascade
  resources/mixins.less
  resources/skins.citizen.styles/components/Drawer.less
  resources/skins.citizen.styles/components/Dropdown.less
  resources/skins.citizen.styles/components/Menu.less
  resources/skins.citizen.styles/components/Pagetools.less
  resources/skins.citizen.styles/components/Search.less
  resources/skins.citizen.styles/components/StickyHeader.less
  resources/skins.citizen.styles/components/TableOfContents.less
  resources/skins.citizen.styles/tokens-citizen.less
Due: style-lint

fix(userMenu): 🐛 clean up menu for temporary users
  includes/Hooks/SkinHooks.php
  tests/phpunit/integration/Hooks/SkinHooksTest.php
Due: none

docs(recipes): 📚️ add recipe for forcing a single theme
  docs/src/customization/recipes.md
Due: md-lint

Localisation updates from https://translatewiki.net.
  i18n/ko.json
Due: i18n-lint

feat(notifications): ✨ merge Echo's two badges into a single notification panel
  i18n/en.json
  i18n/qqq.json
  includes/Hooks/SkinHooks.php
  includes/SkinCitizen.php
  resources/skins.citizen.notifications/components/App.vue
  resources/skins.citizen.notifications/components/NotificationItem.vue
  resources/skins.citizen.notifications/components/NotificationList.vue
  resources/skins.citizen.notifications/index.js
  resources/skins.citizen.notifications/notifications.less
  resources/skins.citizen.notifications/sources/echo.js
  resources/skins.citizen.scripts/echo.js
  resources/skins.citizen.scripts/notifications.js
  resources/skins.citizen.scripts/skin.js
  resources/skins.citizen.styles/components/Header.less
  skin.json
  skinStyles/extensions/Echo/ext.echo.styles.alert.less
  skinStyles/extensions/Echo/ext.echo.styles.badge.less
  skinStyles/extensions/Echo/ext.echo.styles.notifications.less
  skinStyles/extensions/Echo/ext.echo.styles.special.less
  skinStyles/extensions/Echo/ext.echo.ui.desktop.less
  skinStyles/extensions/Echo/ext.echo.ui.less
  templates/Header.mustache
  templates/Notifications.mustache
  tests/phpunit/integration/Hooks/SkinHooksTest.php
  tests/vitest/mocks/notificationsIcons.js
  tests/vitest/setup.js
  tests/vitest/skins.citizen.notifications/App.test.js
  tests/vitest/skins.citizen.notifications/echoSource.test.js
  tests/vitest/skins.citizen.scripts/notifications.test.js
Due: js-lint, style-lint, i18n-lint, test

fix(header): 🐛 base dropdown card max-height on the header size
  resources/skins.citizen.styles/tokens-citizen.less
Due: style-lint

fix(header): 🐛 use dvh for dropdown card max-height on mobile
  resources/skins.citizen.styles/tokens-citizen.less
Due: style-lint

Localisation updates from https://translatewiki.net.
  i18n/gl.json
  i18n/he.json
  i18n/ia.json
  i18n/ko.json
  i18n/lb.json
  i18n/mk.json
  i18n/nl.json
  i18n/ru.json
  i18n/tr.json
Due: i18n-lint

Localisation updates from https://translatewiki.net.
  i18n/hi.json
  i18n/lb.json
  i18n/skr-arab.json
  i18n/zh-hans.json
  i18n/zh-hant.json
Due: i18n-lint

Add NITC Wiki link to showcase
  docs/src/community/showcase.md
Due: md-lint

fix(user-menu): 🐛 show temp account notice instead of IP warning
  i18n/en.json
  i18n/qqq.json
  includes/Components/CitizenComponentUserInfo.php
  includes/SkinCitizen.php
  skin.json
  tests/phpunit/Unit/Components/CitizenComponentUserInfoTest.php
  tests/phpunit/integration/SkinCitizenTest.php
Due: i18n-lint

Localisation updates from https://translatewiki.net.
  i18n/gl.json
  i18n/ia.json
  i18n/ko.json
  i18n/nl.json
  i18n/ru.json
  i18n/sr-ec.json
Due: i18n-lint

build: release 3.17.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

Localisation updates from https://translatewiki.net.
  i18n/ja.json
  i18n/zh-hant.json
Due: i18n-lint

Update showcase.md
  docs/src/community/showcase.md
Due: md-lint

Path conditions:
  js-lint: any of: **/*.{js,vue}
  style-lint: any of: **/*.{less,css,vue}
  i18n-lint: any of: i18n/*.json
  md-lint: any of: *.md
  test: any of: **/*.{js,vue}
