Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

js-lint:
  run: npx eslint {staged_files}

style-lint:
  run: npx stylelint {staged_files}

i18n-lint:
  run: npm run lint:i18n

md-lint:
  run: npm run lint:md

test:
  run: npx vitest run

refactor(commandPalette): ♻️ reduce cognitive complexity flagged by SonarQube
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/providers/CommandProvider.js
Due: js-lint, test

feat(commandPalette): ✨ add mode switching with visual header and transitions
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHeader.vue
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.scripts/search.js
  tests/vitest/commandPalette/composables/useKeyboard.test.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
Due: js-lint, style-lint, i18n-lint, test

feat(commandPalette): ✨ add useTokenizedInput composable
  resources/skins.citizen.commandPalette/composables/useTokenizedInput.js
  tests/vitest/commandPalette/composables/useTokenizedInput.test.js
Due: js-lint, test

feat(commandPalette): ✨ add empty and no-results states to user mode
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/modes/user.js
  skin.json
Due: js-lint, i18n-lint, test

feat(commandPalette): ✨ thread tokens into mode results and improve token pattern infra
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHeader.vue
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/composables/useTokenizedInput.js
  resources/skins.citizen.commandPalette/init.js
  resources/skins.citizen.commandPalette/services/paletteRegistry.js
  resources/skins.citizen.commandPalette/types.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/composables/useTokenizedInput.test.js
  tests/vitest/commandPalette/services/paletteRegistry.test.js
Due: js-lint, style-lint, test

test(commandPalette): 🚨 add comprehensive test suite
  tests/vitest/commandPalette/composables/useKeyboard.test.js
  tests/vitest/commandPalette/composables/useListNavigation.test.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/providers/CommandProvider.test.js
  tests/vitest/commandPalette/providers/SearchProvider.test.js
  tests/vitest/commandPalette/providers/createProvider.test.js
  tests/vitest/commandPalette/services/commandRegistry.test.js
  tests/vitest/commandPalette/services/recentItems.test.js
  tests/vitest/commandPalette/services/searchClient.test.js
  tests/vitest/commandPalette/utils/appendQueryActions.test.js
  tests/vitest/mocks/commandPaletteConfig.js
  tests/vitest/mocks/commandPaletteIcons.js
  tests/vitest/mocks/mw.js
  tests/vitest/setup.js
Due: js-lint, test

feat(commandPalette): ✨ add chip rendering and tokenized input UI integration
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHeader.vue
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  skin.json
Due: js-lint, style-lint, test

test(commandPalette): 🚨 add mode unit tests for action, user, and namespace
  tests/vitest/commandPalette/modes/action.test.js
  tests/vitest/commandPalette/modes/namespace.test.js
  tests/vitest/commandPalette/modes/user.test.js
  tests/vitest/mocks/mw.js
Due: js-lint, test

build: release 3.15.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

docs: 📚️ consolidate extension info into documentation site
  README.md
Due: md-lint

docs: 📚️ add mw.hook reference page
  docs/.vitepress/config.ts
  docs/src/customization/hooks.md
Due: md-lint

feat(UserProfileV2): ✨ improve profile page styles
  skinStyles/extensions/UserProfileV2/ext.userProfileV2.less
Due: style-lint

refactor(commandPalette): ♻️ rename updateQuery action to exitWithQuery
  docs/src/customization/command-palette.md
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/modes/namespace.js
  resources/skins.citizen.commandPalette/providers/PaletteCommandProvider.js
  resources/skins.citizen.commandPalette/types.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/modes/namespace.test.js
  tests/vitest/commandPalette/providers/PaletteCommandProvider.test.js
Due: js-lint, style-lint, md-lint, test

feat(commandPalette): ✨ add updateQuery action to stay in mode
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/types.js
Due: js-lint, style-lint, test

feat(commandPalette): ✨ add SMW condition parser for autocomplete
  resources/skins.citizen.commandPalette.smw/queryParser.js
  skin.json
  tests/vitest/commandPalette.smw/queryParser.test.js
Due: js-lint, test

feat(commandPalette): ✨ add SMW property autocomplete suggestions
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette.smw/init.js
  resources/skins.citizen.commandPalette/components/App.vue
  skin.json
Due: js-lint, style-lint, i18n-lint, test

feat(commandPalette): ✨ add SMW category autocomplete suggestions
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette.smw/init.js
  skin.json
  tests/vitest/commandPalette.smw/smw.test.js
Due: js-lint, i18n-lint, test

fix: 🐛 skinStyles for ext.Spoilers
  package-lock.json
  skinStyles/extensions/Spoilers/ext.Spoilers.less
Due: style-lint

fix: 🐛 skinStyles for ext.Spoilers
  skinStyles/extensions/Spoilers/ext.Spoilers.less
Due: style-lint

feat(Spoiler): ✨ improve spoiler button and card styles
  skinStyles/extensions/Spoilers/ext.Spoilers.less
Due: style-lint

feat(commandPalette): ✨ add SMW value autocomplete suggestions
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette.smw/init.js
  resources/skins.citizen.commandPalette/types.js
  skin.json
  tests/vitest/commandPalette.smw/smw.test.js
Due: js-lint, i18n-lint, test

perf(commandPalette): ⚡️ add edge caching to SMW API calls
  resources/skins.citizen.commandPalette.smw/init.js
  skin.json
  tests/vitest/commandPalette.smw/smw.test.js
Due: js-lint, test

feat(commandPalette): ✨ support array tokenPattern and detail item type
  resources/skins.citizen.commandPalette/services/paletteRegistry.js
  resources/skins.citizen.commandPalette/types.js
  tests/vitest/commandPalette/services/paletteRegistry.test.js
Due: js-lint, test

feat(commandPalette): ✨ add detail panel for focused items
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteDetailPanel.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteList.vue
  skin.json
Due: js-lint, style-lint, test

feat(commandPalette): ✨ show SMW printout data in Ask results
  resources/skins.citizen.commandPalette.smw/init.js
  tests/vitest/commandPalette.smw/queryParser.test.js
  tests/vitest/commandPalette.smw/smw.test.js
Due: js-lint, test

Path conditions:
  js-lint: any of: **/*.{js,vue}
  style-lint: any of: **/*.{less,css,vue}
  i18n-lint: any of: i18n/*.json
  md-lint: any of: *.md
  test: any of: **/*.{js,vue}
