Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

lefthook.yml:

glob_matcher: doublestar

pre-commit:
  parallel: true
  commands:
    js-lint:
      run: npx eslint {staged_files}
      glob: "**/*.{js,vue}"
    style-lint:
      run: npx stylelint {staged_files}
      glob: "**/*.{less,css,vue}"
    i18n-lint:
      run: npm run lint:i18n
      glob: "i18n/*.json"
    md-lint:
      run: npm run lint:md
      glob: "*.md"
    test:
      run: npx vitest run
      glob: "**/*.{js,vue}"

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    devmoji:
      run: npx devmoji -e --lint

fix(scripts): 🐛 keep the skin working when the interface language is invalid
  resources/skins.citizen.scripts/lastModified.js
  tests/vitest/skins.citizen.scripts/lastModified.test.js
Due: js-lint, test

fix(notifications): 🐛 show notifications when the interface language is invalid
  resources/skins.citizen.notifications/components/NotificationItem.vue
  tests/vitest/skins.citizen.notifications/NotificationItem.test.js
Due: js-lint, style-lint, test

refactor(docs): update Untitled Tag Game Wiki link
  docs/src/community/showcase.md
Due: md-lint

Update links in command palette documentation
  docs/src/features/command-palette.md
Due: md-lint

refactor(tokens): ♻️ lower the new base-token layer to zero specificity (preview)
  resources/skins.citizen.tokens.new/background-color.less
  resources/skins.citizen.tokens.new/border-color.less
  resources/skins.citizen.tokens.new/box-shadow.less
  resources/skins.citizen.tokens.new/color.less
  resources/skins.citizen.tokens.new/font.less
  resources/skins.citizen.tokens.new/misc.less
  resources/skins.citizen.tokens.new/opacity.less
  resources/skins.citizen.tokens.new/primitives-citizen.less
  resources/skins.citizen.tokens.new/primitives-codex.less
  resources/skins.citizen.tokens.new/surface.less
  resources/skins.citizen.tokens.new/syntax-color.less
  resources/skins.citizen.tokens.new/tokens.less
Due: style-lint

refactor(tokens): ♻️ make built-in theme rules bare clientpref classes (preview)
  docs/src/customization/theming.md
  resources/skins.citizen.tokens.new/themes/black.less
  resources/skins.citizen.tokens.new/tokens.less
Due: style-lint, md-lint

docs(showcase): 📚️ update Untitled Tag Game Wiki link (#1645)
  docs/src/community/showcase.md
  docs/src/features/command-palette.md
Due: md-lint

docs: deploy main @ 1d6e94a0ee1ae3732974f5af80871778be58fbd0 1d6e94a0ee1ae3732974f5af80871778be58fbd0
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ b7917e91417883b23a2a3738b8a28e748bcbf575 b7917e91417883b23a2a3738b8a28e748bcbf575
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ de1c21a0a9c8db62958af16939520bc0096ecb02 de1c21a0a9c8db62958af16939520bc0096ecb02
  llms-full.txt
  llms.txt
Due: none

Localisation updates from https://translatewiki.net.
  i18n/gl.json
  i18n/he.json
  i18n/it.json
  i18n/nl.json
  i18n/pl.json
  i18n/ru.json
  i18n/zh-hans.json
Due: i18n-lint

refactor(tokens): ♻️ split token mixins into declaration and scope layers (preview)
  resources/skins.citizen.tokens.new/background-color.less
  resources/skins.citizen.tokens.new/border-color.less
  resources/skins.citizen.tokens.new/box-shadow.less
  resources/skins.citizen.tokens.new/color.less
  resources/skins.citizen.tokens.new/font.less
  resources/skins.citizen.tokens.new/misc.less
  resources/skins.citizen.tokens.new/opacity.less
  resources/skins.citizen.tokens.new/primitives-citizen.less
  resources/skins.citizen.tokens.new/primitives-codex.less
  resources/skins.citizen.tokens.new/surface.less
  resources/skins.citizen.tokens.new/syntax-color.less
Due: style-lint

feat(preferences): ✨ add the Citizen 4 theme picker component (preview)
  resources/skins.citizen.preferences/ThemePicker.vue
  skin.json
  tests/vitest/skins.citizen.preferences/ThemePicker.test.js
Due: js-lint, style-lint, test

feat(preferences): ✨ use the new theme picker and Theme label on Citizen 4 (preview)
  docs/src/customization/theming.md
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.preferences/App.vue
  resources/skins.citizen.preferences/defaultConfig.js
  skin.json
  tests/vitest/skins.citizen.preferences/App.test.js
  tests/vitest/skins.citizen.preferences/defaultConfig.test.js
Due: js-lint, style-lint, i18n-lint, md-lint, test

fix(preferences): 🐛 show an unregistered default theme as a real selection (preview)
  docs/src/customization/theming.md
  resources/skins.citizen.preferences/App.vue
  tests/vitest/skins.citizen.preferences/App.test.js
Due: js-lint, style-lint, md-lint, test

feat(preferences): ✨ reflect the wiki's brand colors in theme previews (preview)
  docs/src/customization/theming.md
  resources/skins.citizen.preferences/ThemePicker.vue
  resources/skins.citizen.preferences/themePreview.less
  resources/skins.citizen.preferences/themePreviewBaseline.js
  skin.json
  tests/vitest/skins.citizen.preferences/ThemePicker.test.js
  tests/vitest/skins.citizen.preferences/themePreviewBaseline.test.js
Due: js-lint, style-lint, md-lint, test

feat(preferences): ✨ paint theme previews from each theme's real tokens (preview)
  resources/skins.citizen.preferences/ThemePicker.vue
  resources/skins.citizen.preferences/themePreview.less
  resources/skins.citizen.tokens.new/misc.less
  resources/skins.citizen.tokens.new/primitives-citizen.less
  skin.json
  tests/vitest/skins.citizen.preferences/ThemePicker.test.js
Due: js-lint, style-lint, test

feat(preferences): ✨ add hover and active states to the theme circles (preview)
  resources/skins.citizen.preferences/ThemePicker.vue
Due: js-lint, style-lint, test

docs(customization): 📚️ tighten the theme guide wording
  docs/src/customization/theming.md
Due: md-lint

docs(customization): 📚️ trim the theme default and live preview callouts
  docs/src/customization/theming.md
Due: md-lint

fix(preferences): 🐛 drop the pointer cursor on the selected theme circle (preview)
  resources/skins.citizen.preferences/ThemePicker.vue
Due: js-lint, style-lint, test

feat(preferences): ✨ redesign the theme picker (preview) (#1654)
  docs/src/customization/theming.md
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.preferences/App.vue
  resources/skins.citizen.preferences/ThemePicker.vue
  resources/skins.citizen.preferences/defaultConfig.js
  resources/skins.citizen.preferences/themePreview.less
  resources/skins.citizen.preferences/themePreviewBaseline.js
  resources/skins.citizen.tokens.new/background-color.less
  resources/skins.citizen.tokens.new/border-color.less
  resources/skins.citizen.tokens.new/box-shadow.less
  resources/skins.citizen.tokens.new/color.less
  resources/skins.citizen.tokens.new/font.less
  resources/skins.citizen.tokens.new/misc.less
  resources/skins.citizen.tokens.new/opacity.less
  resources/skins.citizen.tokens.new/primitives-citizen.less
  resources/skins.citizen.tokens.new/primitives-codex.less
  resources/skins.citizen.tokens.new/surface.less
  resources/skins.citizen.tokens.new/syntax-color.less
  resources/skins.citizen.tokens.new/themes/black.less
  resources/skins.citizen.tokens.new/tokens.less
  skin.json
  tests/vitest/skins.citizen.preferences/App.test.js
  tests/vitest/skins.citizen.preferences/ThemePicker.test.js
  tests/vitest/skins.citizen.preferences/defaultConfig.test.js
  tests/vitest/skins.citizen.preferences/themePreviewBaseline.test.js
Due: js-lint, style-lint, i18n-lint, md-lint, test

feat(header): ✨ allow positioning the site header at the top on mobile
  docs/src/config/index.md
  i18n/en.json
  i18n/qqq.json
  includes/SkinCitizen.php
  resources/mixins.less
  resources/skins.citizen.styles/common/features.less
  resources/skins.citizen.styles/components/Header.less
  resources/skins.citizen.styles/components/StickyHeader.less
  resources/skins.citizen.styles/layout.less
  resources/skins.citizen.styles/tokens-citizen.less
  skin.json
  tests/phpunit/integration/SkinCitizenTest.php
Due: style-lint, i18n-lint, md-lint

fix(CookieWarning): 🐛 keep the banner clear of the site header on mobile
  skinStyles/extensions/CookieWarning/ext.CookieWarning.styles.less
Due: style-lint

fix(header): 🐛 match the mobile header glass to the header surface color
  resources/skins.citizen.styles/components/Header.less
Due: style-lint

build: release 3.18.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

chore(finalize-release): 🔧 fix the stale docs rebuild step
  .agents/skills/finalize-release/SKILL.md
Due: md-lint
