Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

lefthook.yml:

glob_matcher: doublestar

pre-commit:
  parallel: true
  commands:
    js-lint:
      run: npx eslint {staged_files}
      glob: "**/*.{js,vue}"
    style-lint:
      run: npx stylelint {staged_files}
      glob: "**/*.{less,css,vue}"
    i18n-lint:
      run: npm run lint:i18n
      glob: "i18n/*.json"
    md-lint:
      run: npm run lint:md
      glob: "*.md"
    test:
      run: npx vitest run
      glob: "**/*.{js,vue}"

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    devmoji:
      run: npx devmoji -e --lint

docs(contribute): 📚️ rewrite the preview channel page
  docs/src/contribute/preview-channel.md
Due: md-lint

build(deps): 📦️ upgrade docs to VitePress 2.0.0-alpha.18
  docs/package-lock.json
  docs/package.json
Due: none

ci: 👷 watch docs npm dependencies with dependabot
  .github/dependabot.yml
Due: none

docs: deploy main @ 72665d253c848a76217ecdfeb899aadc3276e224 72665d253c848a76217ecdfeb899aadc3276e224
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 21d05e96f36ecab89afc01364ef6c9bb1db608a4 21d05e96f36ecab89afc01364ef6c9bb1db608a4
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 826706a6aed3bd040a1c2266e3b1d1911219fbb7 826706a6aed3bd040a1c2266e3b1d1911219fbb7
  llms-full.txt
  llms.txt
Due: none

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

docs: deploy main @ bda84dcf197faa3180db9f27af60f9b7fdbe3157 bda84dcf197faa3180db9f27af60f9b7fdbe3157
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 6ee4c3bb5bd12e19a4d5026789dcf45af25a7bfd 6ee4c3bb5bd12e19a4d5026789dcf45af25a7bfd
  llms-full.txt
  llms.txt
Due: none

Localisation updates from https://translatewiki.net.
  i18n/gl.json
  i18n/ko.json
  i18n/nl.json
Due: i18n-lint

docs: deploy main @ 8314fdadb930eea481fd727ec81ac9e646bc611b 8314fdadb930eea481fd727ec81ac9e646bc611b
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 16c8cd46b010372fc28a3c19040a6c52aebcf7c5 16c8cd46b010372fc28a3c19040a6c52aebcf7c5
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ df289ef11ef890bbdf1cee184883d845ed960aba df289ef11ef890bbdf1cee184883d845ed960aba
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 3f76b64dd694f4c649031e865536303bb56b382d 3f76b64dd694f4c649031e865536303bb56b382d
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 11855a6e796b853f2b34846567f02a81123bc2fb 11855a6e796b853f2b34846567f02a81123bc2fb
  llms-full.txt
  llms.txt
Due: none

Localisation updates from https://translatewiki.net.
  i18n/pl.json
Due: i18n-lint

fix(tokens): 🐛 add light mode icon background colors to the new tokens (preview)
  resources/skins.citizen.tokens.new/background-color.less
  resources/skins.citizen.tokens.new/dark-overrides.less
Due: style-lint

refactor(preferences): ♻️ resolve dark mode visibility from color-scheme
  resources/skins.citizen.preferences/useVisibility.js
  tests/vitest/skins.citizen.preferences/App.test.js
  tests/vitest/skins.citizen.preferences/useVisibility.test.js
Due: js-lint, test

feat(tokens): ✨ add the Black theme (preview)
  resources/skins.citizen.styles/common/features.less
  resources/skins.citizen.tokens.new/background-color.less
  resources/skins.citizen.tokens.new/opacity.less
  resources/skins.citizen.tokens.new/themes/black.less
  resources/skins.citizen.tokens.new/tokens.less
  resources/skins.citizen.tokens/tokens.less
Due: style-lint

feat(preferences): ✨ offer Black as a theme in the preferences panel (preview)
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.preferences/App.vue
  resources/skins.citizen.preferences/defaultConfig.js
  resources/skins.citizen.styles/common/features.less
  skin.json
  tests/vitest/skins.citizen.preferences/App.test.js
  tests/vitest/skins.citizen.preferences/defaultConfig.test.js
Due: js-lint, style-lint, i18n-lint, test

feat(config): ✨ ⚙️ accept any theme as the default theme
  includes/SkinCitizen.php
  resources/skins.citizen.preferences/init.js
  skin.json
  tests/phpunit/integration/SkinCitizenTest.php
  tests/vitest/skins.citizen.preferences/init.test.js
Due: js-lint, test

docs(customization): 📚️ document creating custom themes
  docs/src/config/index.md
  docs/src/customization/theming.md
  docs/src/guide/migrating-to-citizen-4.md
Due: md-lint
