Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

js-lint:
  run: npx eslint {staged_files}

style-lint:
  run: npx stylelint {staged_files}

i18n-lint:
  run: npm run lint:i18n

md-lint:
  run: npm run lint:md

test:
  run: npx vitest run

fix(commandPalette): 🐛 treat every name of a special page as the same page
  includes/Hooks/ResourceLoaderHooks.php
  resources/skins.citizen.commandPalette/modes/action.js
  resources/skins.citizen.commandPalette/services/searchClient.js
  resources/skins.citizen.commandPalette/specialPages.json.d.ts
  resources/skins.citizen.commandPalette/utils/appendQueryActions.js
  resources/skins.citizen.commandPalette/utils/destinationKey.js
  resources/skins.citizen.commandPalette/utils/resolveSpecialPage.js
  skin.json
  tests/phpunit/integration/Hooks/ResourceLoaderHooksTest.php
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/modes/action.test.js
  tests/vitest/commandPalette/services/recentItems.test.js
  tests/vitest/commandPalette/services/searchClient.test.js
  tests/vitest/commandPalette/utils/appendQueryActions.test.js
  tests/vitest/commandPalette/utils/destinationKey.test.js
  tests/vitest/mocks/commandPaletteSpecialPages.js
  tests/vitest/mocks/mwTitle.js
  tests/vitest/setup.js
Due: js-lint, test

feat(pageAside): ✨ let wikis declare side column panels
  docs/src/features/side-column.md
  includes/Components/CitizenAsidePanel.php
  includes/Components/CitizenAsidePanelDeclared.php
  includes/Components/CitizenAsidePanelLastModified.php
  includes/Components/CitizenAsidePanelTableOfContents.php
  includes/Components/CitizenComponentPageAside.php
  includes/SkinCitizen.php
  resources/skins.citizen.scripts/pageAside.js
  resources/skins.citizen.styles/components/PageAside.less
  templates/PageAsidePanel.mustache
  tests/phpunit/Unit/Components/CitizenAsidePanelDeclaredTest.php
  tests/phpunit/Unit/Components/CitizenComponentPageAsideTest.php
  tests/phpunit/integration/SkinCitizenTest.php
  tests/phpunit/integration/Templates/PageAsideRenderTest.php
  tests/vitest/skins.citizen.scripts/pageAside.test.js
Due: js-lint, style-lint, md-lint, test

fix(pageAside): 🐛 stop showing the side column just for Last modified
  docs/src/features/side-column.md
  includes/SkinCitizen.php
  resources/skins.citizen.scripts/pageAside.js
  templates/skin.mustache
  tests/phpunit/integration/SkinCitizenTest.php
Due: js-lint, md-lint, test

docs(pageAside): 📚️ rewrite the side column page as a guide to adding a panel
  docs/src/features/side-column.md
Due: md-lint

fix(core): 🐛 keep the Special:Upload file description within narrow screens
  skinStyles/mediawiki/special/mediawiki.special.less
  skinStyles/mediawiki/special/mediawiki.special.upload.styles.less
Due: style-lint

build: release 3.24.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

docs: deploy main @ c2ac4799ebd817b7d51bc386f1bf1803accf7778 c2ac4799ebd817b7d51bc386f1bf1803accf7778
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 8e1d47b53950d199a446b1ae8773c8dfb96bdfb2 8e1d47b53950d199a446b1ae8773c8dfb96bdfb2
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 2be4bf17a589923456813335d938950c803ad705 2be4bf17a589923456813335d938950c803ad705
  llms-full.txt
  llms.txt
Due: none

fix(commandPalette): 🐛 add edit button to related articles
  resources/skins.citizen.commandPalette/providers/RelatedArticlesProvider.js
Due: js-lint, test

refactor(commandPalette): ♻️ share page edit action between providers
  resources/skins.citizen.commandPalette/providers/RelatedArticlesProvider.js
  resources/skins.citizen.commandPalette/services/searchClient.js
  resources/skins.citizen.commandPalette/utils/providerActions.js
Due: js-lint, test

fix(MultimediaViewer): 🐛 stop the media viewer cutting off the bottom of images
  skinStyles/extensions/MultimediaViewer/mmv.less
Due: style-lint

refactor(commandPalette): ♻️ extract wiki link parsing from destinationKey
  resources/skins.citizen.commandPalette/utils/destinationKey.js
  resources/skins.citizen.commandPalette/utils/parseWikiLink.js
  skin.json
  tests/vitest/commandPalette/utils/parseWikiLink.test.js
Due: js-lint, test

docs: 📚️ list Bucket under extensions and gadgets
  docs/src/config/extensions.md
Due: md-lint

docs: 📚️ sort the extension enhancements list alphabetically
  docs/src/config/extensions.md
Due: md-lint

refactor(commandPalette): ♻️ add the entry format Recent will store
  resources/skins.citizen.commandPalette/utils/providerActions.js
  resources/skins.citizen.commandPalette/utils/recentEntry.js
  skin.json
  tests/vitest/commandPalette/utils/recentEntry.test.js
Due: js-lint, test

feat(commandPalette): ✨ make Recent remember places instead of rows
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/services/recentItems.js
  resources/skins.citizen.commandPalette/types.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/services/recentItems.test.js
Due: js-lint, test

refactor(commandPalette): ♻️ share the time, user and file helpers
  resources/skins.citizen.commandPalette/modes/file.js
  resources/skins.citizen.commandPalette/modes/history.js
  resources/skins.citizen.commandPalette/modes/user.js
  resources/skins.citizen.commandPalette/utils/fileMedia.js
  resources/skins.citizen.commandPalette/utils/formatTimestamp.js
  resources/skins.citizen.commandPalette/utils/userActions.js
  skin.json
  tests/vitest/commandPalette/utils/fileMedia.test.js
  tests/vitest/commandPalette/utils/formatTimestamp.test.js
  tests/vitest/commandPalette/utils/userActions.test.js
  tests/vitest/mocks/commandPaletteIcons.js
Due: js-lint, test

fix(commandPalette): 🐛 never overwrite a newer Recent history
  resources/skins.citizen.commandPalette/services/recentItems.js
  resources/skins.citizen.commandPalette/utils/recentEntry.js
  tests/vitest/commandPalette/services/recentItems.test.js
  tests/vitest/commandPalette/utils/recentEntry.test.js
  tests/vitest/mocks/commandPaletteIcons.js
Due: js-lint, test

refactor(commandPalette): ♻️ let a mode choose how Recent remembers its rows
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/services/defineMode.js
  resources/skins.citizen.commandPalette/services/recentItems.js
  resources/skins.citizen.commandPalette/types.js
  resources/skins.citizen.commandPalette/utils/formatTimestamp.js
  resources/skins.citizen.commandPalette/utils/recentEntry.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/services/defineMode.test.js
  tests/vitest/commandPalette/services/recentItems.test.js
  tests/vitest/commandPalette/utils/recentEntry.test.js
Due: js-lint, test

feat(commandPalette): ✨ show who edited and when, user buttons and file thumbnails in Recent
  resources/skins.citizen.commandPalette/modes/file.js
  resources/skins.citizen.commandPalette/modes/history.js
  resources/skins.citizen.commandPalette/modes/user.js
  resources/skins.citizen.commandPalette/types.js
  resources/skins.citizen.commandPalette/utils/recentEntry.js
  tests/vitest/commandPalette/modes/file.test.js
  tests/vitest/commandPalette/modes/history.test.js
  tests/vitest/commandPalette/modes/user.test.js
  tests/vitest/commandPalette/utils/recentEntry.test.js
Due: js-lint, test

feat(commandPalette): ✨ show the page a go landed on in Recent
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/services/recentItems.js
  resources/skins.citizen.scripts/goLanding.js
  resources/skins.citizen.scripts/skin.js
  skin.json
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/services/recentItems.test.js
  tests/vitest/mocks/mw.js
  tests/vitest/skins.citizen.scripts/goLanding.test.js
  tsconfig.json
Due: js-lint, test

Path conditions:
  js-lint: any of: **/*.{js,vue}
  style-lint: any of: **/*.{less,css,vue}
  i18n-lint: any of: i18n/*.json
  md-lint: any of: *.md
  test: any of: **/*.{js,vue}
