Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

js-lint:
  run: npx eslint {staged_files}

style-lint:
  run: npx stylelint {staged_files}

i18n-lint:
  run: npm run lint:i18n

md-lint:
  run: npm run lint:md

test:
  run: npx vitest run

feat(icons): ✨ replace CSS-drawn icons with inline SVG animations
  resources/skins.citizen.codex.styles/CdxButton.less
  resources/skins.citizen.styles/components/Drawer__button.less
  resources/skins.citizen.styles/components/IconAnimation.less
  resources/skins.citizen.styles/components/Search__button.less
  templates/Drawer__button.mustache
  templates/Icon__menu.mustache
  templates/Icon__search.mustache
  templates/Search__button.mustache
Due: style-lint

ci: 👷 add Phan static analysis
  .gitattributes
  .github/workflows/ci.yml
  .phan/config.php
  composer.json
  includes/Api/ApiWebappManifest.php
  includes/Components/CitizenComponentBodyContent.php
  includes/Components/CitizenComponentPageHeading.php
  includes/Components/CitizenComponentPageTools.php
  includes/Components/CitizenComponentSiteStats.php
  includes/Components/CitizenComponentStickyHeader.php
  includes/Components/CitizenComponentTableOfContents.php
  includes/Components/CitizenComponentUserInfo.php
  includes/Hooks/SkinHooks.php
  includes/SkinCitizen.php
Due: none

build: release 3.14.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

feat(preferences): ✨ convert preferences panel from vanilla JS to Vue 3
  i18n/en.json
  i18n/qqq.json
  package-lock.json
  package.json
  resources/skins.citizen.preferences/App.vue
  resources/skins.citizen.preferences/RadioGroup.vue
  resources/skins.citizen.preferences/addPortlet.polyfill.js
  resources/skins.citizen.preferences/clientPreferences.js
  resources/skins.citizen.preferences/init.js
  resources/skins.citizen.preferences/skins.citizen.preferences.js
  resources/skins.citizen.preferences/skins.citizen.preferences.less
  resources/skins.citizen.preferences/useVisibility.js
  skin.json
  templates/Preferences.mustache
  tests/vitest/.eslintrc.json
  tests/vitest/mocks/mw.js
  tests/vitest/mocks/preferencesConfig.js
  tests/vitest/setup.js
  tests/vitest/skins.citizen.preferences/App.test.js
  tests/vitest/skins.citizen.preferences/RadioGroup.test.js
  tests/vitest/skins.citizen.preferences/useVisibility.test.js
  vitest.config.js
Due: js-lint, style-lint, i18n-lint, test

Localisation updates from https://translatewiki.net.
  i18n/gl.json
  i18n/ia.json
Due: i18n-lint

fix(core): 🐛 defer OutputPage modifications to rendering phase
  includes/SkinCitizen.php
  tests/phpunit/integration/SkinCitizenTest.php
Due: none

refactor(core): ♻️ minor SkinCitizen cleanups
  includes/SkinCitizen.php
Due: none

fix(performance): 🐛 cache GPU detection result for no-GPU users
  resources/skins.citizen.scripts/performance.js
Due: js-lint, test

refactor(preferences): ♻️ rename outer shell class to citizen-preferences-dropdown
  resources/skins.citizen.styles/components/Header.less
  templates/Preferences.mustache
Due: style-lint

refactor(preferences): ♻️ rename App.vue classes to citizen-preferences
  resources/skins.citizen.preferences/App.vue
Due: js-lint, style-lint, test

refactor(preferences): ♻️ rename RadioGroup.vue classes to citizen-preferences
  resources/skins.citizen.preferences/RadioGroup.vue
  tests/vitest/skins.citizen.preferences/App.test.js
  tests/vitest/skins.citizen.preferences/RadioGroup.test.js
Due: js-lint, style-lint, test

refactor(preferences): ♻️ remove unnecessary eslint-disable max-len comments
  resources/skins.citizen.preferences/RadioGroup.vue
Due: js-lint, style-lint, test

refactor(preferences): ♻️ fix max-len warnings by splitting long class attributes
  resources/skins.citizen.preferences/RadioGroup.vue
Due: js-lint, style-lint, test

feat(preferences): ✨ add extensible config utilities
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.preferences/configRegistry.js
  resources/skins.citizen.preferences/defaultConfig.js
  resources/skins.citizen.preferences/types.js
  skin.json
  tests/vitest/mocks/mw.js
  tests/vitest/skins.citizen.preferences/configRegistry.test.js
  tests/vitest/skins.citizen.preferences/defaultConfig.test.js
Due: js-lint, i18n-lint, test

feat(preferences): ✨ add PHP config provider for on-wiki overrides
  AGENTS.md
  includes/Hooks/ResourceLoaderHooks.php
  includes/PreferencesConfigProvider.php
  skin.json
  tests/phpunit/Unit/PreferencesConfigProviderTest.php
  tests/phpunit/integration/PreferencesConfigProviderTest.php
Due: md-lint

refactor(preferences): ♻️ consume unified config in App.vue and init.js
  resources/skins.citizen.preferences/App.vue
  resources/skins.citizen.preferences/clientPreferences.json
  resources/skins.citizen.preferences/init.js
  resources/skins.citizen.styles/components/Menu.less
  skin.json
  tests/vitest/mocks/AppStub.js
  tests/vitest/mocks/preferencesOverrides.js
  tests/vitest/setup.js
  tests/vitest/skins.citizen.preferences/App.test.js
  tests/vitest/skins.citizen.preferences/init.test.js
Due: js-lint, style-lint, test

docs(preferences): 📚️ add extensible preferences documentation
  docs/.vitepress/config.ts
  docs/src/customization/preferences.md
Due: md-lint

fix(preferences): 🐛 persist custom preference values across page loads
  resources/skins.citizen.scripts/inline.js
  tests/vitest/skins.citizen.scripts/inline.test.js
Due: js-lint, test

ci: 👷 add composer preflight script
  AGENTS.md
  composer.json
Due: md-lint

ci(phan): 👷 remove unused suppression comments
  includes/Components/CitizenComponentBodyContent.php
Due: none

test: 🚨 upgrade mw.hook mock to support fire/add replay
  tests/vitest/mocks/mw.js
Due: js-lint, test

refactor(preferences): ♻️ make App.vue sections reactive via computed()
  resources/skins.citizen.preferences/App.vue
  tests/vitest/skins.citizen.preferences/App.test.js
Due: js-lint, style-lint, test

feat(preferences): ✨ add mw.hook register API for programmatic registration
  resources/skins.citizen.preferences/App.vue
  resources/skins.citizen.preferences/init.js
  tests/vitest/skins.citizen.preferences/init.test.js
Due: js-lint, style-lint, test

docs(preferences): 📚️ add programmatic registration API documentation
  README.md
  docs/src/config/index.md
  docs/src/customization/preferences.md
  docs/src/guide/introduction.md
Due: md-lint

test(preferences): 🚨 speed up App.test.js with shallowMount and cached config
  tests/vitest/skins.citizen.preferences/App.test.js
Due: js-lint, test

Path conditions:
  js-lint: any of: **/*.{js,vue}
  style-lint: any of: **/*.{less,css,vue}
  i18n-lint: any of: i18n/*.json
  md-lint: any of: *.md
  test: any of: **/*.{js,vue}
