Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

js-lint:
  run: npx eslint {staged_files}

style-lint:
  run: npx stylelint {staged_files}

i18n-lint:
  run: npm run lint:i18n

md-lint:
  run: npm run lint:md

test:
  run: npx vitest run

fix(commandPalette): 🐛 stop result badges from squeezing out the title
  i18n/en.json
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteListItemContent.vue
  tests/vitest/commandPalette/services/searchClient.test.js
Due: js-lint, style-lint, i18n-lint, test

fix(commandPalette): 🐛 hide redirect labels that repeat the page title
  resources/skins.citizen.commandPalette/services/searchClient.js
  tests/vitest/commandPalette/services/searchClient.test.js
Due: js-lint, test

refactor(commandPalette): ♻️ drop the result type badge
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteListItem.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteListItemContent.vue
  resources/skins.citizen.commandPalette/types.js
  skin.json
  tests/vitest/commandPalette/components/CommandPaletteListItemContent.test.js
Due: js-lint, style-lint, i18n-lint, test

fix(commandPalette): 🐛 add the missing label for the dismiss button
  i18n/en.json
  i18n/qqq.json
  skin.json
Due: i18n-lint

fix(commandPalette): 🐛 stop badges duplicating when two share a label
  resources/skins.citizen.commandPalette/components/CommandPaletteListItemContent.vue
  resources/skins.citizen.commandPalette/modes/action.js
  tests/vitest/commandPalette/components/CommandPaletteListItemContent.test.js
  tests/vitest/commandPalette/modes/action.test.js
Due: js-lint, style-lint, test

fix(pwa): 🐛 stop the recent changes shortcut warning on every request
  includes/Api/ApiWebappManifest.php
Due: none

feat(pwa): ✨ allow configuring the app manifest shortcuts
  docs/src/config/index.md
  includes/Api/ApiWebappManifest.php
  tests/phpunit/Unit/Api/ApiWebappManifestTest.php
  tests/phpunit/integration/Api/ApiWebappManifestTest.php
Due: md-lint

fix(pwa): 🐛 leave out manifest fields the wiki has not set
  includes/Api/ApiWebappManifest.php
  tests/phpunit/integration/Api/ApiWebappManifestTest.php
Due: none

docs(pwa): 📚️ promote the web app manifest to a feature page
  docs/.vitepress/config.ts
  docs/src/config/index.md
  docs/src/features/progressive-web-app.md
  docs/src/guide/introduction.md
Due: md-lint

feat(pwa): ✨ allow configuring the app manifest screenshots
  includes/Api/ApiWebappManifest.php
  tests/phpunit/Unit/Api/ApiWebappManifestTest.php
  tests/phpunit/integration/Api/ApiWebappManifestTest.php
Due: none

test(pwa): 🚨 fold the manifest option filters into data providers
  tests/phpunit/Unit/Api/ApiWebappManifestTest.php
Due: none

fix(pwa): 🐛 bound the logo requests the app manifest makes
  includes/Api/ApiWebappManifest.php
  tests/phpunit/Unit/Api/ApiWebappManifestTest.php
Due: none

docs(config): 📚️ ⚙️ correct what $wgCitizenGlobalToolsPortlet does
  docs/src/config/index.md
  docs/src/customization/recipes.md
  skin.json
Due: md-lint

fix(siteStats): 🐛 tell screen readers what each statistic counts
  includes/Components/CitizenComponentSiteStats.php
  resources/skins.citizen.styles/components/Sitestats.less
  templates/SiteStats.mustache
Due: style-lint

build: release 3.21.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

fix(userMenu): 🐛 link user groups to their group page
  includes/Components/CitizenComponentMenuListItem.php
  includes/Components/CitizenComponentUserInfo.php
  includes/SkinCitizen.php
  resources/skins.citizen.styles/components/UserInfo.less
  tests/phpunit/Unit/Components/CitizenComponentUserInfoTest.php
  tests/phpunit/integration/Components/CitizenComponentUserInfoGroupsTest.php
Due: style-lint

fix(userMenu): 🐛 show real name alongside username
  includes/Components/CitizenComponentUserInfo.php
  resources/skins.citizen.styles/components/UserInfo.less
  tests/phpunit/Unit/Components/CitizenComponentUserInfoTest.php
Due: style-lint

fix(userMenu): 🐛 label the registration date as membership
  i18n/en.json
  i18n/qqq.json
Due: i18n-lint

docs: deploy main @ f5e9bde0515187ad0abd3c9e81ea28d1964063a5 f5e9bde0515187ad0abd3c9e81ea28d1964063a5
  llms-full.txt
  llms.txt
Due: none

Path conditions:
  js-lint: any of: **/*.{js,vue}
  style-lint: any of: **/*.{less,css,vue}
  i18n-lint: any of: i18n/*.json
  md-lint: any of: *.md
  test: any of: **/*.{js,vue}
