Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

js-lint:
  run: npx eslint {staged_files}

style-lint:
  run: npx stylelint {staged_files}

i18n-lint:
  run: npm run lint:i18n

md-lint:
  run: npm run lint:md

test:
  run: npx vitest run

feat(commandPalette): ✨ tokenize SMW printouts as chips
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette.smw/init.js
  resources/skins.citizen.commandPalette.smw/queryParser.js
  resources/skins.citizen.commandPalette/components/CommandPaletteHeader.vue
  resources/skins.citizen.commandPalette/composables/useTokenizedInput.js
  resources/skins.citizen.commandPalette/types.js
  skin.json
  tests/vitest/commandPalette.smw/queryParser.test.js
  tests/vitest/commandPalette.smw/smw.test.js
  tests/vitest/commandPalette/composables/useTokenizedInput.test.js
Due: js-lint, style-lint, i18n-lint, test

fix(commandPalette): 🐛 address CodeRabbit review feedback for SMW printout tokenization
  resources/skins.citizen.commandPalette.smw/init.js
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/composables/useTokenizedInput.js
  resources/skins.citizen.commandPalette/types.js
  tests/vitest/commandPalette.smw/queryParser.test.js
  tests/vitest/commandPalette.smw/smw.test.js
  tests/vitest/commandPalette/composables/useTokenizedInput.test.js
Due: js-lint, style-lint, test

refactor(commandPalette): ♻️ address code review feedback
  resources/skins.citizen.commandPalette.smw/init.js
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/composables/useTokenizedInput.js
  tests/vitest/commandPalette/composables/useTokenizedInput.test.js
Due: js-lint, style-lint, test

feat(commandPalette): ✨ tokenize SMW printouts as chips
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette.smw/init.js
  resources/skins.citizen.commandPalette.smw/queryParser.js
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHeader.vue
  resources/skins.citizen.commandPalette/composables/useTokenizedInput.js
  resources/skins.citizen.commandPalette/types.js
  skin.json
  tests/vitest/commandPalette.smw/queryParser.test.js
  tests/vitest/commandPalette.smw/smw.test.js
  tests/vitest/commandPalette/composables/useTokenizedInput.test.js
Due: js-lint, style-lint, i18n-lint, test

docs: 📚️ rewrite extensions page
  docs/src/config/extensions.md
Due: md-lint

docs: 📚️ mention ShortDescription in command palette
  docs/src/config/extensions.md
Due: md-lint

ci(docs): 👷 📚️ pass GITHUB_TOKEN to docs build step
  .github/workflows/ci-docs.yml
Due: none

feat(tableOfContents): ✨ redesign table of contents
  resources/skins.citizen.scripts/sectionObserver.js
  resources/skins.citizen.scripts/setupObservers.js
  resources/skins.citizen.scripts/tableOfContents.js
  resources/skins.citizen.styles/components/TableOfContents.less
  templates/TableOfContents.mustache
  templates/TableOfContents__line.mustache
  templates/TableOfContents__list.mustache
  tests/vitest/skins.citizen.scripts/sectionObserver.test.js
  tests/vitest/skins.citizen.scripts/tableOfContents.test.js
Due: js-lint, style-lint, test

fix(tableOfContents): 🐛 wire up CitizenTableOfContentsCollapseAtCount config
  resources/skins.citizen.scripts/tableOfContents.js
  resources/skins.citizen.styles/components/TableOfContents.less
  templates/TableOfContents.mustache
Due: js-lint, style-lint, test

fix(i18n): 🐛 smw mode label should be translatable
  i18n/qqq.json
Due: i18n-lint

docs(AGENTS): 📚️ add XSS testing guidance for i18n changes
  AGENTS.md
Due: md-lint

feat(commandPalette): ✨ make ESC keyhint label reflect current behavior
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  skin.json
  tests/vitest/commandPalette/composables/useKeyboard.test.js
Due: js-lint, i18n-lint, test

docs(performanceMode): 📚️ add performance mode documentation page
  docs/.vitepress/config.ts
  docs/src/customization/features.md
  docs/src/customization/performance-mode.md
Due: md-lint

docs(contributing): 📚️ add AI-assisted contributions policy
  CONTRIBUTING.md
  docs/src/contribute/index.md
Due: md-lint

chore(github): 🔧 migrate issue templates to YAML forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  CONTRIBUTING.md
Due: md-lint

ci: 👷 migrate to shared mediawiki-ci-workflows
  .github/workflows/ci.yml
  .github/workflows/installWiki.sh
Due: none

Localisation updates from https://translatewiki.net.
  i18n/br.json
  i18n/cy.json
  i18n/gl.json
  i18n/he.json
  i18n/hi.json
  i18n/ia.json
  i18n/it.json
  i18n/lb.json
  i18n/qqq.json
  i18n/skr-arab.json
  i18n/sr-ec.json
  i18n/vi.json
  i18n/zh-hans.json
Due: i18n-lint

fix(tokens): 🐛 move header offset vars from body to :root
  resources/skins.citizen.styles/tokens-citizen.less
Due: style-lint

docs(AGENTS): 📚️ add caching considerations for HTML+CSS/JS changes
  AGENTS.md
Due: md-lint

refactor: ♻️ extract backdrop blur into --backdrop-filter-blur CSS variable
  resources/skins.citizen.styles/components/Dropdown.less
  resources/skins.citizen.styles/tokens-theme-base.less
  skinStyles/extensions/Echo/ext.echo.ui.less
Due: style-lint

feat(commandPalette): ✨ add entrance/exit and body height animation
  resources/skins.citizen.commandPalette/components/App.vue
Due: js-lint, style-lint, test

docs: 📚️ split recipes page and improve theming docs
  docs/.vitepress/config.ts
  docs/src/customization/recipes.md
  docs/src/customization/theming.md
Due: md-lint

fix(commandPalette): 🐛 add onBeforeUnmount cleanup for ResizeObserver
  resources/skins.citizen.commandPalette/components/App.vue
Due: js-lint, style-lint, test

refactor(commandPalette): ♻️ simplify initial height with @enter hook
  resources/skins.citizen.commandPalette/components/App.vue
Due: js-lint, style-lint, test

Path conditions:
  js-lint: any of: **/*.{js,vue}
  style-lint: any of: **/*.{less,css,vue}
  i18n-lint: any of: i18n/*.json
  md-lint: any of: *.md
  test: any of: **/*.{js,vue}
