Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

lefthook.yml:

glob_matcher: doublestar

pre-commit:
  parallel: true
  commands:
    js-lint:
      run: npx eslint {staged_files}
      glob: "**/*.{js,vue}"
    style-lint:
      run: npx stylelint {staged_files}
      glob: "**/*.{less,css,vue}"
    i18n-lint:
      run: npm run lint:i18n
      glob: "i18n/*.json"
    md-lint:
      run: npm run lint:md
      glob: "*.md"
    test:
      run: npx vitest run
      glob: "**/*.{js,vue}"

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    devmoji:
      run: npx devmoji -e --lint

feat(commandPalette): ✨ go straight to the page you typed when you press Enter
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette.bucket/init.js
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/utils/appendQueryActions.js
  skin.json
  tests/vitest/commandPalette/components/App.test.js
  tests/vitest/commandPalette/composables/useHelpInput.test.js
  tests/vitest/commandPalette/composables/useKeyboard.test.js
  tests/vitest/commandPalette/composables/useKeyboardModifiers.test.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/utils/appendQueryActions.test.js
Due: js-lint, i18n-lint, test

docs: deploy main @ ed9feceac6e5cf19c3541653d11031240b197c92 ed9feceac6e5cf19c3541653d11031240b197c92
  llms-full.txt
  llms.txt
Due: none

refactor(commandPalette): ♻️ drop the unused search-query saver from Recent
  resources/skins.citizen.commandPalette/services/recentItems.js
  tests/vitest/commandPalette/services/recentItems.test.js
Due: js-lint, test

feat(commandPalette): ✨ show each page once in Recent, however you opened it
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/services/recentItems.js
  resources/skins.citizen.commandPalette/types.js
  resources/skins.citizen.commandPalette/utils/appendQueryActions.js
  resources/skins.citizen.commandPalette/utils/destinationKey.js
  skin.json
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/services/recentItems.test.js
  tests/vitest/commandPalette/utils/appendQueryActions.test.js
  tests/vitest/commandPalette/utils/destinationKey.test.js
  tests/vitest/mocks/mwTitle.js
Due: js-lint, test

fix(core): 🐛 style the choices and warning on the Special:Upload warning form
  skinStyles/mediawiki/special/mediawiki.special.less
  skinStyles/mediawiki/special/mediawiki.special.upload.styles.less
Due: style-lint

fix(pageTools): 🐛 follow the wiki's editor tab order in the merged edit button
  resources/skins.citizen.styles/components/Pagetools.less
Due: style-lint

refactor(pageAside): ♻️ render Last modified through a shared panel chrome
  includes/Components/CitizenAsidePanelLastModified.php
  includes/Components/CitizenComponentPageAside.php
  resources/skins.citizen.scripts/lastModified.js
  resources/skins.citizen.styles/components/PageAside.less
  templates/PageAside.mustache
  templates/PageAsidePanel.mustache
  templates/PageAsidePanel__lastmod.mustache
  tests/phpunit/Unit/Components/CitizenAsidePanelLastModifiedTest.php
  tests/phpunit/Unit/Components/CitizenComponentPageAsideTest.php
  tests/phpunit/integration/Templates/PageAsideRenderTest.php
  tests/vitest/skins.citizen.scripts/lastModified.test.js
Due: js-lint, style-lint, test

refactor(pageAside): ♻️ give the table of contents the shared panel shape
  resources/skins.citizen.styles/components/TableOfContents.less
  templates/TableOfContents.mustache
  tests/phpunit/integration/Templates/PageAsideRenderTest.php
  tests/vitest/skins.citizen.toc/index.test.js
  tests/vitest/skins.citizen.toc/sectionLabel.test.js
Due: js-lint, style-lint, test

refactor(pageAside): ♻️ rename the side column's container, body class and width token
  includes/SkinCitizen.php
  resources/compat/3.24.less
  resources/skins.citizen.styles/common/print.less
  resources/skins.citizen.styles/components/PageAside.less
  resources/skins.citizen.styles/components/PageHeader.less
  resources/skins.citizen.styles/components/Pagetools.less
  resources/skins.citizen.styles/layout.less
  resources/skins.citizen.styles/tokens-citizen.less
  resources/variables.less
  templates/PageAside.mustache
  tests/phpunit/integration/SkinCitizenTest.php
  tests/phpunit/integration/Templates/PageAsideRenderTest.php
Due: style-lint

refactor(pageAside): ♻️ share the panel link style between Last modified and the table of contents
  resources/compat/3.24.less
  resources/skins.citizen.styles/components/PageAside.less
  resources/skins.citizen.styles/components/TableOfContents.less
  templates/PageAsidePanel__lastmod.mustache
  templates/TableOfContents.mustache
  templates/TableOfContents__line.mustache
  tests/phpunit/integration/Templates/PageAsideRenderTest.php
Due: style-lint

style(pageAside): 🎨 give the outline list room and let Back to top grow with its text
  resources/skins.citizen.styles/components/PageAside.less
  resources/skins.citizen.styles/components/TableOfContents.less
Due: style-lint

docs: deploy main @ 8334d699237d0f1a693e13864c2676eabac07537 8334d699237d0f1a693e13864c2676eabac07537
  llms-full.txt
  llms.txt
Due: none

feat(VisualEditor): ✨ distinguish parameter notices in the template dialog
  skinStyles/extensions/VisualEditor/ext.visualEditor.mwtransclusion.less
Due: style-lint

fix(VisualEditor): 🐛 use bundled Codex icons and readable deprecated text
  skinStyles/extensions/VisualEditor/ext.visualEditor.mwtransclusion.less
Due: style-lint

feat(VisualEditor): ✨ distinguish parameter notices in the template dialog (#1958)
  skinStyles/extensions/VisualEditor/ext.visualEditor.mwtransclusion.less
Due: style-lint

refactor(pageAside): ♻️ mark each side column panel with its order
  includes/Components/CitizenComponentPageAside.php
  templates/PageAside.mustache
  templates/PageAsidePanel.mustache
  templates/TableOfContents.mustache
  tests/phpunit/Unit/Components/CitizenComponentPageAsideTest.php
  tests/phpunit/integration/Templates/PageAsideRenderTest.php
Due: none

refactor(pageAside): ♻️ keep sticky panels together in one block
  includes/Components/CitizenAsidePanel.php
  includes/Components/CitizenAsidePanelTableOfContents.php
  includes/Components/CitizenComponentPageAside.php
  includes/SkinCitizen.php
  resources/compat/3.24.less
  resources/skins.citizen.styles/components/PageAside.less
  resources/skins.citizen.styles/components/TableOfContents.less
  templates/PageAside.mustache
  templates/PageAsidePanel.mustache
  tests/phpunit/Unit/Components/CitizenAsidePanelTableOfContentsTest.php
  tests/phpunit/Unit/Components/CitizenComponentPageAsideTest.php
  tests/phpunit/integration/Templates/PageAsideRenderTest.php
Due: style-lint

docs(compat): 📚️ allow ungated rules to join the cycle's compat slice
  AGENTS.md
  resources/compat/README.md
Due: md-lint

feat(pageAside): ✨ let scripts add panels to the side column
  resources/skins.citizen.scripts/pageAside.js
  resources/skins.citizen.scripts/skin.js
  skin.json
  tests/vitest/skins.citizen.scripts/pageAside.test.js
  tsconfig.json
Due: js-lint, test

docs(pageAside): 📚️ document the side column and its JavaScript API
  docs/.vitepress/config.ts
  docs/src/features/side-column.md
  docs/src/reference/hooks.md
Due: md-lint

feat(pageAside): ✨ let scripts add panels to the side column (#1959)
  AGENTS.md
  docs/.vitepress/config.ts
  docs/src/features/side-column.md
  docs/src/reference/hooks.md
  includes/Components/CitizenAsidePanel.php
  includes/Components/CitizenAsidePanelTableOfContents.php
  includes/Components/CitizenComponentPageAside.php
  includes/SkinCitizen.php
  resources/compat/3.24.less
  resources/compat/README.md
  resources/skins.citizen.scripts/pageAside.js
  resources/skins.citizen.scripts/skin.js
  resources/skins.citizen.styles/components/PageAside.less
  resources/skins.citizen.styles/components/TableOfContents.less
  skin.json
  templates/PageAside.mustache
  templates/PageAsidePanel.mustache
  templates/TableOfContents.mustache
  tests/phpunit/Unit/Components/CitizenAsidePanelTableOfContentsTest.php
  tests/phpunit/Unit/Components/CitizenComponentPageAsideTest.php
  tests/phpunit/integration/Templates/PageAsideRenderTest.php
  tests/vitest/skins.citizen.scripts/pageAside.test.js
  tsconfig.json
Due: js-lint, style-lint, md-lint, test

Localisation updates from https://translatewiki.net.
  i18n/de.json
  i18n/fi.json
  i18n/fr.json
  i18n/gl.json
  i18n/ia.json
  i18n/it.json
  i18n/ko.json
  i18n/lb.json
  i18n/nl.json
  i18n/ps.json
  i18n/ru.json
  i18n/sl.json
  i18n/so.json
  i18n/tr.json
  i18n/zh-hans.json
  i18n/zh-hant.json
Due: i18n-lint

docs: deploy main @ 3bcafdd94cf5784b1c519b9554f65e9c6c9b5d91 3bcafdd94cf5784b1c519b9554f65e9c6c9b5d91
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 7a9ab6e0823d2c6fe75868c44a1b41d0915d4cd1 7a9ab6e0823d2c6fe75868c44a1b41d0915d4cd1
  llms-full.txt
  llms.txt
Due: none

fix(overflowElements): 🐛 clip sticky table header to the wrapper's rounded corners
  resources/skins.citizen.styles/components/OverflowElements.less
Due: style-lint

chore(showcase): refresh wiki screenshots
  docs/data/showcase-shots.json
Due: none

ci(showcase): 👷 refresh the showcase from a maintainer's machine, not a schedule
  .agents/skills/refresh-showcase/SKILL.md
  .github/actions/setup-wrangler/action.yml
  .github/workflows/showcase-capture.yml
  .github/workflows/showcase-gc.yml
  .github/workflows/showcase-metadata.yml
  AGENTS.md
  docs/scripts/showcase/capture.js
  docs/scripts/showcase/gc.js
  docs/scripts/showcase/lib.js
  docs/scripts/showcase/metadata.js
  docs/src/contribute/index.md
Due: js-lint, md-lint, test
