Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

js-lint:
  run: npx eslint {staged_files}

style-lint:
  run: npx stylelint {staged_files}

i18n-lint:
  run: npm run lint:i18n

md-lint:
  run: npm run lint:md

test:
  run: npx vitest run

feat(typography): ✨ tighten Roboto fallback metrics to hide swap
  resources/skins.citizen.styles/fonts.less
  resources/skins.citizen.styles/tokens-citizen.less
  tools/generate-font-fallbacks.js
Due: js-lint, style-lint, test

docs(theming): 📚️ cover font customization conventions and fallback setup
  docs/src/customization/theming.md
Due: md-lint

chore: 🔧 drop one-shot font fallback generator
  resources/skins.citizen.styles/fonts.less
  tools/generate-font-fallbacks.js
Due: js-lint, style-lint, test

feat(core): ✨ increase link underline offset
  resources/skins.citizen.styles/common/links.less
Due: style-lint

fix(commandPalette): 🐛 define missing mode label messages
  i18n/en.json
  i18n/qqq.json
Due: i18n-lint

refactor(commandPalette): ♻️ extend DetailPanel with header and per-pair value slots
  resources/skins.citizen.commandPalette/components/CommandPaletteDetailPanel.vue
  resources/skins.citizen.commandPalette/types.js
Due: js-lint, style-lint, test

docs(community): 📚️ swap dead EUC Wiki link for Obby Wiki
  docs/src/community/showcase.md
Due: md-lint

feat(commandPalette): ✨ add help overlay
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHeader.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHelpModeSummary.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHelpTriggers.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHelpView.vue
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/init.js
  resources/skins.citizen.commandPalette/modes/help.js
  resources/skins.citizen.commandPalette/types.js
  skin.json
  tests/vitest/commandPalette/composables/useKeyboard.test.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/modes/help.test.js
Due: js-lint, style-lint, i18n-lint, test

feat(commandPalette): ✨ add help descriptions to built-in modes
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette.smw/init.js
  resources/skins.citizen.commandPalette/modes/action.js
  resources/skins.citizen.commandPalette/modes/category.js
  resources/skins.citizen.commandPalette/modes/namespace.js
  resources/skins.citizen.commandPalette/modes/user.js
  skin.json
Due: js-lint, i18n-lint, test

refactor(commandPalette): ♻️ drop random tip from footer
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/components/CommandPaletteFooter.vue
  skin.json
Due: js-lint, style-lint, i18n-lint, test

docs(commandPalette): 📚️ cover help overlay and the help API field
  docs/src/customization/command-palette.md
Due: md-lint

fix(tokens-new): 🐛 patch incorrect black mode colors
  resources/skins.citizen.styles/common/features.less
Due: style-lint

ci: 👷 switch to ubuntu-24.04-arm runners
  .github/workflows/ci.yml
Due: none

Localisation updates from https://translatewiki.net.
  i18n/ar.json
  i18n/bn.json
  i18n/ce.json
  i18n/de.json
  i18n/es.json
  i18n/et.json
  i18n/fr.json
  i18n/gl.json
  i18n/he.json
  i18n/hi.json
  i18n/ia.json
  i18n/it.json
  i18n/ja.json
  i18n/ko.json
  i18n/lb.json
  i18n/mk.json
  i18n/nl.json
  i18n/pa.json
  i18n/pl.json
  i18n/qqq.json
  i18n/ru.json
  i18n/sl.json
  i18n/sr-ec.json
  i18n/sv.json
  i18n/tr.json
  i18n/vi.json
  i18n/zh-hans.json
  i18n/zh-hant.json
Due: i18n-lint

feat(commandPalette): ✨ add compact result row variant for command-style modes
  docs/src/customization/command-palette.md
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteList.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteListItem.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteListItemContent.vue
  resources/skins.citizen.commandPalette/modes/action.js
  resources/skins.citizen.commandPalette/modes/category.js
  resources/skins.citizen.commandPalette/modes/help.js
  resources/skins.citizen.commandPalette/modes/namespace.js
  resources/skins.citizen.commandPalette/modes/user.js
  tests/vitest/commandPalette/components/CommandPaletteListItemContent.test.js
Due: js-lint, style-lint, md-lint, test

chore: 🔧 fix devmoji prepare-commit-msg in git worktrees
  lefthook.yml
Due: none

chore: 🔧 exclude docs from skin-level pre-commit hooks
  .stylelintignore
  lefthook.yml
Due: none

build(docs): 📦️ 📚️ replace eslint with oxlint, drop typescript dep
  docs/.eslintrc.json
  docs/.oxlintrc.json
  docs/.vitepress/theme/components/ChangelogByTag.vue
  docs/.vitepress/theme/components/ChangelogsList.vue
  docs/.vitepress/theme/components/ContributorList.vue
  docs/.vitepress/theme/data/changelogs.data.ts
  docs/.vitepress/theme/utils/contributors.ts
  docs/.vitepress/theme/utils/formatChangelog.ts
  docs/AGENTS.md
  docs/package-lock.json
  docs/package.json
  docs/src/changelogs/[tag].paths.ts
Due: js-lint, style-lint, md-lint, test

build(docs): 📦️ 📚️ add oxfmt and reformat with defaults
  docs/.vitepress/config.ts
  docs/.vitepress/constants.ts
  docs/.vitepress/theme/components/ChangelogByTag.vue
  docs/.vitepress/theme/components/ChangelogsList.vue
  docs/.vitepress/theme/components/ContributorList.vue
  docs/.vitepress/theme/components/CopyCode.vue
  docs/.vitepress/theme/components/LinkCard.vue
  docs/.vitepress/theme/data/changelogs.data.ts
  docs/.vitepress/theme/data/release.data.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/utils/contributors.ts
  docs/.vitepress/theme/utils/formatChangelog.ts
  docs/AGENTS.md
  docs/package-lock.json
  docs/package.json
  docs/src/changelogs/[tag].paths.ts
Due: js-lint, style-lint, md-lint, test

ci: 👷 exclude docs from release-please
  release-please-config.json
Due: none

build(docs): 📦️ 📚️ upgrade vitepress to 2.0.0-alpha.17
  docs/package-lock.json
  docs/package.json
Due: none

refactor(docs): ♻️ 📚️ tighten oxlint config and adopt vue 3.5 props destructuring
  docs/.oxlintrc.json
  docs/.vitepress/theme/components/ChangelogByTag.vue
  docs/.vitepress/theme/components/ContributorList.vue
  docs/.vitepress/theme/components/CopyCode.vue
  docs/.vitepress/theme/components/LinkCard.vue
Due: js-lint, style-lint, test

Path conditions:
  js-lint: any of: **/*.{js,vue}
  style-lint: any of: **/*.{less,css,vue}
  i18n-lint: any of: i18n/*.json
  md-lint: any of: *.md
  test: any of: **/*.{js,vue}
