Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

js-lint:
  run: npx eslint {staged_files}

style-lint:
  run: npx stylelint {staged_files}

i18n-lint:
  run: npm run lint:i18n

md-lint:
  run: npm run lint:md

test:
  run: npx vitest run

chore: remove context7.json
  context7.json
Due: none

refactor(share): ♻️ replace mustache icon with svg mask
  resources/skins.citizen.styles/components/IconAnimation.less
  templates/Icon__share.mustache
  templates/Share.mustache
Due: style-lint

feat(share): ✨ implement config
  includes/Hooks/ResourceLoaderHooks.php
  resources/skins.citizen.share/App.vue
  resources/skins.citizen.share/init.js
  resources/skins.citizen.styles/icons.less
  skin.json
Due: js-lint, style-lint, test

feat(share): ✨ add default configs
  skin.json
Due: none

feat(share): ✨ add icon scale config option
  resources/skins.citizen.share/App.vue
  skin.json
Due: js-lint, style-lint, test

feat(share): ✨ align share link border with copy button
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

fix(share): 🐛 every lint issue but field-sizing
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

fix(share): 🐛 remove style regressions from lint
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

fix(share): 🐛 use pageURL instead of window.location.href in buildURL
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

fix(share): 🐛 stylelint workarounds
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

fix(share): 🐛 lint issues + add comments
  resources/skins.citizen.scripts/share.js
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

fix(share): 🐛 include search params in share link
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

fix(share): 🐛 restore modern facebook default branding color
  skin.json
Due: none

fix(share): 🐛 lint: missing end-of-line newline
  resources/skins.citizen.styles/components/IconAnimation.less
Due: style-lint

fix(share): 🐛 re-implement other share-ability checks
  includes/SkinCitizen.php
Due: none

fix(share): 🐛 only scroll on open if clicked from sticky header
  resources/skins.citizen.scripts/share.js
Due: js-lint, test

Localisation updates from https://translatewiki.net.
  i18n/te.json
Due: i18n-lint

build: release 3.15.1
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

feat(share): ✨ i18n strings
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.share/App.vue
  skin.json
Due: js-lint, style-lint, i18n-lint, test

feat(share): ✨ remove more options button if navigator.share is unavailable
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

fix(share): 🐛 add index to service button key (via coderabbit)
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

feat(share): ✨ add i18n to the more options button
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.share/App.vue
  skin.json
Due: js-lint, style-lint, i18n-lint, test

feat(share): ✨ add i18n for copy button aria-label (via coderabbit)
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.share/App.vue
  skin.json
Due: js-lint, style-lint, i18n-lint, test

Localisation updates from https://translatewiki.net.
  i18n/sl.json
Due: i18n-lint

refactor(share): ♻️ switch back to codex icon
  resources/skins.citizen.styles/assets/images/share.svg
  resources/skins.citizen.styles/icons.less
Due: style-lint

fix(share): 🐛 dont auto scroll on the main page
  resources/skins.citizen.scripts/share.js
Due: js-lint, test

feat(share): ✨ update default services
  skin.json
Due: none

feat(share): ✨ add on-wiki MediaWiki:Citizen-share-services.json page + docs
  docs/src/customization/recipes.md
  includes/Hooks/ResourceLoaderHooks.php
  includes/ShareConfigProvider.php
  resources/skins.citizen.share/App.vue
  resources/skins.citizen.share/config.json
  tests/phpunit/integration/ShareConfigProviderTest.php
Due: js-lint, style-lint, md-lint, test

docs(recipes): 📚️ imrpove share services documentation
  docs/src/customization/recipes.md
Due: md-lint

feat(share): ✨ implement default config option which uses the native webshare instead
  docs/src/config/index.md
  docs/src/customization/recipes.md
  includes/Components/CitizenComponentPageTools.php
  resources/skins.citizen.scripts/share.js
  skin.json
  templates/PageTools.mustache
  templates/ShareNative.mustache
Due: js-lint, md-lint, test

fix(docs): 🐛 📚️ lint issues
  docs/src/customization/recipes.md
Due: md-lint

fix(share): 🐛 fix php lint issues
  includes/Components/CitizenComponentPageTools.php
  includes/ShareConfigProvider.php
  tests/phpunit/integration/ShareConfigProviderTest.php
Due: none

fix(share): 🐛 fix json lint issues
  resources/skins.citizen.share/config.json
Due: none

fix(share): 🐛 remove redundant warning
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

feat(share): ✨ make service items take up empty collumsn if applicable
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

Localisation updates from https://translatewiki.net.
  i18n/he.json
  i18n/nl.json
Due: i18n-lint

Localisation updates from https://translatewiki.net.
  i18n/nl.json
Due: i18n-lint

Path conditions:
  js-lint: any of: **/*.{js,vue}
  style-lint: any of: **/*.{less,css,vue}
  i18n-lint: any of: i18n/*.json
  md-lint: any of: *.md
  test: any of: **/*.{js,vue}
