Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

lefthook.yml:

glob_matcher: doublestar

pre-commit:
  parallel: true
  commands:
    js-lint:
      run: npx eslint {staged_files}
      glob: "**/*.{js,vue}"
    style-lint:
      run: npx stylelint {staged_files}
      glob: "**/*.{less,css,vue}"
    i18n-lint:
      run: npm run lint:i18n
      glob: "i18n/*.json"
    md-lint:
      run: npm run lint:md
      glob: "*.md"
    test:
      run: npx vitest run
      glob: "**/*.{js,vue}"

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    devmoji:
      run: npx devmoji -e --lint

fix(overflow): 🐛 tolerate subpixel rounding when detecting scroll end (#2028)
  resources/skins.citizen.scripts/overflowElements/state.js
  tests/vitest/skins.citizen.scripts/overflowState.test.js
Due: js-lint, test

fix(overflow): 🐛 show scroll hints on the correct side in right-to-left content
  resources/skins.citizen.scripts/overflowElements/index.js
  resources/skins.citizen.scripts/overflowElements/state.js
  resources/skins.citizen.styles/components/OverflowElements.less
  tests/vitest/skins.citizen.scripts/overflowElements.test.js
  tests/vitest/skins.citizen.scripts/overflowState.test.js
Due: js-lint, style-lint, test

build: release 3.25.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

docs: deploy main @ e1945affdcdb133ac082dc886273a4d8ca512099 e1945affdcdb133ac082dc886273a4d8ca512099
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 2ec8d8c3bcef18e3e11a175a98303482d65fe9e7 2ec8d8c3bcef18e3e11a175a98303482d65fe9e7
  llms-full.txt
  llms.txt
Due: none

fix(links): 🐛 show external link icon in page info
  resources/skins.citizen.styles/common/links.less
Due: style-lint

docs: 📚️ keep emoji and label together on narrow screens
  README.md
Due: md-lint

fix(hacks): 🐛 keep the hover background on feed links
  resources/skins.citizen.styles/common/hacks.less
Due: style-lint
