Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

lefthook.yml:

glob_matcher: doublestar

pre-commit:
  parallel: true
  commands:
    js-lint:
      run: npx eslint {staged_files}
      glob: "**/*.{js,vue}"
    style-lint:
      run: npx stylelint {staged_files}
      glob: "**/*.{less,css,vue}"
    i18n-lint:
      run: npm run lint:i18n
      glob: "i18n/*.json"
    md-lint:
      run: npm run lint:md
      glob: "*.md"
    test:
      run: npx vitest run
      glob: "**/*.{js,vue}"

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    devmoji:
      run: npx devmoji -e --lint

docs: deploy main @ 354bdb19416d4792e1176bbdc6b6cded0266eb76 354bdb19416d4792e1176bbdc6b6cded0266eb76
  llms-full.txt
  llms.txt
Due: none

fix(commandPalette): 🐛 hide the edit button on pages that cannot be edited
  resources/skins.citizen.commandPalette/services/searchClient.js
  tests/vitest/commandPalette/services/searchClient.test.js
Due: js-lint, test

feat(tokens): ✨ revamp the code block colors for readability
  resources/variables.less
  skinStyles/extensions/SyntaxHighlight_GeSHi/ext.pygments.less
Due: style-lint

fix(CodeEditor): 🐛 theme the editor colors that were leaking through
  skinStyles/extensions/CodeEditor/ext.codeEditor.ace.less
  skinStyles/extensions/CodeEditor/jquery.codeEditor.less
Due: style-lint

fix(CodeEditor): 🐛 keep the skin's colors when the editor changes theme
  skinStyles/extensions/CodeEditor/ext.codeEditor.ace.less
Due: style-lint

fix(CodeMirror): 🐛 restore the editor styles on MediaWiki 1.46
  skin.json
  skinStyles/extensions/CodeMirror/codemirror.mediawiki.less
Due: style-lint

fix(CodeMirror): 🐛 color the syntax MediaWiki 1.46 added
  skinStyles/extensions/CodeMirror/codemirror.mediawiki.less
  skinStyles/extensions/CodeMirror/ext.CodeMirror.v6.less
Due: style-lint

fix(core): 🐛 show the URL upload source on Special:Upload as tabs
  skinStyles/mediawiki/special/mediawiki.special.upload.styles.less
Due: style-lint

docs(core): 📚️ reword the comment on the Special:Upload colon font
  skinStyles/mediawiki/special/mediawiki.special.upload.styles.less
Due: style-lint

fix(core): 🐛 show the Special:Upload summary in the wikitext editor font
  skinStyles/mediawiki/special/mediawiki.special.upload.styles.less
Due: style-lint

fix(commandPalette): 🐛 list every special page in action mode
  includes/Hooks/ResourceLoaderHooks.php
  resources/skins.citizen.commandPalette/init.js
  resources/skins.citizen.commandPalette/modes/action.js
  resources/skins.citizen.commandPalette/specialPages.json.d.ts
  skin.json
  tests/phpunit/integration/Hooks/ResourceLoaderHooksTest.php
  tests/vitest/commandPalette/modes/action.test.js
Due: js-lint, test

fix(commandPalette): 🐛 let Backspace and Return work on the iOS symbol keyboard
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  tests/vitest/commandPalette/composables/useKeyboard.test.js
  tests/vitest/commandPalette/composables/useKeyboardModifiers.test.js
Due: js-lint, test

refactor(commandPalette): ♻️ let the registry search and select command list rows
  resources/skins.citizen.commandPalette/providers/PaletteCommandProvider.js
  resources/skins.citizen.commandPalette/services/paletteRegistry.js
  tests/vitest/commandPalette/services/paletteRegistry.test.js
Due: js-lint, test

refactor(commandPalette): ♻️ describe modes through the shared detail panel
  resources/skins.citizen.commandPalette/components/CommandPaletteDetailPanel.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHelpModeSummary.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHelpTriggers.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHelpView.vue
  resources/skins.citizen.commandPalette/types.js
  resources/skins.citizen.commandPalette/utils/modeHelpDetail.js
  skin.json
  tests/vitest/commandPalette/components/CommandPaletteDetailPanel.test.js
  tests/vitest/commandPalette/utils/modeHelpDetail.test.js
Due: js-lint, style-lint, test

refactor(commandPalette): ♻️ switch straight to a mode a result names
  resources/skins.citizen.commandPalette/composables/useResultRouter.js
  resources/skins.citizen.commandPalette/types.js
  tests/vitest/commandPalette/composables/useResultRouter.test.js
Due: js-lint, test

feat(commandPalette): ✨ open help as a mode you can search
  docs/src/features/command-palette.md
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHeader.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHelpView.vue
  resources/skins.citizen.commandPalette/composables/useHelpInput.js
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/composables/useResultRouter.js
  resources/skins.citizen.commandPalette/init.js
  resources/skins.citizen.commandPalette/modes/help.js
  resources/skins.citizen.commandPalette/services/defineMode.js
  resources/skins.citizen.commandPalette/services/paletteRegistry.js
  resources/skins.citizen.commandPalette/types.js
  skin.json
  tests/vitest/commandPalette/components/CommandPaletteHeader.test.js
  tests/vitest/commandPalette/composables/useHelpInput.test.js
  tests/vitest/commandPalette/composables/useKeyboard.test.js
  tests/vitest/commandPalette/composables/useKeyboardModifiers.test.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/composables/useResultRouter.test.js
  tests/vitest/commandPalette/modes/help.test.js
  tests/vitest/commandPalette/services/defineMode.test.js
  tests/vitest/commandPalette/services/paletteRegistry.test.js
Due: js-lint, style-lint, i18n-lint, md-lint, test

fix(commandPalette): 🐛 let typing and Backspace work while help describes a mode
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/composables/useHelpInput.js
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  tests/vitest/commandPalette/composables/useHelpInput.test.js
  tests/vitest/commandPalette/composables/useKeyboard.test.js
  tests/vitest/commandPalette/composables/useKeyboardModifiers.test.js
Due: js-lint, style-lint, test

fix(commandPalette): 🐛 keep keyboard focus in the palette when clicking inside it
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHeader.vue
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  tests/vitest/commandPalette/components/App.test.js
  tests/vitest/commandPalette/components/CommandPaletteHeader.test.js
  tests/vitest/commandPalette/composables/useKeyboard.test.js
Due: js-lint, style-lint, test

refactor(commandPalette): ♻️ drop the unused query action decorator function
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/init.js
  resources/skins.citizen.commandPalette/utils/appendQueryActions.js
  tests/vitest/commandPalette/composables/useHelpInput.test.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/utils/appendQueryActions.test.js
Due: js-lint, test

feat(commandPalette): ✨ go straight to the page you typed when you press Enter
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette.bucket/init.js
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/utils/appendQueryActions.js
  skin.json
  tests/vitest/commandPalette/components/App.test.js
  tests/vitest/commandPalette/composables/useHelpInput.test.js
  tests/vitest/commandPalette/composables/useKeyboard.test.js
  tests/vitest/commandPalette/composables/useKeyboardModifiers.test.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/utils/appendQueryActions.test.js
Due: js-lint, i18n-lint, test
