Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

js-lint:
  run: npx eslint {staged_files}

style-lint:
  run: npx stylelint {staged_files}

i18n-lint:
  run: npm run lint:i18n

md-lint:
  run: npm run lint:md

test:
  run: npx vitest run

perf(commandPalette): ⚡️ lazy-load gallery thumbnails with native <img>
  resources/skins.citizen.commandPalette/components/CommandPaletteGalleryItem.vue
  resources/skins.citizen.commandPalette/modes/file.js
  tests/vitest/commandPalette/components/CommandPaletteGalleryItem.test.js
  tests/vitest/commandPalette/modes/file.test.js
Due: js-lint, style-lint, test

perf(commandPalette): ⚡️ make file gallery thumbnail width DPR-aware
  resources/skins.citizen.commandPalette/modes/file.js
  tests/vitest/commandPalette/modes/file.test.js
Due: js-lint, test

style(commandPalette): 🎨 improve detail panel spacing
  resources/skins.citizen.commandPalette/components/CommandPaletteDetailPanel.vue
Due: js-lint, style-lint, test

fix(commandPalette): 🐛 show SVG and small-bitmap thumbnails in file mode
  resources/skins.citizen.commandPalette/modes/file.js
  tests/vitest/commandPalette/modes/file.test.js
Due: js-lint, test

refactor(commandPalette): ♻️ consolidate thumbnail rendering into CommandPaletteImage
  resources/skins.citizen.commandPalette/components/CommandPaletteGalleryItem.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteImage.vue
  skin.json
  tests/vitest/commandPalette/components/CommandPaletteGalleryItem.test.js
  tests/vitest/commandPalette/components/CommandPaletteImage.test.js
Due: js-lint, style-lint, test

feat(commandPalette): ✨ show file preview in detail panel
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteDetailPanel.vue
  resources/skins.citizen.commandPalette/modes/file.js
  tests/vitest/commandPalette/modes/file.test.js
Due: js-lint, style-lint, test

fix(share): 🐛 mitigate reverse-tabnabbing on share popups
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

fix(share): 🐛 drop service entries with disallowed URL protocols
  includes/Hooks/ResourceLoaderHooks.php
  includes/ShareConfigProvider.php
  tests/phpunit/integration/ShareConfigProviderTest.php
Due: none

fix(share): 🐛 announce copy state via aria-live region
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

fix(share): 🐛 clear copyTimer on component unmount
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

refactor(share): ♻️ drop unused initApp export
  resources/skins.citizen.share/init.js
Due: js-lint, test

docs(share): 📚️ correct open_in_modal field type
  docs/src/customization/recipes.md
Due: md-lint

style(share): 🎨 add trailing newline to Share.mustache
  templates/Share.mustache
Due: none

feat: ✨ add a new optional and customizable share panel (#1454)
  docs/src/config/index.md
  docs/src/customization/recipes.md
  i18n/en.json
  i18n/qqq.json
  includes/Components/CitizenComponentPageTools.php
  includes/Components/CitizenComponentStickyHeader.php
  includes/Hooks/ResourceLoaderHooks.php
  includes/ShareConfigProvider.php
  includes/SkinCitizen.php
  resources/skins.citizen.scripts/share.js
  resources/skins.citizen.share/App.vue
  resources/skins.citizen.share/config.json
  resources/skins.citizen.share/init.js
  skin.json
  templates/PageTools.mustache
  templates/Share.mustache
  templates/ShareNative.mustache
  tests/phpunit/integration/ShareConfigProviderTest.php
Due: js-lint, style-lint, i18n-lint, md-lint, test

feat(share): ✨ lazy-load panel with skeleton, fall back to native on failure
  resources/skins.citizen.scripts/share.js
  resources/skins.citizen.scripts/shareNative.js
  resources/skins.citizen.scripts/skin.js
  resources/skins.citizen.scripts/triggerNativeShare.js
  resources/skins.citizen.styles/components/Share.less
  resources/skins.citizen.styles/skin.less
  skin.json
  templates/Share.mustache
  tests/vitest/skins.citizen.scripts/share.test.js
  tests/vitest/skins.citizen.scripts/shareNative.test.js
Due: js-lint, style-lint, test

docs(agents): 📚️ document lazy-loaded Vue module convention
  AGENTS.md
Due: md-lint

feat(share): ✨ rebuild panel as native dialog with Codex components
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.scripts/share.js
  resources/skins.citizen.scripts/shareNative.js
  resources/skins.citizen.share/App.vue
  resources/skins.citizen.share/init.js
  resources/skins.citizen.styles/components/Share.less
  skin.json
  templates/PageTools.mustache
  templates/Share.mustache
  templates/ShareNative.mustache
  tests/vitest/skins.citizen.scripts/share.test.js
  tests/vitest/skins.citizen.scripts/shareNative.test.js
Due: js-lint, style-lint, i18n-lint, test

refactor(share): ♻️ extract OnWikiJsonReader
  includes/Hooks/ResourceLoaderHooks.php
  includes/OnWikiJsonReader.php
  includes/PreferencesConfigProvider.php
  includes/ShareConfigProvider.php
  tests/phpunit/integration/PreferencesConfigProviderTest.php
  tests/phpunit/integration/ShareConfigProviderTest.php
Due: none

feat(share): ✨ drop shipped service defaults and LocalSettings config
  docs/.vitepress/config.ts
  docs/src/config/index.md
  docs/src/customization/recipes.md
  docs/src/customization/share.md
  includes/Hooks/ResourceLoaderHooks.php
  skin.json
Due: md-lint

refactor(share): ♻️ return service list directly from RL callback
  includes/Hooks/ResourceLoaderHooks.php
  resources/skins.citizen.share/init.js
  skin.json
Due: js-lint, test

feat(share): ✨ replace EnableCustomizableSharePanel bool with ShareMode enum
  docs/src/config/index.md
  docs/src/customization/share.md
  includes/Components/CitizenComponentPageTools.php
  includes/Hooks/ResourceLoaderHooks.php
  resources/skins.citizen.scripts/share.js
  resources/skins.citizen.scripts/shareNative.js
  resources/skins.citizen.scripts/skin.js
  skin.json
  templates/Share.mustache
  tests/vitest/skins.citizen.scripts/share.test.js
  tests/vitest/skins.citizen.scripts/shareNative.test.js
Due: js-lint, md-lint, test

fix(share): 🐛 focus copy button instead of URL input on open
  resources/skins.citizen.share/App.vue
Due: js-lint, style-lint, test

fix(share): 🐛 stop resetting scroll position when opening share
  resources/skins.citizen.scripts/share.js
  tests/vitest/skins.citizen.scripts/share.test.js
Due: js-lint, test

feat(share): ✨ animate dialog open and close
  resources/skins.citizen.styles/components/Share.less
Due: style-lint

fix(share): 🐛 flatten @starting-style to the top level for Chrome
  resources/skins.citizen.styles/components/Share.less
Due: style-lint

chore: delete unused tests/scripts directory
  tests/scripts/.eslintrc.json
Due: none

docs(share): 📚️ refresh stale createShareNative reference in JSDoc
  resources/skins.citizen.scripts/triggerNativeShare.js
Due: js-lint, test

perf(share): ⚡️ skip panel prefetch when auto mode hands off to Web Share
  resources/skins.citizen.scripts/share.js
  tests/vitest/skins.citizen.scripts/share.test.js
Due: js-lint, test

chore(share): 🔧 drop unused skins.citizen.icons dependency
  skin.json
Due: none

style(share): 🎨 scroll inside dialog when configured services overflow
  resources/skins.citizen.styles/components/Share.less
Due: style-lint

fix(share): 🐛 warn and fall back when wgCitizenShareMode is invalid
  includes/Components/CitizenComponentPageTools.php
  includes/Hooks/ResourceLoaderHooks.php
  includes/ShareMode.php
Due: none

docs(share): 📚️ document the file icon field
  docs/src/customization/share.md
Due: md-lint

docs(share): 📚️ clarify icon caching behaviour for external URLs
  docs/src/customization/share.md
Due: md-lint

Revert "fix(share): 🐛 warn and fall back when wgCitizenShareMode is invalid"
  includes/Components/CitizenComponentPageTools.php
  includes/Hooks/ResourceLoaderHooks.php
  includes/ShareMode.php
Due: none

refactor(share): ♻️ name StickyHeader constructor arguments at call site
  includes/SkinCitizen.php
Due: none

Path conditions:
  js-lint: any of: **/*.{js,vue}
  style-lint: any of: **/*.{less,css,vue}
  i18n-lint: any of: i18n/*.json
  md-lint: any of: *.md
  test: any of: **/*.{js,vue}
