Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

js-lint:
  run: npx eslint {staged_files}

style-lint:
  run: npx stylelint {staged_files}

i18n-lint:
  run: npm run lint:i18n

md-lint:
  run: npm run lint:md

test:
  run: npx vitest run

feat(commandPalette): ✨ add copy-to-clipboard affordance with keyboard shortcut
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteDetailPanel.vue
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  skin.json
Due: js-lint, style-lint, i18n-lint, test

refactor(commandPalette): ♻️ drop redundant media-search query action
  i18n/en.json
  i18n/qqq.json
  includes/Hooks/ResourceLoaderHooks.php
  resources/skins.citizen.commandPalette/init.js
  resources/skins.citizen.commandPalette/utils/appendQueryActions.js
  skin.json
  tests/vitest/commandPalette/utils/appendQueryActions.test.js
  tests/vitest/mocks/commandPaletteConfig.js
Due: js-lint, i18n-lint, test

docs(commandPalette): 📚️ document the file mode
  docs/src/config/extensions.md
  docs/src/customization/command-palette.md
Due: md-lint

feat(commandPalette): ✨ add gallery container and tile components
  resources/skins.citizen.commandPalette/components/CommandPaletteGallery.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteGalleryItem.vue
  skin.json
  tests/vitest/commandPalette/components/CommandPaletteGallery.test.js
  tests/vitest/commandPalette/components/CommandPaletteGalleryItem.test.js
Due: js-lint, style-lint, test

feat(commandPalette): ✨ tint copy success checkmark with success color
  resources/skins.citizen.commandPalette/components/CommandPaletteDetailPanel.vue
Due: js-lint, style-lint, test

feat(commandPalette): ✨ add file and media mode
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/init.js
  resources/skins.citizen.commandPalette/modes/file.js
  skin.json
  tests/vitest/commandPalette/modes/file.test.js
Due: js-lint, i18n-lint, test

feat(commandPalette): ✨ add useGridNavigation composable
  resources/skins.citizen.commandPalette/composables/useGridNavigation.js
  resources/skins.citizen.commandPalette/composables/useListNavigation.js
  skin.json
  tests/vitest/commandPalette/composables/useGridNavigation.test.js
Due: js-lint, test

feat(commandPalette): ✨ swap between list and grid layouts per mode
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
Due: js-lint, style-lint, test

docs(commandPalette): 📚️ refresh PaletteMode typedef to match reality
  resources/skins.citizen.commandPalette/types.js
Due: js-lint, test

feat(commandPalette): ✨ add defineMode and defineCommand factories
  resources/skins.citizen.commandPalette/services/defineMode.js
  skin.json
  tests/vitest/commandPalette/services/defineMode.test.js
Due: js-lint, test

feat(commandPalette): ✨ add defensive register-time warnings
  resources/skins.citizen.commandPalette/services/paletteRegistry.js
  tests/vitest/commandPalette/services/paletteRegistry.test.js
Due: js-lint, test

refactor(commandPalette): ♻️ adopt defineMode/defineCommand in built-in modes
  resources/skins.citizen.commandPalette/modes/action.js
  resources/skins.citizen.commandPalette/modes/category.js
  resources/skins.citizen.commandPalette/modes/file.js
  resources/skins.citizen.commandPalette/modes/help.js
  resources/skins.citizen.commandPalette/modes/history.js
  resources/skins.citizen.commandPalette/modes/namespace.js
  resources/skins.citizen.commandPalette/modes/user.js
Due: js-lint, test

feat(commandPalette): ✨ expose defineMode/defineCommand to extension authors
  docs/src/customization/command-palette.md
  resources/skins.citizen.commandPalette/init.js
Due: js-lint, md-lint, test

refactor(commandPalette): ♻️ extract useActionNavigation composable
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/composables/useActionNavigation.js
  skin.json
  tests/vitest/commandPalette/composables/useActionNavigation.test.js
Due: js-lint, style-lint, test

refactor(commandPalette): ♻️ extract useBodyHeightAnimation composable
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/composables/useBodyHeightAnimation.js
  skin.json
  tests/vitest/commandPalette/composables/useBodyHeightAnimation.test.js
Due: js-lint, style-lint, test

refactor(commandPalette): ♻️ extract useGalleryColumnCount composable
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/composables/useGalleryColumnCount.js
  skin.json
  tests/vitest/commandPalette/composables/useGalleryColumnCount.test.js
Due: js-lint, style-lint, test

refactor(commandPalette): ♻️ extract useResultRouter composable
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/composables/useResultRouter.js
  skin.json
  tests/vitest/commandPalette/composables/useResultRouter.test.js
Due: js-lint, style-lint, test

refactor(commandPalette): ♻️ inject instantDiffs as previewService
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/init.js
Due: js-lint, style-lint, test

refactor(commandPalette): ♻️ segregate useKeyboard options into named buckets
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  tests/vitest/commandPalette/composables/useKeyboard.test.js
Due: js-lint, style-lint, test

refactor(commandPalette): ♻️ extract useOperationLifecycle composable
  resources/skins.citizen.commandPalette/composables/useOperationLifecycle.js
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  skin.json
  tests/vitest/commandPalette/composables/useOperationLifecycle.test.js
Due: js-lint, test

feat(commandPalette): ✨ add getItemDetail to defineMode contract
  resources/skins.citizen.commandPalette/services/defineMode.js
  tests/vitest/commandPalette/services/defineMode.test.js
Due: js-lint, test

perf(commandPalette): ⚡️ split file mode list query from per-item detail
  resources/skins.citizen.commandPalette/modes/file.js
  tests/vitest/commandPalette/modes/file.test.js
Due: js-lint, test

feat(commandPalette): ✨ wire orchestration requestItemDetail for lazy detail
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
Due: js-lint, test

feat(commandPalette): ✨ trigger lazy item-detail fetch on focus change
  resources/skins.citizen.commandPalette/components/App.vue
Due: js-lint, style-lint, test

Path conditions:
  js-lint: any of: **/*.{js,vue}
  style-lint: any of: **/*.{less,css,vue}
  i18n-lint: any of: i18n/*.json
  md-lint: any of: *.md
  test: any of: **/*.{js,vue}
