Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

js-lint:
  run: npx eslint {staged_files}

style-lint:
  run: npx stylelint {staged_files}

i18n-lint:
  run: npm run lint:i18n

md-lint:
  run: npm run lint:md

test:
  run: npx vitest run

docs(preferences): 📚️ add programmatic registration API documentation
  README.md
  docs/src/config/index.md
  docs/src/customization/preferences.md
  docs/src/guide/introduction.md
Due: md-lint

refactor(preferences): ♻️ make App.vue sections reactive via computed()
  resources/skins.citizen.preferences/App.vue
  tests/vitest/skins.citizen.preferences/App.test.js
Due: js-lint, style-lint, test

refactor(header): ♻️ replace citizen-header__button with CdxButton on logo
  resources/skins.citizen.styles/components/Header.less
  resources/skins.citizen.styles/components/IconAnimation.less
  templates/Header__logo.mustache
Due: style-lint

refactor(echo): ♻️ replace MutationObserver with hook-based Echo upgrade
  includes/Hooks/SkinHooks.php
  resources/skins.citizen.scripts/echo.js
  resources/skins.citizen.scripts/skin.js
  skinStyles/extensions/Echo/ext.echo.styles.badge.less
  tests/phpunit/integration/Hooks/SkinHooksTest.php
Due: js-lint, style-lint, test

ci: 👷 cache coverage reports for complete SonarQube analysis
  .github/workflows/ci.yml
Due: none

docs: 📚️ remove under-construction sections
  docs/.vitepress/config.ts
  docs/src/community/tips.md
  docs/src/config/extensions.md
  docs/src/customization/wiki-templates.md
Due: md-lint

refactor(header): ♻️ remove unused citizen-header__button styles
  resources/skins.citizen.styles/components/Header.less
  skinStyles/extensions/Echo/ext.echo.styles.badge.less
Due: style-lint

refactor(preferences): ♻️ replace theme preview lines with CdxIcon
  resources/skins.citizen.preferences/RadioGroup.vue
  skin.json
  tests/vitest/mocks/preferencesIcons.js
  tests/vitest/setup.js
  tests/vitest/skins.citizen.preferences/RadioGroup.test.js
Due: js-lint, style-lint, test

feat(preferences): ✨ add image dimming preference for dark mode
  i18n/en.json
  i18n/qqq.json
  includes/SkinCitizen.php
  resources/skins.citizen.preferences/defaultConfig.js
  resources/skins.citizen.styles/common/features.less
  resources/skins.citizen.styles/skinning/content.media-screen.less
  resources/skins.citizen.styles/tokens-citizen.less
  skin.json
  tests/vitest/skins.citizen.preferences/App.test.js
  tests/vitest/skins.citizen.preferences/defaultConfig.test.js
Due: js-lint, style-lint, i18n-lint, test

fix lint error with single quotes
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.styles.less
Due: style-lint

use Codex mixin style for collapse icon
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.styles.less
Due: style-lint

Remove unused styles for article feedback feature marker
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.dashboard.styles.less
Due: style-lint

article feedback v5 extension support
  skin.json
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.dashboard.styles.less
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.styles.less
Due: style-lint

import mediawiki.skin.variables.less
  skinStyles/extensions/ArticleFeedbackv5/ext.articleFeedbackv5.styles.less
Due: style-lint

build: release 3.14.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

feat(skinStyles)
  skinStyles/extensions/UserProfileV2/ext.userProfileV2.less
Due: style-lint

feat(skinStyles): ✨ updating ext.UserProfileV2
  skinStyles/extensions/UserProfileV2/ext.userProfileV2.less
Due: style-lint

feat(commandPalette): 💥 ✨ replace Pinia store with composable + DI architecture
  docs/src/customization/command-palette.md
  resources/skins.citizen.commandPalette/commands/action.js
  resources/skins.citizen.commandPalette/commands/example-simple.js
  resources/skins.citizen.commandPalette/commands/example-subquery.js
  resources/skins.citizen.commandPalette/commands/user.js
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHeader.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteList.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteListItem.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteListItemActions.vue
  resources/skins.citizen.commandPalette/components/CommandPalettePresults.vue
  resources/skins.citizen.commandPalette/composables/useActionNavigation.js
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.commandPalette/composables/useListNavigation.js
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/init.js
  resources/skins.citizen.commandPalette/providers/CommandProvider.js
  resources/skins.citizen.commandPalette/providers/QueryActionProvider.js
  resources/skins.citizen.commandPalette/providers/RecentItemsProvider.js
  resources/skins.citizen.commandPalette/providers/RelatedArticlesProvider.js
  resources/skins.citizen.commandPalette/providers/SearchProvider.js
  resources/skins.citizen.commandPalette/providers/createProvider.js
  resources/skins.citizen.commandPalette/searchClients/MwRestSearchClient.js
  resources/skins.citizen.commandPalette/searchClients/SearchClientFactory.js
  resources/skins.citizen.commandPalette/services/commandRegistry.js
  resources/skins.citizen.commandPalette/services/searchClient.js
  resources/skins.citizen.commandPalette/stores/searchStore.js
  resources/skins.citizen.commandPalette/types.js
  resources/skins.citizen.commandPalette/utils/appendQueryActions.js
  resources/skins.citizen.commandPalette/utils/fetch.js
  skin.json
Due: js-lint, style-lint, md-lint, test

test(commandPalette): 🚨 add comprehensive test suite
  tests/vitest/commandPalette/composables/useKeyboard.test.js
  tests/vitest/commandPalette/composables/useListNavigation.test.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/providers/CommandProvider.test.js
  tests/vitest/commandPalette/providers/SearchProvider.test.js
  tests/vitest/commandPalette/providers/createProvider.test.js
  tests/vitest/commandPalette/services/commandRegistry.test.js
  tests/vitest/commandPalette/services/recentItems.test.js
  tests/vitest/commandPalette/services/searchClient.test.js
  tests/vitest/commandPalette/utils/appendQueryActions.test.js
  tests/vitest/mocks/commandPaletteConfig.js
  tests/vitest/mocks/commandPaletteIcons.js
  tests/vitest/mocks/mw.js
  tests/vitest/setup.js
Due: js-lint, test

ci(tests): 👷 prevent flaky Vitest timeouts in pre-commit hook
  lefthook.yml
  vitest.config.js
Due: none

docs(AGENTS): 📚️ note ci/chore prefixes for non-user-facing changes
  AGENTS.md
Due: md-lint

feat(commandPalette): ✨ replace Pinia store with composable + DI architecture
  docs/src/customization/command-palette.md
  resources/skins.citizen.commandPalette/commands/action.js
  resources/skins.citizen.commandPalette/commands/example-simple.js
  resources/skins.citizen.commandPalette/commands/example-subquery.js
  resources/skins.citizen.commandPalette/commands/user.js
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHeader.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteList.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteListItem.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteListItemActions.vue
  resources/skins.citizen.commandPalette/components/CommandPalettePresults.vue
  resources/skins.citizen.commandPalette/composables/useActionNavigation.js
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.commandPalette/composables/useListNavigation.js
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/init.js
  resources/skins.citizen.commandPalette/providers/CommandProvider.js
  resources/skins.citizen.commandPalette/providers/QueryActionProvider.js
  resources/skins.citizen.commandPalette/providers/RecentItemsProvider.js
  resources/skins.citizen.commandPalette/providers/RelatedArticlesProvider.js
  resources/skins.citizen.commandPalette/providers/SearchProvider.js
  resources/skins.citizen.commandPalette/providers/createProvider.js
  resources/skins.citizen.commandPalette/searchClients/MwRestSearchClient.js
  resources/skins.citizen.commandPalette/searchClients/SearchClientFactory.js
  resources/skins.citizen.commandPalette/services/commandRegistry.js
  resources/skins.citizen.commandPalette/services/searchClient.js
  resources/skins.citizen.commandPalette/stores/searchStore.js
  resources/skins.citizen.commandPalette/types.js
  resources/skins.citizen.commandPalette/utils/appendQueryActions.js
  resources/skins.citizen.commandPalette/utils/fetch.js
  skin.json
Due: js-lint, style-lint, md-lint, test

feat(commandPalette): ✨ add data-driven keyboardHints computed to useKeyboard
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
Due: js-lint, test

test(commandPalette): 🚨 add keyboardHints computed tests
  tests/vitest/commandPalette/composables/useKeyboard.test.js
Due: js-lint, test

refactor(commandPalette): ♻️ replace keyhint prop drilling with data-driven hints
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteFooter.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteKeyboardHints.vue
Due: js-lint, style-lint, test

test(commandPalette): 🚨 update orchestration tests for section data model
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
Due: js-lint, test

refactor(commandPalette): ♻️ teach CommandPaletteList to render sections
  resources/skins.citizen.commandPalette/components/CommandPaletteList.vue
Due: js-lint, style-lint, test

refactor(commandPalette): ♻️ delete Presults, wire sectioned list in App
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPalettePresults.vue
  skin.json
Due: js-lint, style-lint, test

refactor(commandPalette): ♻️ reduce cognitive complexity flagged by SonarQube
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/providers/CommandProvider.js
Due: js-lint, test

Path conditions:
  js-lint: any of: **/*.{js,vue}
  style-lint: any of: **/*.{less,css,vue}
  i18n-lint: any of: i18n/*.json
  md-lint: any of: *.md
  test: any of: **/*.{js,vue}
