Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

lefthook.yml:

glob_matcher: doublestar

pre-commit:
  parallel: true
  commands:
    js-lint:
      run: npx eslint {staged_files}
      glob: "**/*.{js,vue}"
    style-lint:
      run: npx stylelint {staged_files}
      glob: "**/*.{less,css,vue}"
    i18n-lint:
      run: npm run lint:i18n
      glob: "i18n/*.json"
    md-lint:
      run: npm run lint:md
      glob: "*.md"
    test:
      run: npx vitest run
      glob: "**/*.{js,vue}"

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    devmoji:
      run: npx devmoji -e --lint

Localisation updates from https://translatewiki.net.
  i18n/fr.json
  i18n/gl.json
  i18n/he.json
  i18n/hi.json
  i18n/ia.json
  i18n/it.json
  i18n/ko.json
  i18n/nl.json
  i18n/ps.json
  i18n/ru.json
  i18n/sl.json
  i18n/so.json
  i18n/tr.json
  i18n/vi.json
  i18n/zh-hans.json
  i18n/zh-hant.json
Due: i18n-lint

docs: deploy main @ 0632144868f976571f488b28f780841f8d855bdb 0632144868f976571f488b28f780841f8d855bdb
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 4b9318a70f57e941e57e5ac2bcea0f2976ba8eaf 4b9318a70f57e941e57e5ac2bcea0f2976ba8eaf
  llms-full.txt
  llms.txt
Due: none

fix(WikiLove): 🐛 fix missing heart icon for the button (#1846)
  skin.json
Due: none

feat(keyboardHint): ✨ draw shortcut keys as keycaps
  resources/skins.citizen.styles/components/KeyboardHint.less
Due: style-lint

feat(keyboardHint): ✨ give each key in a shortcut its own cap
  resources/skins.citizen.commandPalette/components/CommandPaletteHelpTriggers.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHelpView.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteKeyboardHints.vue
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.commandPalette/composables/useKeyboardBindings.js
  resources/skins.citizen.commandPalette/types.js
  resources/skins.citizen.scripts/dropdown.js
  resources/skins.citizen.styles/components/Dropdown.less
  resources/skins.citizen.styles/components/KeyboardHint.less
  resources/skins.citizen.styles/components/UserInfo.less
  resources/skins.citizen.styles/components/UserMenu.less
  tests/vitest/commandPalette/composables/useKeyboard.test.js
  tests/vitest/skins.citizen.scripts/dropdown.test.js
Due: js-lint, style-lint, test

build: release 3.22.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

Localisation updates from https://translatewiki.net.
  i18n/gl.json
  i18n/zh-hans.json
Due: i18n-lint

fix(pagetools): 🐛 make every page tab visible and reachable on mobile
  resources/skins.citizen.styles/components/Pagetools.less
Due: style-lint

feat(pagetools): ✨ reduce the mobile page bar to edit and the overflow
  i18n/en.json
  i18n/qqq.json
  includes/SkinCitizen.php
  resources/skins.citizen.scripts/pageTools.js
  resources/skins.citizen.scripts/skin.js
  resources/skins.citizen.styles/components/Menu.less
  resources/skins.citizen.styles/components/Pagetools.less
  skin.json
  tests/vitest/skins.citizen.scripts/pageTools.test.js
  tsconfig.json
Due: js-lint, style-lint, i18n-lint, test

feat(tableOfContents): ✨ give the mobile contents control the section you are in
  resources/skins.citizen.styles/components/TableOfContents.less
  resources/skins.citizen.toc/index.js
  resources/skins.citizen.toc/sectionLabel.js
  skin.json
  tests/vitest/skins.citizen.toc/index.test.js
  tests/vitest/skins.citizen.toc/sectionLabel.test.js
Due: js-lint, style-lint, test

feat(stickyHeader): ✨ drop the sticky bar below tablet
  resources/skins.citizen.scripts/setupObservers.js
  resources/skins.citizen.scripts/stickyHeader.js
  resources/skins.citizen.styles/components/StickyHeader.less
Due: js-lint, style-lint, test

docs: deploy main @ be6ed58a2366bf508053f98f7362855266d1260a be6ed58a2366bf508053f98f7362855266d1260a
  llms-full.txt
  llms.txt
Due: none

fix(pagetools): 🐛 drop the button chrome from rows moved into the overflow card
  resources/skins.citizen.scripts/pageTools.js
  resources/skins.citizen.styles/components/Menu.less
  tests/vitest/skins.citizen.scripts/pageTools.test.js
Due: js-lint, style-lint, test

fix(pagetools): 🐛 keep the page tab labels at the menu's text size
  resources/skins.citizen.styles/components/Pagetools.less
Due: style-lint

build: release 3.23.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

Localisation updates from https://translatewiki.net.
  i18n/gl.json
  i18n/nl.json
  i18n/pl.json
  i18n/so.json
  i18n/sr-ec.json
  i18n/tr.json
Due: i18n-lint

docs: deploy main @ 802bc358acedf7f6e5da60bb55d92e125a21b994 802bc358acedf7f6e5da60bb55d92e125a21b994
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ cdbf86b0efd0cac97e68d29ccbeeb6ea810b71fd cdbf86b0efd0cac97e68d29ccbeeb6ea810b71fd
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 0364653208a728ecb0a50f7e9b1768d74605d954 0364653208a728ecb0a50f7e9b1768d74605d954
  llms-full.txt
  llms.txt
Due: none

docs: deploy main @ 4e12aa61e59de241dd59de5d6a654b43b78a6f24 4e12aa61e59de241dd59de5d6a654b43b78a6f24
  llms-full.txt
  llms.txt
Due: none

fix(tokens): 🐛 restore escape on the dark backdrop token
  resources/skins.citizen.tokens.new/background-color.less
Due: style-lint

perf(fonts): ⚡️ shrink the Roboto Flex download by pinning optical size and grade
  docs/src/customization/theming.md
  resources/skins.citizen.styles/common/typography.less
  resources/skins.citizen.styles/fonts.less
  resources/skins.citizen.styles/fonts/RobotoFlex_cyrillic-ext.woff2
  resources/skins.citizen.styles/fonts/RobotoFlex_cyrillic.woff2
  resources/skins.citizen.styles/fonts/RobotoFlex_greek.woff2
  resources/skins.citizen.styles/fonts/RobotoFlex_latin-ext.woff2
  resources/skins.citizen.styles/fonts/RobotoFlex_latin.woff2
  resources/skins.citizen.styles/fonts/RobotoFlex_vietnamese.woff2
  resources/skins.citizen.tokens.new/dark-overrides.less
  resources/skins.citizen.tokens.new/font.less
  resources/skins.citizen.tokens/tokens-theme-base.less
  resources/skins.citizen.tokens/tokens-theme-dark.less
Due: style-lint, md-lint

fix(fonts): 🐛 refresh the Roboto Flex subsets and their unicode ranges
  resources/skins.citizen.styles/fonts.less
  resources/skins.citizen.styles/fonts/RobotoFlex_cyrillic-ext.woff2
  resources/skins.citizen.styles/fonts/RobotoFlex_cyrillic.woff2
  resources/skins.citizen.styles/fonts/RobotoFlex_greek.woff2
  resources/skins.citizen.styles/fonts/RobotoFlex_latin-ext.woff2
  resources/skins.citizen.styles/fonts/RobotoFlex_latin.woff2
  resources/skins.citizen.styles/fonts/RobotoFlex_vietnamese.woff2
Due: style-lint

perf(fonts): ⚡️ use the device's own Roboto instead of downloading it
  docs/src/customization/theming.md
  resources/skins.citizen.styles/fonts.less
Due: style-lint, md-lint
