Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

js-lint:
  run: npx eslint {staged_files}

style-lint:
  run: npx stylelint {staged_files}

i18n-lint:
  run: npm run lint:i18n

md-lint:
  run: npm run lint:md

test:
  run: npx vitest run

docs(showcase): 📚️ add NITC Wiki link to showcase (#1579)
  docs/src/community/showcase.md
Due: md-lint

Localisation updates from https://translatewiki.net.
  i18n/fi.json
  i18n/nl.json
  i18n/pt-br.json
  i18n/sl.json
  i18n/zh-hans.json
Due: i18n-lint

Localisation updates from https://translatewiki.net.
  i18n/fr.json
  i18n/nl.json
  i18n/ru.json
  i18n/sms.json
  i18n/tr.json
Due: i18n-lint

Update community showcase section with updated links and new wikis
  docs/src/community/showcase.md
Due: md-lint

Update community showcase section with updated links and new wikis (#1597)
  docs/src/community/showcase.md
Due: md-lint

fix: 🐛 stop preloading the unused default logo
  skin.json
Due: none

fix: 🐛 restore the Read button in the sticky header on history pages
  includes/Components/CitizenComponentStickyHeader.php
  tests/phpunit/Unit/Components/CitizenComponentStickyHeaderTest.php
Due: none

build: release 3.17.1
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

docs(showcase): 📚️ add Stella Sora Wiki to showcase
  docs/src/community/showcase.md
Due: md-lint

fix(Cite): 🐛 correct code element font styles in cite
  skinStyles/extensions/Cite/ext.cite.styles.less
Due: style-lint

Localisation updates from https://translatewiki.net.
  i18n/fr.json
  i18n/ru.json
Due: i18n-lint

Localisation updates from https://translatewiki.net.
  i18n/fr.json
Due: i18n-lint

Localisation updates from https://translatewiki.net.
  i18n/sl.json
Due: i18n-lint

build: release 3.17.2
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

Add ArticleFeedbackv5 to extensions list
  docs/src/config/extensions.md
Due: md-lint

docs(extensions): 📚 add ArticleFeedbackv5 to extensions list (#1612)
  docs/src/config/extensions.md
Due: md-lint

feat(preview): ✨ add version-scoped preview channel resolver
  includes/PreviewChannel.php
  tests/phpunit/Unit/PreviewChannelTest.php
Due: none

feat(preview): ✨ switch token pipeline selection to wgCitizenPreview
  i18n/en.json
  i18n/qqq.json
  includes/Hooks/SkinHooks.php
  skin.json
  tests/phpunit/integration/Hooks/SkinHooksTest.php
Due: i18n-lint

refactor(preview): ♻️ stamp and match the citizen-v4 generation class
  resources/skins.citizen.codex.styles/CdxButton.less
  resources/skins.citizen.tokens.new/background-color.less
  resources/skins.citizen.tokens.new/border-color.less
  resources/skins.citizen.tokens.new/box-shadow.less
  resources/skins.citizen.tokens.new/color.less
  resources/skins.citizen.tokens.new/font.less
  resources/skins.citizen.tokens.new/misc.less
  resources/skins.citizen.tokens.new/opacity.less
  resources/skins.citizen.tokens.new/primitives-citizen.less
  resources/skins.citizen.tokens.new/primitives-codex.less
  resources/skins.citizen.tokens.new/surface.less
  resources/skins.citizen.tokens.new/syntax-color.less
  resources/skins.citizen.tokens.new/tokens.less
  resources/skins.citizen.tokens/tokens-codex.less
  resources/skins.citizen.tokens/tokens-theme-base.less
  resources/skins.citizen.tokens/tokens-theme-dark.less
  resources/skins.citizen.tokens/tokens.less
Due: style-lint

Update showcase.md, added: capoeirawiki
  docs/src/community/showcase.md
Due: md-lint

docs(showcase): 📚️ add CapoeiraWiki to showcase
  docs/src/community/showcase.md
Due: md-lint

docs(guide): 📚️ add the Migrating to Citizen 4 guide
  docs/.vitepress/config.ts
  docs/src/guide/migrating-to-citizen-4.md
Due: md-lint

docs(config): 📚️ ⚙️ document wgCitizenPreview and drop the old token switch section
  docs/src/config/index.md
Due: md-lint

docs(contribute): 📚️ document preview channel conventions and the flip runbook
  AGENTS.md
  docs/.vitepress/config.ts
  docs/src/contribute/preview-channel.md
Due: md-lint

feat(preview): ✨ replace the experimental token switch with a version-scoped preview channel (#1617)
  AGENTS.md
  docs/.vitepress/config.ts
  docs/src/config/index.md
  docs/src/contribute/preview-channel.md
  docs/src/guide/migrating-to-citizen-4.md
  i18n/en.json
  i18n/qqq.json
  includes/Hooks/SkinHooks.php
  includes/PreviewChannel.php
  resources/skins.citizen.codex.styles/CdxButton.less
  resources/skins.citizen.tokens.new/background-color.less
  resources/skins.citizen.tokens.new/border-color.less
  resources/skins.citizen.tokens.new/box-shadow.less
  resources/skins.citizen.tokens.new/color.less
  resources/skins.citizen.tokens.new/font.less
  resources/skins.citizen.tokens.new/misc.less
  resources/skins.citizen.tokens.new/opacity.less
  resources/skins.citizen.tokens.new/primitives-citizen.less
  resources/skins.citizen.tokens.new/primitives-codex.less
  resources/skins.citizen.tokens.new/surface.less
  resources/skins.citizen.tokens.new/syntax-color.less
  resources/skins.citizen.tokens.new/tokens.less
  resources/skins.citizen.tokens/tokens-codex.less
  resources/skins.citizen.tokens/tokens-theme-base.less
  resources/skins.citizen.tokens/tokens-theme-dark.less
  resources/skins.citizen.tokens/tokens.less
  skin.json
  tests/phpunit/Unit/PreviewChannelTest.php
  tests/phpunit/integration/Hooks/SkinHooksTest.php
Due: style-lint, i18n-lint, md-lint

build(deps-dev): 📦️ sync package-lock.json for commitlint 21.2.0
  package-lock.json
Due: none

docs(guide): 📚️ rewrite migrating to Citizen 4 guide
  docs/.vitepress/config.ts
  docs/src/guide/migrating-to-citizen-4.md
Due: md-lint

Path conditions:
  js-lint: any of: **/*.{js,vue}
  style-lint: any of: **/*.{less,css,vue}
  i18n-lint: any of: i18n/*.json
  md-lint: any of: *.md
  test: any of: **/*.{js,vue}
