Repository StarCitizenTools/mediawiki-skins-Citizen: changes, and which lefthook commands are due for each by the changed paths.
All: js-lint, style-lint, i18n-lint, md-lint, test

lefthook.yml:

glob_matcher: doublestar

pre-commit:
  parallel: true
  commands:
    js-lint:
      run: npx eslint {staged_files}
      glob: "**/*.{js,vue}"
    style-lint:
      run: npx stylelint {staged_files}
      glob: "**/*.{less,css,vue}"
    i18n-lint:
      run: npm run lint:i18n
      glob: "i18n/*.json"
    md-lint:
      run: npm run lint:md
      glob: "*.md"
    test:
      run: npx vitest run
      glob: "**/*.{js,vue}"

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

prepare-commit-msg:
  commands:
    devmoji:
      run: npx devmoji -e --lint

Localisation updates from https://translatewiki.net.
  i18n/fr.json
  i18n/uk.json
Due: i18n-lint

fix(toc): fix incorrect link font size for MW 1.45+
  resources/skins.citizen.styles/components/TableOfContents.less
Due: style-lint

chore(styles): 🔧 remove needless stylelint disable comments
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.styles.fonts.ar/ar.less
  resources/skins.citizen.styles.fonts.cjk/cjk-hk.less
  resources/skins.citizen.styles.fonts.cjk/cjk-jp.less
  resources/skins.citizen.styles.fonts.cjk/cjk-kr.less
  resources/skins.citizen.styles.fonts.cjk/cjk-sc.less
  resources/skins.citizen.styles.fonts.cjk/cjk-tc.less
  resources/skins.citizen.styles/common/features.less
  resources/skins.citizen.styles/components/KeyboardHint.less
  resources/skins.citizen.styles/fonts.less
  resources/skins.citizen.styles/layout.less
  resources/skins.citizen.styles/tokens-citizen.less
  skinStyles/extensions/UserProfileV2/ext.userProfileV2.less
Due: js-lint, style-lint, test

build: release 3.15.1
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
  skin.json
Due: md-lint

Localisation updates from https://translatewiki.net.
  i18n/ko.json
Due: i18n-lint

Localisation updates from https://translatewiki.net.
  i18n/qqq.json
  i18n/tr.json
Due: i18n-lint

refactor(CommandPalette): ♻️ remove unused CSS styles for command palette list items
  resources/skins.citizen.commandPalette/components/App.vue
Due: js-lint, style-lint, test

style: 🎨 fix various stylelint issues
  resources/skins.citizen.styles.fonts.ar/ar.less
  resources/skins.citizen.styles.fonts.cjk/cjk-hk.less
  resources/skins.citizen.styles.fonts.cjk/cjk-jp.less
  resources/skins.citizen.styles.fonts.cjk/cjk-kr.less
  resources/skins.citizen.styles.fonts.cjk/cjk-sc.less
  resources/skins.citizen.styles.fonts.cjk/cjk-tc.less
  resources/skins.citizen.styles/common/features.less
  resources/skins.citizen.styles/components/KeyboardHint.less
  resources/skins.citizen.styles/fonts.less
  resources/skins.citizen.styles/layout.less
  resources/skins.citizen.styles/tokens-citizen.less
  skinStyles/extensions/UserProfileV2/ext.userProfileV2.less
Due: style-lint

fix(commandPalette): 🐛 restore body height animation
  resources/skins.citizen.commandPalette/components/App.vue
Due: js-lint, style-lint, test

fix: 🐛 derive inline script path relative to file location
  includes/Hooks/SkinHooks.php
Due: none

Localisation updates from https://translatewiki.net.
  i18n/ko.json
  i18n/tr.json
Due: i18n-lint

fix(toc): 🐛 restore px on zero header tokens used in calc()
  resources/skins.citizen.styles/common/features.less
  resources/skins.citizen.styles/tokens-citizen.less
Due: style-lint

chore(agents): 🔧 add finalize-release skill
  .agents/skills/finalize-release/SKILL.md
  AGENTS.md
Due: md-lint

feat(tokens): ✨ introduce new color token pipeline (opt-in)
  .eslintignore
  .gitattributes
  .gitignore
  docs/src/customization/theming.md
  i18n/en.json
  i18n/qqq.json
  includes/Hooks/SkinHooks.php
  resources/mixins.less
  resources/skins.citizen.codex.styles/CdxButton.less
  resources/skins.citizen.preferences/App.vue
  resources/skins.citizen.preferences/RadioGroup.vue
  resources/skins.citizen.styles/common/features.less
  resources/skins.citizen.styles/skin.less
  resources/skins.citizen.styles/skinning/interface.category.less
  resources/skins.citizen.styles/tokens-citizen.less
  resources/skins.citizen.styles/tokens-codex.less
  resources/skins.citizen.styles/tokens.less
  resources/skins.citizen.tokens.new/primitives-citizen.less
  resources/skins.citizen.tokens.new/primitives-codex.less
  resources/skins.citizen.tokens.new/semantics-codex.deprecated.less
  resources/skins.citizen.tokens.new/semantics-codex.latest.less
  resources/skins.citizen.tokens.new/semantics-codex.mw-1.43.less
  resources/skins.citizen.tokens.new/semantics-codex.mw-1.44.less
  resources/skins.citizen.tokens.new/semantics-codex.mw-1.45.less
  resources/skins.citizen.tokens.new/tokens-theme.less
  resources/skins.citizen.tokens.new/tokens.less
  resources/skins.citizen.tokens/tokens-codex.less
  resources/skins.citizen.tokens/tokens-theme-base.less
  resources/skins.citizen.tokens/tokens-theme-dark.less
  resources/skins.citizen.tokens/tokens.less
  scripts/codex-audit.mjs
  scripts/codex-deviations.json
  skin.json
  tests/scripts/.eslintrc.json
  tests/scripts/capture-tokens.js
  tests/scripts/diff-tokens.mjs
  tests/vitest/scripts/diff-tokens.test.js
  tests/vitest/skins.citizen.preferences/RadioGroup.test.js
Due: js-lint, style-lint, i18n-lint, md-lint, test

style(tokens): 🎨 refine new color token pipeline
  docs/src/config/index.md
  docs/src/customization/theming.md
  resources/skins.citizen.codex.styles/CdxButton.less
  resources/skins.citizen.tokens.new/background-color.less
  resources/skins.citizen.tokens.new/border-color.less
  resources/skins.citizen.tokens.new/box-shadow.less
  resources/skins.citizen.tokens.new/color.less
  resources/skins.citizen.tokens.new/dark-overrides.less
  resources/skins.citizen.tokens.new/font.less
  resources/skins.citizen.tokens.new/misc.less
  resources/skins.citizen.tokens.new/opacity.less
  resources/skins.citizen.tokens.new/primitives-citizen.less
  resources/skins.citizen.tokens.new/primitives-codex.less
  resources/skins.citizen.tokens.new/semantics-codex.deprecated.less
  resources/skins.citizen.tokens.new/semantics-codex.latest.less
  resources/skins.citizen.tokens.new/semantics-codex.mw-1.43.less
  resources/skins.citizen.tokens.new/semantics-codex.mw-1.44.less
  resources/skins.citizen.tokens.new/semantics-codex.mw-1.45.less
  resources/skins.citizen.tokens.new/surface.less
  resources/skins.citizen.tokens.new/syntax-color.less
  resources/skins.citizen.tokens.new/tokens-theme.less
  resources/skins.citizen.tokens.new/tokens.less
  scripts/codex-audit.mjs
  scripts/codex-deviations.json
  tests/scripts/capture-tokens.js
  tests/scripts/diff-tokens.mjs
  tests/vitest/scripts/diff-tokens.test.js
Due: js-lint, style-lint, md-lint, test

feat(commandPalette): ✨ add pushModeContext action type
  resources/skins.citizen.commandPalette/types.js
Due: js-lint, test

feat(commandPalette): ✨ add activeModeContext stack to orchestration
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
Due: js-lint, test

feat(commandPalette): ✨ handle pushModeContext action in selectResult
  resources/skins.citizen.commandPalette/components/App.vue
Due: js-lint, style-lint, test

feat(commandPalette): ✨ pop mode context on Backspace at empty input
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  tests/vitest/commandPalette/composables/useKeyboard.test.js
Due: js-lint, style-lint, test

feat(commandPalette): ✨ render mode breadcrumb via headerLabel
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHeader.vue
Due: js-lint, style-lint, test

feat(commandPalette): ✨ add category mode with drill-down
  resources/skins.citizen.commandPalette/modes/category.js
  tests/vitest/commandPalette/modes/category.test.js
Due: js-lint, test

feat(commandPalette): ✨ register category mode and add i18n
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/init.js
  skin.json
Due: js-lint, i18n-lint, test

fix(commandPalette): 🐛 drop url on category items and switch to cdxIconTag
  resources/skins.citizen.commandPalette/modes/category.js
  skin.json
Due: js-lint, test

feat(commandPalette): ✨ add view and edit actions to category results
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/modes/category.js
  skin.json
  tests/vitest/commandPalette/modes/category.test.js
Due: js-lint, i18n-lint, test

docs(commandPalette): 📚️ document category mode and mode context
  docs/src/customization/command-palette.md
Due: md-lint

fix(commandPalette): 🐛 cancel in-flight fetch on mode context push and pop
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  tests/vitest/commandPalette/modes/category.test.js
Due: js-lint, test

feat(commandPalette): ✨ add empty and no-results states to category mode
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/modes/category.js
  skin.json
  tests/vitest/commandPalette/modes/category.test.js
Due: js-lint, i18n-lint, test

fix(commandPalette): 🐛 hide empty and no-results state during pending mode fetch
  docs/src/customization/command-palette.md
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHeader.vue
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/modes/category.js
  tests/vitest/commandPalette/modes/category.test.js
Due: js-lint, style-lint, i18n-lint, md-lint, test

feat(commandPalette): ✨ add category mode with drill-down (#1502)
  docs/src/customization/command-palette.md
  i18n/en.json
  i18n/qqq.json
  resources/skins.citizen.commandPalette/components/App.vue
  resources/skins.citizen.commandPalette/components/CommandPaletteHeader.vue
  resources/skins.citizen.commandPalette/composables/useKeyboard.js
  resources/skins.citizen.commandPalette/composables/useProviderOrchestration.js
  resources/skins.citizen.commandPalette/init.js
  resources/skins.citizen.commandPalette/modes/category.js
  resources/skins.citizen.commandPalette/types.js
  skin.json
  tests/vitest/commandPalette/composables/useKeyboard.test.js
  tests/vitest/commandPalette/composables/useProviderOrchestration.test.js
  tests/vitest/commandPalette/modes/category.test.js
Due: js-lint, style-lint, i18n-lint, md-lint, test

feat(core): ✨ drop view transition
  .stylelintrc.json
  resources/skins.citizen.styles/common/viewTransition.less
  resources/skins.citizen.styles/skin.less
Due: style-lint

feat(pageFooter): ✨ make category links more compact
  resources/skins.citizen.styles/skinning/interface.category.less
Due: style-lint
